{{! Water Loader }}
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="display: none;">
  <symbol id="wave">
    <path d="M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z"></path>
    <path d="M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z"></path>
    <path d="M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z"></path>
    <path d="M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z"></path>
  </symbol>
</svg>
<div class="loader_overlay">
   <div class="loader_wrapper">
      <div class="box">
        <div id="water" class="water">
          <svg viewBox="0 0 560 20" class="water_wave water_wave_back">
            <use xlink:href="#wave"></use>
          </svg>
          <svg viewBox="0 0 560 20" class="water_wave water_wave_front">
            <use xlink:href="#wave"></use>
          </svg>
        </div>
      </div>
      <p class="loader_text loader_text-1">Our robots are looking for the cool stuff.</p>
      <p class="loader_text loader_text-2">I hope you're having a nice day.</p>
      <p class="loader_text loader_text-3">Soon the computers will just take over.</p>
      <p class="loader_text loader_text-4">The things are doing the stuff.</p>
      <p class="loader_text loader_text-5">Your hair looks pretty.</p>
   </div>
</div>
{{! /Water Loader }}

<style>
   .profile_main_accent_color {
      background: {{#if profile.profile_main_accent_color}}{{profile.profile_main_accent_color}}{{else}}#31375A{{/if}};
      color: {{#if profile.profile_main_font_accent_color}}{{profile.profile_main_font_accent_color}}{{else}}#ffffff{{/if}};
   }

   .profile_secondary_accent_color {
      background: {{#if profile.profile_secondary_accent_color}}{{profile.profile_secondary_accent_color}}{{else}}#ffffff{{/if}};
      color: {{#if profile.profile_secondary_font_accent_color}}{{profile.profile_secondary_font_accent_color}}{{else}}#000000{{/if}};
   }

   .profile_btns_rounding {
      border-radius:{{#if profile.profile_btns_rounding}}{{profile.profile_btns_rounding}}{{else}}0{{/if}}px;
   }

   .profile_main_font {
      font-family: '{{#if profile.profile_main_font}}{{profile.profile_main_font}}{{else}}Poppins{{/if}}';
   }

   .profile_secondary_font {
      font-family: '{{#if profile.profile_secondary_font}}{{profile.profile_secondary_font}}{{else}}proxima-nova{{/if}}';
   }

   {{#if profile.profile_project_backgroundimage}}
   .profile_project_backgroundimage {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://ik.imagekit.io/w07am55tja/{{profile.profile_project_backgroundimage}}?tr=w-1920');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      padding: 25px 25px 100px 25px;
   }

   #mainBody {
      padding: 100px 0 0 0!important;
   }

   @media screen and (max-width: 992px) {
      #mainBody {
         padding: 50px 0 0 0!important;
      }
   }

   .template_one_followers__following a,
   .template_one_followers__following a strong,
   .micro_tag,
   .micropost_card .micro_title {
      color: #fff;
   }

   .micropost_card {
      background: transparent;
   }

   .micropost_card.card_is_micro_text {
      background: #fff;
      border: none;
   }
   {{else}}
   {{#if profile.profile_project_background_color}}
   .profile_project_backgroundimage {
      background: {{profile.profile_project_background_color}};
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      padding: 25px 25px 100px 25px;
   }

   #mainBody {
      padding: 100px 0 0 0!important;
   }

   @media screen and (max-width: 992px) {
     #mainBody {
        padding: 50px 0 0 0!important;
     }
   }

   .template_one_followers__following a,
   .template_one_followers__following a strong,
   .micro_tag,
   .micropost_card .micro_title {
      color: #fff;
   }

   .micropost_card {
      background: transparent;
   }

   .micropost_card.card_is_micro_text {
      background: #fff;
      border: none;
   }
   {{/if}}
   {{/if}}
</style>

<div class="profile_page" style="cursor: url(/cursors/{{profile.profile_cursor}}.cur),auto;">

<!-- Navigation bar with social media icons -->
<div class="template_one-bar profile_main_accent_color">
   {{#if profile.website}}
   <a target="_blank" href="https://{{profile.website}}" class="template_one-bar-item template_one-button"><i class="fa fa-desktop"></i></a>
   {{/if}}
   {{#if profile.youtube}}
   <a target="_blank" href="https://www.youtube.com/channel/{{profile.youtube}}" class="template_one-bar-item template_one-button"><i class="fa fa-youtube-play"></i></a>
   {{/if}}
   {{#if profile.twitter}}
   <a target="_blank" href="https://twitter.com/{{profile.twitter}}" class="template_one-bar-item template_one-button"><i class="fa fa-twitter"></i></a>
   {{/if}}
   {{#if profile.instagram}}
   <a target="_blank" href="https://www.instagram.com/{{profile.instagram}}" class="template_one-bar-item template_one-button"><i class="fa fa-instagram"></i></a>
   {{/if}}
   {{#if profile.facebook}}
   <a target="_blank" href="https://www.facebook.com/{{profile.facebook}}" class="template_one-bar-item template_one-button"><i class="fa fa-facebook"></i></a>
   {{/if}}
</div>


<div class="template_one-content">

   <!-- Image header -->
   <div class="profile_bg_container">
      {{#if profile.backgroundimage}}
      <img class="profile_bg" src="https://ik.imagekit.io/w07am55tja/{{profile.backgroundimage}}?tr=w-1920" />
      {{else}}
      <img class="profile_bg" src="/img/site/hryzn-placeholder-01.jpg" />
      {{/if}}

      <div class="template_one-display-left template_one-padding">
         <hr style="width: 75px;height: 2px;background: #fff;margin: 0 15px 7px 0;border: none;display: inline-block;">
         <h3 style="display: inline-block" class="template_one-text-white profile_secondary_font">{{#if profile.firstname}}{{profile.firstname}} {{profile.lastname}}{{else}}{{/if}}</h3>
         <h1 class="template_one-jumbo template_one-text-white template_one-text-caps profile_main_font"><strong>{{profile.username}}</strong></h1>
         {{#if viewing_own_profile}}
         <div class="template_one_btn_wrapper">
            <a>
               <div class="msg_btn profile_btns_rounding profile_main_accent_color profile_secondary_font">You're Amazing</div>
            </a>
            <a>
               <div id="settingsBtn" class="profile__follow profile_btn profile_btns_rounding profile_secondary_accent_color profile_secondary_font">Settings</div>
            </a>
         </div>
         {{else}}
         <div class="template_one_btn_wrapper">

           {{#if profile.is_private_profile}}
             {{#if user_follows_profile}}
             <a href="/messages/{{profile.username}}">
                <div class="msg_btn profile_btns_rounding profile_main_accent_color profile_secondary_font">Message</div>
             </a>
            {{else}}
            <a>
               <div class="msg_btn profile_btns_rounding profile_main_accent_color profile_secondary_font">Message</div>
            </a>
             {{/if}}
           {{else}}
            <a href="/messages/{{profile.username}}">
               <div class="msg_btn profile_btns_rounding profile_main_accent_color profile_secondary_font">Message</div>
            </a>
            {{/if}}

            {{#if user_follows_profile}}
            <a class="modalBtn">
               <div class="profile__unfollow profile_btn profile_btns_rounding profile_secondary_accent_color profile_secondary_font">Unfollow</div>
            </a>

            {{else}}

              {{#if viewer_has_pending_request}}

              <a>
                 <div class="profile__follow profile_btn profile_btns_rounding profile_secondary_accent_color profile_secondary_font">Requested</div>
              </a>

              {{else}}

              {{#if can_view_adult_content}}
              <form method="post" action="{{#if on_wildcard_profile}}https://www.myhryzn.com{{/if}}/profile/follow/{{profile._id}}">
                 <input type="hidden" name="user_username" value="{{user.username}}">
                 <input type="hidden" name="profile_username" value="{{profile.username}}">
                 <button class="profile__follow profile_btn profile_btns_rounding profile_secondary_accent_color profile_secondary_font" name="submit" type="submit">
                   Follow
                   {{#if premium_creator_account}}
                   {{#if profile.completed_onboard_payouts}}
                   {{#ifEquals profile.premium_creator_account '3'}}
                   {{#if profile.creator_subscription.is_active}}
                   <span class="creator_sub_btn"> for {{profile.creator_subscription.current_price}}</span>
                   {{/if}}
                   {{/ifEquals}}
                   {{/if}}
                   {{/if}}
                 </button>
              </form>
              {{/if}}

              {{/if}}
            {{/if}}
         </div>
         {{/if}}

         {{#if premium_creator_account}}
         {{#if profile.completed_onboard_payouts}}
         {{#ifEquals profile.premium_creator_account '0'}}
         {{else}}
         <a class="payments_modal_btn">
            <div class="profile_btn profile_btns_rounding profile_secondary_accent_color profile_secondary_font send_tip_btn">Send A Tip</div>
         </a>
         {{/ifEquals}}
         {{/if}}
         {{/if}}

      </div>

      <div class="bg_overlay"></div>
   </div>

   <!-- Grid -->
   <div class="template_one-row template_one-padding profile_project_backgroundimage">

      <!-- About/Information menu -->
      <div class="template_one-col l3" style="text-align: center;">
        <!-- About Card -->
         <div>
            {{#if profile.profileimage}}
            <img src="https://ik.imagekit.io/w07am55tja/{{profile.profileimage}}?tr=w-1920" alt="{{profile.username}}" class="template_one-profile-img">
            {{/if}}

            <div class="template_one-container template_one-padding-small profile_btns_rounding profile_main_accent_color">
               <p class="profile_secondary_font" style="text-align: center">{{#if profile.bio}}{{profile.bio}}{{else}}No bio yet...{{/if}}</p>
            </div>

            <div class="template_one_followers__following">
               <a class="profile_secondary_font" href="/profile/{{profile.username}}/followers"><strong>{{amount_of_followers}}</strong> followers</a>
               <a class="profile_secondary_font" href="/profile/{{profile.username}}/following"><strong>{{amount_of_following}}</strong> following</a>
            </div>
         </div>
         <hr>
         {{#if profile.music_link}}
         <div class="mini-spacer"></div>
         {{{profile.music_link}}}
         <div class="semi-spacer"></div>
         {{/if}}
      <!-- END About/Intro Menu -->
      </div>

      <!-- template_one-col projects container -->
      <div class="template_one-col l9 s12 template_one-padding-desktop">

        {{#if unable_to_view_private_profile}}

          <div class="private_profile_container {{#if can_view_adult_content}}sub_modal_btn{{/if}}">

          <p class="private_profile_text">
            {{#if can_view_adult_content}}
              Sorry, this profile is private.
              {{#if profile.creator_subscription.is_active}}
              <br>
              It can be unlocked for {{profile.creator_subscription.current_price}} a month.
              {{/if}}
            {{else}}
              Sorry, this profile is private and you must be 18 years or older to view.
            {{/if}}
          </p>

          {{#if profile.profile_project_background_color}}

          <img src="/icons/private-white.png" class="private_profile_icon" />

          {{else}}

          {{#if profile.profile_project_backgroundimage}}

          <img src="/icons/private-white.png" class="private_profile_icon" />

          {{else}}

          <img src="/icons/private-black.png" class="private_profile_icon" />

          {{/if}}

          {{/if}}

        </div>

        {{else}}

         {{#if collections}}
         <div class="collections_dropdown">
            <select name="input" id="selectCollection" onclick="adjust()">
               {{#each collections}}
               <option id="{{this.collection_slug}}" value="{{this.collection_slug}}">{{this.collection_name}} {{#if this.is_private}}(Private){{/if}}</option>
               {{/each}}
            </select>
            {{#if viewing_own_profile}}
            <div class="create_group_btn group_btn_blue create_collections_btn">
               <img src="/icons/plus-white.png" class="main-topnav__icon" />
            </div>
            {{#each collections}}
            {{#if collection_all}}
            {{else}}
            <a href="/collection/edit/{{this.id}}" class="edit_collection_btn edit_collection_btn_white edit_collection collection_project {{this.collection_slug}}">
               <img src="/icons/project-menu.png" class="main-topnav__icon" />
            </a>
            {{/if}}
            {{/each}}
            {{/if}}
         </div>
         {{else}}
            {{#if viewing_own_profile}}
            <div class="create_group_btn group_btn_blue create_collections_btn">
               <img src="/icons/plus-white.png" class="main-topnav__icon" />
            </div>
            {{/if}}
         {{/if}}

         {{#if viewing_own_profile}}
         <div class="template_one_project_btn_wrapper edit_collection_btn collection_project all">
            <div class="own_btn" onclick="adjust()">Created</div>
            <div class="saved_btn" onclick="adjust()">Saved</div>
            <div class="repost_btn" onclick="adjust()">Reposted</div>
         </div>
         {{/if}}

         <div id="masonryContainer" class="masonryContainer {{#if viewing_own_profile}}ownProfile{{/if}}">


            {{#if collections}}

               {{! User is viewing their own profile so show private projects }}
               {{#each collections}}
               {{#if ../viewing_own_profile}}

                  {{! User is viewing their own profile so show private projects }}
                  {{#each projects}}
                  {{#if is_micro_post}}
                  <div class="masonryItem ownProject {{../this.collection_slug}} collection_project" title="{{project_title}}">
                     <a href="/p/micro/{{_id}}">
                        <div class="micropost">
                           <div class="micropost_card {{#if micro_image}}card_is_micro_image{{else}}{{#if micro_audio}}card_is_micro_audio{{else}}{{#if micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                              {{#if micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{micro_image}}?tr=w-500" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                              {{#if thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{thumbnail_image}}?tr=w-500" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                              {{#if micro_video}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/play-button-white.png" /></div>{{/if}}
                              {{#if micro_audio}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/audio-button-white.png" /></div>{{/if}}
                              {{#if project_title}}<p class="micro_title">{{project_title}}</p>{{/if}}
                              <p class="micro_body">{{{micro_body}}}</p>
                           </div>
                           <a class="micro_tag {{#if project_title}}micro_tag_w_title{{/if}}" href="/profile/{{project_owner}}">@{{project_owner}}</a>
                        </div>
                     </a>
                  </div>
                  {{else}}
                  <div class="masonryItem ownProject {{../this.collection_slug}} collection_project" title="{{project_title}}">
                     <div class="project_card">
                        <a href="/p/details/{{id}}" class="project_link">
                           <img src="https://ik.imagekit.io/w07am55tja/{{#if thumbnail_image}}{{thumbnail_image}}{{else}}{{project_image}}{{/if}}?tr=w-500" class="img-responsive" alt="{{project_title}}" />
                        </a>
                        <div class="project_card_bottom">
                           <div class="project_bottom_wrapper">
                              <div class="bg_overlay"></div>
                              <div class="project_bottom_details">
                                 <a href="/profile/{{project_owner}}"><p class="project_owner">@{{project_owner}}</p></a>
                                 <a href="/p/details/{{id}}" class="project_link">
                                    <p class="project_card_title">{{project_title}}</p>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                     {{#if is_private}}
                     <div class="is_private">private</div>
                     {{/if}}
                  </div>
                  {{/if}}
                  {{/each}}

               {{else}}

                  {{! User is not viewing own profile }}

                  {{#each projects}}
                  {{#if is_private}}
                  {{! Can't show private projects to people other than logged in User }}
                  {{else}}

                     {{#if is_micro_post}}
                        {{#if posted_to_group}}
                           {{#each posted_to_group}}
                           {{#ifEquals this.group_is_private "true"}}
                           {{! Don't show projects in private groups }}
                           {{else}}
                           <div class="masonryItem ownProject {{../this.collection_slug}} collection_project" title="{{../project_title}}">
                              <a href="/p/micro/{{../_id}}">
                                 <div class="micropost">
                                    <div class="micropost_card {{#if ../micro_image}}card_is_micro_image{{else}}{{#if ../micro_audio}}card_is_micro_audio{{else}}{{#if ../micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                                       {{#if ../micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{../micro_image}}?tr=w-500" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                       {{#if ../thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{../thumbnail_image}}?tr=w-500" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                       {{#if ../micro_video}}<div class="micro_play_btn"><img class="topnav__icon" src="/img/icons/play-button-white.png" /></div>{{/if}}
                                       {{#if ../micro_audio}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/audio-button-white.png" /></div>{{/if}}
                                       {{#if ../project_title}}<p class="micro_title">{{../project_title}}</p>{{/if}}
                                       <p class="micro_body">{{{../micro_body}}}</p>
                                    </div>
                                    <a class="micro_tag" href="/profile/{{../project_owner}}">@{{../project_owner}}</a>
                                 </div>
                              </a>
                           </div>
                           {{/ifEquals}}
                           {{/each}}
                        {{else}}
                        <div class="masonryItem ownProject {{../this.collection_slug}} collection_project" title="{{project_title}}">
                           <a href="/p/micro/{{_id}}">
                              <div class="micropost">
                                 <div class="micropost_card {{#if micro_image}}card_is_micro_image{{else}}{{#if micro_audio}}card_is_micro_audio{{else}}{{#if micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                                    {{#if micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{micro_image}}?tr=w-500" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                                    {{#if thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{thumbnail_image}}?tr=w-500" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                                    {{#if micro_video}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/play-button-white.png" /></div>{{/if}}
                                    {{#if micro_audio}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/audio-button-white.png" /></div>{{/if}}
                                    {{#if project_title}}<p class="micro_title">{{project_title}}</p>{{/if}}
                                    <p class="micro_body">
                                    {{{micro_body}}}
                                    </p>
                                 </div>
                                 <a class="micro_tag {{#if project_title}}micro_tag_w_title{{/if}}" href="/profile/{{project_owner}}">@{{project_owner}}</a>
                              </div>
                           </a>
                        </div>
                        {{/if}}

                     {{else}}
                        {{#if posted_to_group}}
                           {{#each posted_to_group}}
                           {{#ifEquals this.group_is_private "true"}}
                           {{! Don't show projects in private groups }}
                           {{else}}
                           <div class="masonryItem ownProject {{../this.collection_slug}} collection_project" title="{{../project_title}}">
                              <div class="project_card">
                                 <a href="/p/details/{{../id}}" class="project_link">
                                    <img src="https://ik.imagekit.io/w07am55tja/{{#if ../thumbnail_image}}{{../thumbnail_image}}{{else}}{{../project_image}}{{/if}}?tr=w-500" class="img-responsive" alt="{{../project_title}}" />
                                 </a>
                                 <div class="project_card_bottom">
                                    <div class="project_bottom_wrapper">
                                       <div class="bg_overlay"></div>
                                       <div class="project_bottom_details">
                                          <a href="/profile/{{../project_owner}}"><p class="project_owner">@{{../project_owner}}</p></a>
                                          <a href="/p/details/{{../id}}" class="project_link">
                                             <p class="project_card_title">{{../project_title}}</p>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           {{/ifEquals}}
                           {{/each}}
                        {{else}}
                           <div class="masonryItem ownProject {{../this.collection_slug}} collection_project" title="{{project_title}}">
                              <div class="project_card">
                                 <a href="/p/details/{{id}}" class="project_link">
                                    <img src="https://ik.imagekit.io/w07am55tja/{{#if thumbnail_image}}{{thumbnail_image}}{{else}}{{project_image}}{{/if}}?tr=w-500" class="img-responsive" alt="{{project_title}}" />
                                 </a>
                                 <div class="project_card_bottom">
                                    <div class="project_bottom_wrapper">
                                       <div class="bg_overlay"></div>
                                       <div class="project_bottom_details">
                                          <a href="/profile/{{project_owner}}"><p class="project_owner">@{{project_owner}}</p></a>
                                          <a href="/p/details/{{id}}" class="project_link">
                                             <p class="project_card_title">{{project_title}}</p>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        {{/if}}
                        {{! /if posted_to_group }}

                     {{/if}}
                     {{! /if micropost }}

                  {{/if}}
                  {{/each}}
                  {{! /each if is_private }}

               {{/if}}
               {{! /if viewing_own_profile }}
               {{/each}}

            {{else}}

            {{#if projects}}

               {{#if viewing_own_profile}}

                  {{! User is viewing their own profile so show private projects }}
                  {{#each projects}}
                  {{#if is_micro_post}}
                  <div class="masonryItem ownProject" title="{{project_title}}">
                     <a href="/p/micro/{{_id}}">
                        <div class="micropost">
                           <div class="micropost_card {{#if micro_image}}card_is_micro_image{{else}}{{#if micro_audio}}card_is_micro_audio{{else}}{{#if micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                              {{#if micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{micro_image}}?tr=w-500" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                              {{#if thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{thumbnail_image}}?tr=w-500" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                              {{#if micro_video}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/play-button-white.png" /></div>{{/if}}
                              {{#if micro_audio}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/audio-button-white.png" /></div>{{/if}}
                              {{#if project_title}}<p class="micro_title">{{project_title}}</p>{{/if}}
                              <p class="micro_body">{{{micro_body}}}</p>
                           </div>
                           <a class="micro_tag {{#if project_title}}micro_tag_w_title{{/if}}" href="/profile/{{project_owner}}">@{{project_owner}}</a>
                        </div>
                     </a>
                  </div>
                  {{else}}
                  <div class="masonryItem ownProject" title="{{project_title}}">
                     <div class="project_card">
                        <a href="/p/details/{{id}}" class="project_link">
                           <img src="https://ik.imagekit.io/w07am55tja/{{#if thumbnail_image}}{{thumbnail_image}}{{else}}{{project_image}}{{/if}}?tr=w-500" class="img-responsive" alt="{{project_title}}" />
                        </a>
                        <div class="project_card_bottom">
                           <div class="project_bottom_wrapper">
                              <div class="bg_overlay"></div>
                              <div class="project_bottom_details">
                                 <a href="/profile/{{project_owner}}"><p class="project_owner">@{{project_owner}}</p></a>
                                 <a href="/p/details/{{id}}" class="project_link">
                                    <p class="project_card_title">{{project_title}}</p>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                     {{#if is_private}}
                     <div class="is_private">private</div>
                     {{/if}}
                  </div>
                  {{/if}}
                  {{/each}}

               {{else}}

                  {{! User is not viewing own profile }}

                  {{#each projects}}
                  {{#if is_private}}
                  {{! Can't show private projects to people other than logged in User }}
                  {{else}}

                     {{#if is_micro_post}}
                        {{#if posted_to_group}}
                           {{#each posted_to_group}}
                           {{#ifEquals this.group_is_private "true"}}
                           {{! Don't show projects in private groups }}
                           {{else}}
                           <div class="masonryItem ownProject" title="{{../project_title}}">
                              <a href="/p/micro/{{../_id}}">
                                 <div class="micropost">
                                    <div class="micropost_card {{#if ../micro_image}}card_is_micro_image{{else}}{{#if ../micro_audio}}card_is_micro_audio{{else}}{{#if ../micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                                       {{#if ../micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{../micro_image}}?tr=w-500" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                       {{#if ../thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{../thumbnail_image}}?tr=w-500" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                       {{#if ../micro_video}}<div class="micro_play_btn"><img class="topnav__icon" src="/img/icons/play-button-white.png" /></div>{{/if}}
                                       {{#if ../micro_audio}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/audio-button-white.png" /></div>{{/if}}
                                       {{#if ../project_title}}<p class="micro_title">{{../project_title}}</p>{{/if}}
                                       <p class="micro_body">{{{../micro_body}}}</p>
                                    </div>
                                    <a class="micro_tag" href="/profile/{{../project_owner}}">@{{../project_owner}}</a>
                                 </div>
                              </a>
                           </div>
                           {{/ifEquals}}
                           {{/each}}
                        {{else}}
                        <div class="masonryItem ownProject" title="{{project_title}}">
                           <a href="/p/micro/{{_id}}">
                              <div class="micropost">
                                 <div class="micropost_card {{#if micro_image}}card_is_micro_image{{else}}{{#if micro_audio}}card_is_micro_audio{{else}}{{#if micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                                    {{#if micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{micro_image}}?tr=w-500" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                                    {{#if thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{thumbnail_image}}?tr=w-500" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                                    {{#if micro_video}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/play-button-white.png" /></div>{{/if}}
                                    {{#if micro_audio}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/audio-button-white.png" /></div>{{/if}}
                                    {{#if project_title}}<p class="micro_title">{{project_title}}</p>{{/if}}
                                    <p class="micro_body">
                                    {{{micro_body}}}
                                    </p>
                                 </div>
                                 <a class="micro_tag {{#if project_title}}micro_tag_w_title{{/if}}" href="/profile/{{project_owner}}">@{{project_owner}}</a>
                              </div>
                           </a>
                        </div>
                        {{/if}}

                     {{else}}
                        {{#if posted_to_group}}
                           {{#each posted_to_group}}
                           {{#ifEquals this.group_is_private "true"}}
                           {{! Don't show projects in private groups }}
                           {{else}}
                           <div class="masonryItem ownProject" title="{{../project_title}}">
                              <div class="project_card">
                                 <a href="/p/details/{{../id}}" class="project_link">
                                    <img src="https://ik.imagekit.io/w07am55tja/{{#if ../thumbnail_image}}{{../thumbnail_image}}{{else}}{{../project_image}}{{/if}}?tr=w-500" class="img-responsive" alt="{{../project_title}}" />
                                 </a>
                                 <div class="project_card_bottom">
                                    <div class="project_bottom_wrapper">
                                       <div class="bg_overlay"></div>
                                       <div class="project_bottom_details">
                                          <a href="/profile/{{../project_owner}}"><p class="project_owner">@{{../project_owner}}</p></a>
                                          <a href="/p/details/{{../id}}" class="project_link">
                                             <p class="project_card_title">{{../project_title}}</p>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           {{/ifEquals}}
                           {{/each}}
                        {{else}}
                           <div class="masonryItem ownProject" title="{{project_title}}">
                              <div class="project_card">
                                 <a href="/p/details/{{id}}" class="project_link">
                                    <img src="https://ik.imagekit.io/w07am55tja/{{#if thumbnail_image}}{{thumbnail_image}}{{else}}{{project_image}}{{/if}}?tr=w-500" class="img-responsive" alt="{{project_title}}" />
                                 </a>
                                 <div class="project_card_bottom">
                                    <div class="project_bottom_wrapper">
                                       <div class="bg_overlay"></div>
                                       <div class="project_bottom_details">
                                          <a href="/profile/{{project_owner}}"><p class="project_owner">@{{project_owner}}</p></a>
                                          <a href="/p/details/{{id}}" class="project_link">
                                             <p class="project_card_title">{{project_title}}</p>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        {{/if}}
                        {{! /if posted_to_group }}

                     {{/if}}
                     {{! /if micropost }}

                  {{/if}}
                  {{/each}}
                  {{! /each if is_private }}

               {{/if}}
               {{! /if viewing_own_profile }}

            {{else}}

            <div class="row main__info-container">
               <p class="main__info"><strong>No Projects</strong></p>
            </div>

            {{/if}}
            {{! /if projects}}

            {{/if}}
            {{! /if collections}}


            {{#if saved_projects}}

               {{#if viewing_own_profile}}

                  {{#each saved_projects}}
                  {{#if is_private}}
                  {{! Can't show private projects to people other than logged in User }}
                  {{else}}

                     {{#if is_micro_post}}

                        {{#if posted_to_group}}
                           {{#each posted_to_group}}
                           {{#ifEquals this.group_is_private "true"}}
                           {{! Don't show projects in private groups }}
                           {{else}}
                           <div class="masonryItem savedProject" title="{{../project_title}}">
                              <a href="/p/micro/{{../_id}}">
                                 <div class="micropost">
                                    <div class="micropost_card {{#if ../micro_image}}card_is_micro_image{{else}}{{#if ../micro_audio}}card_is_micro_audio{{else}}{{#if ../micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                                       {{#if ../micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{../micro_image}}?tr=w-500" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                       {{#if ../thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{../thumbnail_image}}?tr=w-500" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                       {{#if ../micro_video}}<div class="micro_play_btn"><img class="topnav__icon" src="/img/icons/play-button-white.png" /></div>{{/if}}
                                       {{#if ../micro_audio}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/audio-button-white.png" /></div>{{/if}}
                                       {{#if ../project_title}}<p class="micro_title">{{../project_title}}</p>{{/if}}
                                       <p class="micro_body">{{{../micro_body}}}</p>
                                    </div>
                                    <a class="micro_tag" href="/profile/{{../project_owner}}">@{{../project_owner}}</a>
                                 </div>
                              </a>
                           </div>
                           {{/ifEquals}}
                           {{/each}}
                        {{else}}
                           <div class="masonryItem savedProject" title="{{project_title}}">
                              <a href="/p/micro/{{_id}}">
                                 <div class="micropost">
                                    <div class="micropost_card {{#if micro_image}}card_is_micro_image{{else}}{{#if micro_audio}}card_is_micro_audio{{else}}{{#if micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                                       {{#if micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{micro_image}}?tr=w-500" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                                       {{#if thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{thumbnail_image}}?tr=w-500" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                                       {{#if micro_video}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/play-button-white.png" /></div>{{/if}}
                                       {{#if micro_audio}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/audio-button-white.png" /></div>{{/if}}
                                       {{#if project_title}}<p class="micro_title">{{project_title}}</p>{{/if}}
                                       <p class="micro_body">{{{micro_body}}}</p>
                                    </div>
                                    <a class="micro_tag {{#if project_title}}micro_tag_w_title{{/if}}" href="/profile/{{project_owner}}">@{{project_owner}}</a>
                                 </div>
                              </a>
                           </div>
                        {{/if}}

                     {{else}}

                        {{#if posted_to_group}}
                           {{#each posted_to_group}}
                           {{#ifEquals this.group_is_private "true"}}
                           {{! Don't show projects in private groups }}
                           {{else}}
                           <div class="masonryItem savedProject" title="{{../project_title}}">
                              <div class="project_card">
                                 <a href="/p/details/{{../id}}/guest" class="project_link">
                                    <img src="https://ik.imagekit.io/w07am55tja/{{#if ../thumbnail_image}}{{../thumbnail_image}}{{else}}{{../project_image}}{{/if}}?tr=w-500" class="img-responsive" alt="{{../project_title}}" />
                                 </a>
                                 <div class="project_card_bottom">
                                    <div class="project_bottom_wrapper">
                                       <div class="bg_overlay"></div>
                                       <div class="project_bottom_details">
                                          <a href="/profile/{{../project_owner}}"><p class="project_owner">@{{../project_owner}}</p></a>
                                          <a href="/p/details/{{../id}}/guest" class="project_link">
                                             <p class="project_card_title">{{../project_title}}</p>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           {{/ifEquals}}
                           {{/each}}
                        {{else}}
                           <div class="masonryItem savedProject" title="{{project_title}}">
                              <div class="project_card">
                                 <a href="/p/details/{{id}}/guest" class="project_link">
                                    <img src="https://ik.imagekit.io/w07am55tja/{{#if thumbnail_image}}{{thumbnail_image}}{{else}}{{project_image}}{{/if}}?tr=w-500" class="img-responsive" alt="{{project_title}}" />
                                 </a>
                                 <div class="project_card_bottom">
                                    <div class="project_bottom_wrapper">
                                       <div class="bg_overlay"></div>
                                       <div class="project_bottom_details">
                                          <a href="/profile/{{project_owner}}"><p class="project_owner">@{{project_owner}}</p></a>
                                          <a href="/p/details/{{id}}/guest" class="project_link">
                                             <p class="project_card_title">{{project_title}}</p>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        {{/if}}

                     {{/if}}
                     {{! /if is_micro_post }}

                  {{/if}}
                  {{/each}}
                  {{! /each if is_private }}

               {{/if}}
               {{! /if viewing_own_profile }}

            {{/if}}
            {{! /if saved_projects }}


            {{#if reposted_projects}}

               {{#if viewing_own_profile}}

                  {{#each reposted_projects}}
                  {{#if is_private}}
                  {{! Can't show private projects to people other than logged in User }}
                  {{else}}

                     {{#if is_micro_post}}

                        {{#if posted_to_group}}
                           {{#each posted_to_group}}
                           {{#ifEquals this.group_is_private "true"}}
                           {{! Don't show projects in private groups }}
                           {{else}}
                           <div class="masonryItem repostedProject" title="{{../project_title}}">
                              <a href="/p/micro/{{../_id}}">
                                 <div class="micropost">
                                    <div class="micropost_card {{#if ../micro_image}}card_is_micro_image{{else}}{{#if ../micro_audio}}card_is_micro_audio{{else}}{{#if ../micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                                       {{#if ../micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{../micro_image}}?tr=w-500" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                       {{#if ../thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{../thumbnail_image}}?tr=w-500" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                       {{#if ../micro_video}}<div class="micro_play_btn"><img class="topnav__icon" src="/img/icons/play-button-white.png" /></div>{{/if}}
                                       {{#if ../micro_audio}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/audio-button-white.png" /></div>{{/if}}
                                       {{#if ../project_title}}<p class="micro_title">{{../project_title}}</p>{{/if}}
                                       <p class="micro_body">{{{../micro_body}}}</p>
                                    </div>
                                    <a class="micro_tag" href="/profile/{{../project_owner}}">@{{../project_owner}}</a>
                                 </div>
                              </a>
                           </div>
                           {{/ifEquals}}
                           {{/each}}
                        {{else}}
                           <div class="masonryItem repostedProject" title="{{project_title}}">
                              <a href="/p/micro/{{_id}}">
                                 <div class="micropost">
                                    <div class="micropost_card {{#if micro_image}}card_is_micro_image{{else}}{{#if micro_audio}}card_is_micro_audio{{else}}{{#if micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                                       {{#if micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{micro_image}}?tr=w-500" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                                       {{#if thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{thumbnail_image}}?tr=w-500" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                                       {{#if micro_video}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/play-button-white.png" /></div>{{/if}}
                                       {{#if micro_audio}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/audio-button-white.png" /></div>{{/if}}
                                       {{#if project_title}}<p class="micro_title">{{project_title}}</p>{{/if}}
                                       <p class="micro_body">{{{micro_body}}}</p>
                                    </div>
                                    <a class="micro_tag {{#if project_title}}micro_tag_w_title{{/if}}" href="/profile/{{project_owner}}">@{{project_owner}}</a>
                                 </div>
                              </a>
                           </div>
                        {{/if}}

                     {{else}}

                        {{#if posted_to_group}}
                           {{#each posted_to_group}}
                           {{#ifEquals this.group_is_private "true"}}
                           {{! Don't show projects in private groups }}
                           {{else}}
                           <div class="masonryItem repostedProject" title="{{../project_title}}">
                              <div class="project_card">
                                 <a href="/p/details/{{../id}}/guest" class="project_link">
                                    <img src="https://ik.imagekit.io/w07am55tja/{{#if ../thumbnail_image}}{{../thumbnail_image}}{{else}}{{../project_image}}{{/if}}?tr=w-500" class="img-responsive" alt="{{../project_title}}" />
                                 </a>
                                 <div class="project_card_bottom">
                                    <div class="project_bottom_wrapper">
                                       <div class="bg_overlay"></div>
                                       <div class="project_bottom_details">
                                          <a href="/profile/{{../project_owner}}"><p class="project_owner">@{{../project_owner}}</p></a>
                                          <a href="/p/details/{{../id}}/guest" class="project_link">
                                            <p class="project_card_title">{{../project_title}}</p>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           {{/ifEquals}}
                           {{/each}}
                        {{else}}
                           <div class="masonryItem repostedProject" title="{{project_title}}">
                              <div class="project_card">
                                 <a href="/p/details/{{id}}/guest" class="project_link">
                                    <img src="https://ik.imagekit.io/w07am55tja/{{#if thumbnail_image}}{{thumbnail_image}}{{else}}{{project_image}}{{/if}}?tr=w-500" class="img-responsive" alt="{{project_title}}" />
                                 </a>
                                 <div class="project_card_bottom">
                                    <div class="project_bottom_wrapper">
                                       <div class="bg_overlay"></div>
                                       <div class="project_bottom_details">
                                          <a href="/profile/{{project_owner}}"><p class="project_owner">@{{project_owner}}</p></a>
                                          <a href="/p/details/{{id}}/guest" class="project_link">
                                             <p class="project_card_title">{{project_title}}</p>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        {{/if}}

                     {{/if}}

                  {{/if}}
                  {{/each}}

               {{/if}}

            {{/if}}

         </div>
         <!--/masonryContainer -->

        {{/if}}
        <!--/if private profile-->

      </div>
      <!--/template_one-col projects container -->

   </div>
   <!-- END GRID -->

</div>
<!-- END template_one-content -->


{{! Settings Side Nav}}
<div id="profileSideNav" class="profile__sidenav">
   <a href="javascript:void(0)" id="settingsClose">&times;</a>

   {{#if viewing_own_profile}}
   <div class="settings_content">
      <h3 class="settings__header">Settings</h3>
      <hr class="settings__underline" />
      {{!<a href="/c/create-collection">Create Collection</a>}}
      {{#if hryznAdmin}}
      <a href="/blog/create-post">Make Blog Post</a>
      <a href="/blog">View All Blogs</a>
      {{/if}}
      <a href="/settings">Edit Profile</a>
      <a href="/messages">Messages</a>
      <a href="/groups">Groups</a>
      {{#if premium_creator_account}}
      <a href="/dashboard">Creator Dashboard</a>
      {{else}}
      <a href="/creatives">Become A Creator</a>
      {{/if}}
      <a href="/about/contact">Contact Hryzn</a>
      <a target="_blank" style="font-weight: bold" href="https://{{user.username}}.myhryzn.com">{{user.username}}.myhryzn.com</a>
   </div>
   {{/if}}
</div>

{{! Collections Modal}}
<div class="groupModal groupModalBackground {{#if group_error}}groupError{{/if}}">
   <div class="modal-content collection_form_modal">

   <form method="post" class="edit-project-form" action="{{#if on_wildcard_profile}}https://www.myhryzn.com{{/if}}/create-collection">
      {{! Public or Private }}
      <div class="checkbox__wrapper">
         <label class="check__container">
            <input id="isPrivateCheck" class="form__input-checkbox" type="checkbox">
            <span class="checkmark">Private Collection</span>
         </label>
         <label class="check__container">
            <input id="isPublicCheck" class="form__input-checkbox checked" type="checkbox" checked>
            <span class="checkmark">Public Collection</span>
         </label>
      </div>
      <br />
      <input id="checkbox" type="hidden" name="is_private" value="false">

      {{! Collection Name }}
      <label for="the_collection_name" class="form__label" style="margin-top: 25px;">Collection Name <span style="color: #999; font-size: 10px; margin-left: 8px;">* Required *</span></label>
      <input class="form__input" type="text" placeholder="Let's name the collection" name="the_collection_name" value="{{the_collection_name}}" required />


      {{! Collection Categories }}
      <label for="collection_categories" class="form__label" style="margin-top: 25px;">Add Categories <span style="color: #999; font-size: 10px; margin-left: 8px;">( Optional )</span></label>
      <select data-placeholder="Add categories..." multiple class="chosen-select form__input" name="collection_categories[]">
         <option value=""></option>
         <option>Art</option>
         <option>Beauty & Fashion</option>
         <option>Business</option>
         <option>Family & Society</option>
         <option>Food & Drink</option>
         <option>Health & Wellness</option>
         <option>Home & Garden</option>
         <option>Science & Technology</option>
         <option>Sports & Fitness</option>
         <option>Travel</option>
      </select>

      {{#if followers}}
      <label for="collection_categories" class="form__label" style="margin-top: 25px;">By choosing who can see this collection, it will be private<span style="color: #999; font-size: 10px; margin-left: 8px;">( Optional )</span></label>
      <section class="follower__profiles-section">
         {{#each followers}}
         <label class="checkbox-img" >
            <input type="checkbox" name="collection_followers[]" value="{{_id}}">
            <a class="follower__profile">
               <div class="follower__profile-img-container">
                  <img class="profile__img" {{#if this.profileimage}}src="https://ik.imagekit.io/w07am55tja/{{this.profileimage}}?tr=w-500"{{else}}src="/img/site/hryzn-placeholder-01.jpg"{{/if}} />
               </div>
               @{{this.username}}
            </a>
         </label>
         {{/each}}
      </section>
      {{/if}}

      {{#if projects}}
      {{! Collection Projects }}
      <label for="collection_categories" class="form__label" style="margin-top: 25px;">Add Projects <span style="color: #999; font-size: 10px; margin-left: 8px;">( Optional )</span></label>
      <div class="collection_form_projects_container create_collection_projects">
      {{#each projects}}
         <div class="collection_form_projects">
            <label class="checkbox-img" >
               <input type="checkbox" name="collection_projects[]" value="{{_id}}">
               {{#if is_micro_post}}
               <div class="masonryItem ownProject" title="{{project_title}}">
                  <div class="micropost">
                     <div class="micropost_card {{#if micro_image}}card_is_micro_image{{else}}{{#if micro_audio}}card_is_micro_audio{{else}}{{#if micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                        {{#if micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{micro_image}}?tr=w-500" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                        {{#if thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{thumbnail_image}}?tr=w-500" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                        {{#if micro_video}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/play-button-white.png" /></div>{{/if}}
                        {{#if micro_audio}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/audio-button-white.png" /></div>{{/if}}
                        {{#if project_title}}<p class="micro_title">{{project_title}}</p>{{/if}}
                        <p class="micro_body">{{{micro_body}}}</p>
                     </div>
                     <a class="micro_tag {{#if project_title}}micro_tag_w_title{{/if}}">@{{project_owner}}</a>
                  </div>
               </div>
               {{else}}
               <div class="masonryItem ownProject" title="{{project_title}}">
                  <div class="project_card">
                     <img src="https://ik.imagekit.io/w07am55tja/{{#if thumbnail_image}}{{thumbnail_image}}{{else}}{{project_image}}{{/if}}?tr=w-500" class="img-responsive" alt="{{project_title}}" />
                     <div class="project_card_bottom">
                        <div class="project_bottom_wrapper">
                           <div class="bg_overlay"></div>
                           <div class="project_bottom_details">
                              <a><p class="project_owner">@{{project_owner}}</p></a>
                              <p class="project_card_title">{{project_title}}</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  {{#if is_private}}
                  <div class="is_private">private</div>
                  {{/if}}
               </div>
               {{/if}}
            </label>
         </div>
      {{/each}}
      </div>
      {{/if}}

      <input type="hidden" name="user" value="{{user.username}}">
      <input type="hidden" name="id" value="{{user._id}}">

      <div class="modal-footer">
         <input type="submit" class="btn__secondary micro_submit" value="Create" />
         <span class="closeModal btn__primary">Cancel</span>
      </div>
   </form>

   </div>
</div>

{{#if premium_creator_account}}
{{#if profile.completed_onboard_payouts}}
{{#ifEquals profile.premium_creator_account '0'}}
{{else}}
{{! Pop up modal for payments }}
<div class="paymentsModal modalBackground">
  <div class="modal-content">
    <span class="closeModalPayments payments_close_btn">&times;</span>

    <div class="form-container-2">
      <div class="stripe_form_wrapper">

        <form id="tip-form" class="stripe_form">
          <input type="hidden" name="sender_id" id="sender_id" value="{{user._id}}">
          <input type="hidden" name="connected_id" id="connected_id" value="{{profile.stripe_connected_account_id}}">
          <input class="amount_input" type="text" name="currency-field" id="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="$ Amount" required>
          <div id="card-element"></div>
          <div id="card-errors" role="alert"></div>
          <button class="btn-Stripe">
            <div class="stripe_spinner stripe_hidden" id="spinner"></div>
            <span id="stripe_button-text">Send Tip</span>
          </button>
        </form>

        <div class="stripe_result stripe_hidden">
          <p>Payment Sent<br /></p>
          <img src="/icons/checked-data.png" class="stripe_checkmark" />
        </div>

      </div>
    </div>

  </div>
</div>

{{#if can_view_adult_content}}
{{! Pop up modal for subscriptions }}
<div class="subModal modalBackground">
  <div class="modal-content">
    <span class="closeModalSub payments_close_btn">&times;</span>

    <div class="form-container-2">
      <div class="stripe_form_wrapper">

        <form id="subscription-form" class="stripe_form">
          <div id="card-element_sub"></div>
          <div id="card-errors_sub" role="alert"></div>
          <button class="btn-Stripe">
            <div class="stripe_spinner stripe_hidden" id="spinner"></div>
            <span id="stripe_button-text_sub">Follow</span>
          </button>
        </form>

        <div class="stripe_result stripe_hidden">
          <p>Followed @{{profile.username}}<br /></p>
          <img src="/icons/checked-data.png" class="stripe_checkmark" />
        </div>

      </div>
    </div>

    <div class="modal-body">
       <small> Subscriptions occur on a monthly basis.</small>
    </div>

  </div>
</div>
{{/if}}
{{/ifEquals}}
{{/if}}
{{/if}}

<!-- Hidden Delete Modal -->
<div class="popModal modalBackground">
   <div class="modal-content">
     <div class="modal-header">
       <p>Are You Sure?</p>
     </div>
     <div class="modal-body">
       <p>Unfollowing will remove you from this user's profile.</p>
        <small> Subscriptions will be deleted, and payment will be required again.</small></p>
     </div>
     <div class="modal-footer">
       <form method="post" action="{{#if on_wildcard_profile}}https://www.myhryzn.com{{/if}}/profile/unfollow/{{profile._id}}">
          <input type="hidden" name="user_username" value="{{user.username}}">
          <input type="hidden" name="profile_username" value="{{profile.username}}">
          <button style="padding: 8px 35px; line-height: 35px;" class="btn__secondary" name="submit" type="submit">Yes, Unfollow</button>
       </form>

       <span class="closeModal btn__primary">Cancel</span>
     </div>
   </div>
</div>

</div>
<!-- END profile_page -->

{{#if user}}
{{else}}

{{! End of guestScroll }}
<div class="guestScroll">
</div>

{{! Sign up pop up for users without an account }}
<div class="signUpModal modalBackground">
   <div class="modal-content">

      <div class="form-container-2">
         <div class="modal-header">
            <a href="/" class="topnav__logo"><img src="/img/logos/hryzn-logo-v2-color-256x256.png" /></a>
            <p>Please login in to continue viewing.</p>
         </div>

         <form method="post" action="/users/login">
            <div class="container">
              <input class="form__input" type="text" placeholder="Enter username" name="username" value="{{username}}" required autocapitalize="none" />
              <input class="form__input" type="password" placeholder="Enter password" name="password" value="{{password}}" required  autocapitalize="none" />
              <button class="form_submit_btn" name="submit" type="submit">Login</button>
           </div>
         </form>

         <div class="form__href-container">
            <a class ="form__href" href="/users/register">
               Don't have an account? Click here to sign up.
            </a>
         </div>
      </div>

   </div>
</div>

{{/if}}
