{{#if subscription_active}}

  {{#if dash_nav_monetize}}
  {{#if user.completed_onboard_payouts}}

  <div class="dash_content">

    <h3>{{dashboard_page_name}}</h3>

    <strong class="strong_title">Subscription To Your Profile</strong>
      {{#if user.creator_subscription.is_active}}
      <div class="monetize_options_wrapper sub_options_wrapper">
        <div class="monetize_sub_item">
          <p class="sub_title">Current Price</p>
          <p class="sub_header">{{user.creator_subscription.current_price}}</p>
          <p class="sub_small">per month</p>
        </div>

        <div class="monetize_sub_item">
          <p class="sub_title">Follower(s)</p>
          <p class="sub_header">{{user.followers.length}}</p>
          <p class="sub_small">subscribed</p>
        </div>
      </div>

      <div class="monetize_edit_price_btm">
        <div class="change_sub monetizeChangeSub">Change Price</div>
        <div class="change_sub modalBtn deleteSub" style="background: #fff; color: #000; border: 1px solid #000; margin-left: 15px;">Delete Subscription</div>
      </div>

      <div class="monetize_edit_price">
        <form id="monetize_edit_price_form" method="post" action="/dashboard/creator-subscription">
          <input type="hidden" name="sender_id" id="sender_id" value="{{user._id}}">
          <input type="hidden" name="connected_id" id="connected_id" value="{{user.stripe_connected_account_id}}">
          <input type="hidden" name="change_price" id="change_price" value="">
          <input class="amount_input" type="text" name="amount" id="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="$ Amount" required>
          <p id="amount_input_err"></p>

          <br>

          <input type="radio" name="is_adult_content" value="true">
          <label for="is_adult_content">Does this contain adult content?</label>
          <p class="edit_price_small">
            This information helps ensure that Hryzn can provide a safe, age-appropriate experience for the Hryzn community.
          </p>
          <br>

          <div class="monetize_edit_price_btm">
            <div class="change_sub sub_edit_cancel">Cancel</div>
            <input class="change_sub" type="submit" value="Submit">
          </div>

        </form>
      </div>

      <!-- Cancel Sub Modal -->
      <div class="popModal modalBackground">
         <div class="modal-content">
           <div class="modal-header">
             <p>Are You Sure?</p>
           </div>
           <div class="modal-body">
             <p>
               Your subscribers will remain following you, but they will no longer be charged. Your
               profile will also remain private.
             </p>
           </div>
           <div class="modal-footer">
             <form method="post" action="/dashboard/delete-subscription">
                <input type="hidden" name="user_username" value="{{user.username}}">
                <button style="padding: 8px 35px; line-height: 35px;" class="btn__secondary" name="submit" type="submit">Yes, Delete</button>
             </form>

             <span class="closeModal btn__primary">Cancel</span>
           </div>
         </div>
      </div>

      {{else}}

      <div class="mini-spacer"></div>

      {{#ifEquals user.premium_creator_account '3'}}

        <p>
          <em>You do not have subscriptions activated.</em>
          <br>
          <br>
          You currently have {{user.followers.length}} follower(s). These existing followers will
          continue following you, and will not be charged. Any new followers beyond this point will be asked for payment in order to subscribe to your profile.
        </p>

        <div class="mini-spacer"></div>

        <div class="change_sub monetizeChangeSub">Create Subscription</div>

        <div class="monetize_edit_price">

          <form method="post" action="/dashboard/creator-subscription">
            <input type="hidden" name="sender_id" id="sender_id" value="{{user._id}}">
            <input type="hidden" name="connected_id" id="connected_id" value="{{user.stripe_connected_account_id}}">
            <input class="amount_input" type="text" name="amount" id="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="$ Amount" required>
            <p id="amount_input_err"></p>

            <br>

            <input type="radio" name="is_adult_content" value="true">
            <label for="is_adult_content">Does this contain adult content?</label>
            <p class="edit_price_small">
              This information helps ensure that Hryzn can provide a safe, age-appropriate experience for the Hryzn community.
            </p>
            <br>

            <div class="monetize_edit_price_btm">
              <div class="change_sub sub_edit_cancel">Cancel</div>
              <input class="change_sub" type="submit" value="Submit">
            </div>

          </form>

        </div>

      {{else}}

        <p>
          <em>Upgrade your plan to create a subscription.</em>
          <br>
          <br>
          Your plan currently does support the ability to make a subscription to your profile. Please upgrade in order
          to create a subscription.
        </p>

      {{/ifEquals}}

      {{/if}}

      <div class="spacer"></div>


      <!-- Products -->

      <div class="product_heading_container">
        <strong class="strong_title">Products</strong>
        {{#ifEquals user.premium_creator_account '3'}}
        <div class="dash_product_btn monetizeAddProduct">Add Product</div>
        {{/ifEquals}}
      </div>

    {{#if user.creator_products_is_active}}

    <div class="semi-spacer"></div>

    {{#ifEquals user.premium_creator_account '3'}}

      <div class="mini-spacer"></div>

      <div class="monetize_add_product">

        <form method="post" action="/dashboard/creator-products/add" class="product_form" enctype="multipart/form-data">

          <label for="product_title" class="form__label">Product Title</label>
          <input class="form__input" type="text" name="product_title" value="{{product_title}}" required/>

          <label for="product_description" class="form__label">Description</label>
          <textarea name="product_description" value="{{product_description}}" class="form__input product_text" required></textarea>

          <label for="product_image" class="form__label">Add an image</label>
          <input id="profileImage" class="form__input" type="file" name="product_image" value="" data-type='image' required/>
          <p class="input_err_msg" ></p>

          <div class="product_amount_row">

            <div class="product_amount_col">
            <label for="product_price" class="form__label">Price</label>
            <input id="product_price" class="product_amount" type="text" name="product_price" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" required>
            <p id="price_amount_err" ></p>
            <!-- <input class="product_amount" type="number" name="product_price" min="1" required> -->
            </div>

            <div class="product_amount_col">
            <label for="product_quantity" class="form__label">Quantity</label>
            <input class="product_amount" type="number" name="product_quantity" min="1" value="{{product_quantity}}" required>
            </div>

          </div>

          <label for="product_categories" class="form__label" style="margin-top: 25px;">Add Product Categories</label>
          <select data-placeholder="Add categories..." multiple class="chosen-select form__input" name="product_categories[]" required>
             <option value=""></option>
             {{#each categories}}
             <option>{{this.category}}</option>
             {{/each}}
          </select>

          <label for="product_ship_and_ret" class="form__label">Shipping & Returns</label>
          <textarea name="product_ship_and_ret" value="" class="form__input product_text" value="{{product_ship_and_ret}}" required></textarea>

          <br>

          <div class="monetize_edit_price_btm">
            <div class="dash_product_btn product_add_cancel">Cancel</div>
            <input class="dash_product_btn" type="submit" value="Submit">
          </div>

          <div class="spacer"></div>

        </form>

      </div>

    {{else}}

      <p>
        <em>Upgrade your plan to create a subscription.</em>
        <br>
        <br>
        Your plan currently does support the ability to make a subscription to your profile. Please upgrade in order
        to create a subscription.
      </p>

    {{/ifEquals}}

    <div id="masonryContainer" class="masonryContainer">

      {{#each products}}
      <div class="masonryItem" title="{{title}}">
         <a href="/dashboard/monetize/products/edit/{{_id}}">
            <div class="product_card">
              <img src="https://ik.imagekit.io/w07am55tja/{{image}}?tr=w-500" class="img-responsive product_image" alt="{{title}}" />

              <div class="product_info">
                <p class="product_title">{{title}}</p>
                <p class="product_price">{{price}}</p>
              </div>
            </div>
         </a>
      </div>
      {{/each}}

    </div>

    {{else}}

    <p><em>You do not have any products.</em></p>

    {{/if}}

  </div>

  {{else}}

  <div class="dash_content" style="text-align: center;">

    <i class="fa fa-dollar fa-2x"></i>

    <br />

    <h3>Setup Payouts To Get Paid On Hryzn</h3>

    <p>
      Hryzn partners with Stripe to handle and secure all payments made on our site. We do our best to uphold our values of creating a
      democratized platform that puts the people first and does not mistreat a user's private information. We do not store sensitive information
      within our systems, such as credit card or bank account info. Transactions all take place through the security of Stripe, and it is necessary
      to setup payouts through Stripe in order to get paid.
    </p>

    <br />

    <div id="onboardPayouts">Setup payouts on Stripe</div>

  </div>

  {{/if}}
  {{/if}}

{{else}}

<div class="dash_content">
   <h3>Subscription is no longer active.</h3>
   <p>
      We're sorry but this subscription is no longer active. This issue can arise due to a failed payment, or a paused/canceled subscription.
      If you're looking to renew your subscription, go to the customer portal located in dashboard settings.
   </p>
</div>

{{/if}}
