<!DOCTYPE html>

<html lang="en">

   <head>

      <!-- Meta -->
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
      <meta property="description" name="description" content="{{#if project.project_description}}{{project.project_description}}{{else}}{{#if page_description}}{{page_description}}{{else}}Create, explore, and share your ideas on a powerful social writing platform.{{/if}}{{/if}}" data-app />
      <meta name="google-site-verification" content="_hdPpgLR0QEFHs3hphfVbMIbXf5SLzrNIV4vjThAhZc" />

      <meta property="twitter:site" name="twitter:site" content="@hryzn" data-app>
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:description" content="{{#if project.project_description}}{{project.project_description}}{{else}}{{#if page_description}}{{page_description}}{{else}}Create, explore, and share your ideas on a powerful social writing platform.{{/if}}{{/if}}" data-app />
      <meta name="twitter:title" content="{{page_title}} | Hryzn" />
      <meta name="twitter:site" content="@hryzn" />
      <meta name="twitter:creator" content="@hryzn" />

      <meta property="og:site_name" content="Hryzn">
      <meta property="og:description" name="og:description" content="{{#if project.project_description}}{{project.project_description}}{{else}}{{#if page_description}}{{page_description}}{{else}}Create, explore, and share your ideas on a powerful social writing platform.{{/if}}{{/if}}" data-app />
      <meta property="og:title" name="og:title" content="{{page_title}} | Hryzn" data-app>
      <meta property="og:type" name="og:type" content="website" data-app>
      <meta property="og:url" name="og:url" content="{{site_url}}" data-app>

      <!-- Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i" rel="stylesheet">
      <link rel="stylesheet" href="https://use.typekit.net/ppc1ait.css">
      <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

      <!-- Site CSS -->
      <link href="/img/logos/hryzn-logo-webclip.png" rel="apple-touch-icon" />
      <link rel="icon"  href="/img/logos/hryzn-favicon.ico" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>

      {{! For DEV
      <link rel="stylesheet" type="text/css" href="/css/style.css" />
      <link rel="stylesheet" type="text/css" href="/css/topnav.css" />
      <link rel="stylesheet" type="text/css" href="/css/main-forms.css" />
      <link rel="stylesheet" type="text/css" href="/css/projects.css" />
      <link rel="stylesheet" type="text/css" href="/css/edit-project.css" />
      <link rel="stylesheet" type="text/css" href="/css/welcome.css" />
      <link rel="stylesheet" type="text/css" href="/css/about.css" />
      <link rel="stylesheet" type="text/css" href="/css/profile.css" />
      <link rel="stylesheet" type="text/css" href="/css/messages.css" />
      <link rel="stylesheet" type="text/css" href="/css/trumbowyg.min.css" />
      }}


      {{! For PROD }}
      <link rel="stylesheet" type="text/css" href="/dist/css/style.min.css" />


      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

      <title>{{page_title}} | Hryzn</title>

   </head>

   <body>

      {{! Check if user is logged in }}

      {{#if user}}
      <!-- Main Nav -->
      <div class="topnav">
         <div class="topnav-left">
            <a href="/" class="topnav__logo">
               Hryzn
            </a>
            <div class="search-container">
               <form action="/search">
                  <input type="text" placeholder="Explore our universe..." name="p">
                  <button type="submit"><img src="/icons/search.png" class="mobile-nav__icon"/></button>
               </form>
            </div>
         </div>
         <nav class="item-list">
            <a href="/profile/{{user.username}}" class="main-topnav__profile">
               <div class="topnav__user">
                  <div class="topnav__profile-img-container">
                     <img class="profile__img" {{#if user.profileimage}}src="https://s3.amazonaws.com/hryzn-app-static-assets/{{user.profileimage}}"{{else}}src="/img/site/hryzn-placeholder-01.jpg"{{/if}} />
                  </div>
                  {{user.username}}
               </div>
            </a>
            <a href="/explore"><img src="/icons/explore-black.png" class="main-topnav__icon" /></a>
            <a href="/messages"><img src="/icons/messages.png" class="main-topnav__icon" /></a>
            <a href="/p/create-project" class="create-icon"><img src="/icons/create-icon.png" class="main-topnav__icon" /></a>
         </nav>
      </div>
      <!-- /Main Nav -->

      <!-- Mobile Nav -->
      <nav class="mobile-nav">
         <ul class="mobile-nav__item-list">
            <li class="mobile-nav__item">
               <a href="/profile/{{user.username}}"><img src="/icons/user-black.png" class="mobile-nav__icon" /></a>
            </li>

            <li class="mobile-nav__item">
               <a href="/explore"><img src="/icons/explore-black.png" class="mobile-nav__icon" /></a>
            </li>

            <li class="mobile-nav__item">
               <a href="/p/create-project"><img src="/icons/create-icon.png" class="mobile-nav__icon" /></a>
            </li>

            <li class="mobile-nav__item">
               <a href="/messages"><img src="/icons/messages.png" class="mobile-nav__icon" /></a>
            </li>
         </ul>
      </nav>
      <!-- /Mobile Nav -->

      {{else}}

      {{! User is not logged in }}

      <!-- Landing Page Nav -->
      <nav class="landing-nav">
         <div class="landing-nav__left">
            <a href="/" class="topnav__logo">
               <img src="/img/logos/hryzn-logo-white.png" />
               Hryzn
            </a>
         </div>
         <div class="landing-nav__center">
            <ul>
               <li><a href="/">About</a></li>
               <li><a href="/about/start">Start</a></li>
               <li><a href="/about/grow">Grow</a></li>
               <li><a href="https://www.thehryznblog.com/">Learn</a></li>
            </ul>
         </div>
         <div class="landing-nav__right">
            <a href="/users/login"><div class="auth-login__btn btn__secondary">Log In</div></a>
            <a href="/users/register"><div class="auth-sign__btn btn__primary">Sign Up</div></a>

            <div class="ham__menu" id="landingNavOpen">
               <div class="ingredients"></div>
               <div class="ingredients"></div>
               <div class="ingredients"></div>
            </div>
         </div>
      </nav>
      <!-- /Landing Page Nav -->

      <!-- Landing Page Mobile Nav -->
      <div id="landingNav" class="overlay">
         <a id="landingNavClose" href="javascript:void(0)" class="landingNavClose">&times;</a>
         <div class="overlay-content">
            <a href="/">About</a>
            <a href="/about/start">Start</a>
            <a href="/about/grow">Grow</a>
            <a href="https://www.thehryznblog.com/">Learn</a>

            <a href="/users/login"><div class="auth-login__btn btn__secondary">Log In</div></a>
            <a href="/users/register"><div class="auth-sign__btn btn__primary">Sign Up</div></a>
         </div>
      </div>
      <!-- /Landing Page Mobile Nav -->

      {{/if}}

      {{! Errors styling }}
      <main {{#if user}} id="mainBody" {{/if}}>
         {{#if user}}
            {{#if error_msg}}
            <div class="error__msg-3">
               <p>{{error_msg}}</p>
               <p class="error__exit">&times;</p>
            </div>
            {{/if}}

            {{#if errors}}
               {{#each errors}}
                  <div class="error__msg-3">
                     <p>{{msg}}</p>
                     <p class="error__exit">&times;</p>
                  </div>
               {{/each}}
            {{/if}}

            {{#if success_msg}}
            <div class="success__msg">
               <p>{{success_msg}}</p>
               <p class="error__exit">&times;</p>
            </div>
            {{/if}}
         {{/if}}
         {{{body}}}
      </main>

      {{#if user}}
      {{else}}
      <footer class="footer__container">
         <a href="/">About</a>
         <a href="/about/press">Press</a>
         <a href="/about/contact">Contact</a>
         <a href="https://www.thehryznblog.com/">Learn</a>
         <a href="/about/terms">Terms Of Service</a>
         <a href="/about/privacy">Privacy Policy</a>
         {{! Not Ready Yet <a href="/about/copyright">Copyright</a> }}
      </footer>
      {{/if}}

   </body>

   <!-- Site JS-->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

   {{#if editProject}}
   <script src="/js/vendor/trumbowyg.min.js" type="text/javascript"></script>
   <script src="/js/vendor/trumbowyg-upload.js" type="text/javascript"></script>
   <script src="/js/vendor/trumbowyg-allowtags.js" type="text/javascript"></script>
   <script src="/js/vendor/trumbowyg-insertaudio.js" type="text/javascript"></script>
   <script src="/js/editor.js" type="text/javascript"></script>

   {{#if notes_is_empty_string}}
   {{! Do nothing }}
   {{else}}
   <script>
   $(document).ready(function() {
      $('#editor').trumbowyg('html', '{{{project_notes}}}');
   });
   </script>
   {{/if}}

   <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
   <script>
   $(".chosen-select").chosen({
      no_results_text: "Oops, nothing found!",
      max_selected_options: 5
   });
   </script>

   {{/if}}

   {{#if projects}}
   <script src="/js/macy.js" type="text/javascript"></script>
   <script>
      var masonry = new Macy({
         container: ".masonryContainer",
         trueOrder: false,
         waitForImages: false,
         useOwnImageLoader: false,
         debug: true,
         mobileFirst: false,
         margin: 35,
         columns: 5,
         breakAt: {
            992: 4,
            768: 3,
            595: 2
         }
      });
   </script>
   {{/if}}

   {{! For DEV
   <script src="/js/main.js" type="text/javascript"></script>
   }}

   {{! For PROD }}
   <script src="/dist/js/main.min.js" type="text/javascript"></script>

   {{! Socket Io}}
   {{!if chat}}
   {{!<script src="/socket.io/socket.io.js"></script>

   <script>

     var socket = io();

     socket.on(‘message’, addMessages)
  </script>}}
   {{!if}}

   {{#if welcomePage}}
   <script src="/js/vendor/typewriter.js" type="text/javascript"></script>
   <script src="/js/typewriter.js" type="text/javascript"></script>
   {{/if}}

</html>
