{{#if sitemap}}
{{! We want xml for our sitemap }}
{{{body}}}
{{else}}
<!DOCTYPE html>

<html class="no-js {{#if welcomePage}}welcomePage{{/if}}" lang="en">

   <head>

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158765968-1"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'UA-158765968-1');
      </script>


      <!-- Meta -->
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
      <meta property="description" name="description" content="{{#if project.project_description}}{{project.project_description}}{{else}}{{#if project.micro_body}}{{project.micro_body}}{{else}}{{#if page_description}}{{page_description}}{{else}}Hryzn is a social hub where communities can share and connect through niche topics. Users can create microblogs to share media, customize their pages, and turn their passion into a business.{{/if}}{{/if}}{{/if}}" data-app />
      <meta name="application-name" content="Hryzn">
      <meta name="keywords" id="keywords" content="hryzn, blog, social media, hryzn blog, personalize, customize, microblog">
      <meta name="google-site-verification" content="_hdPpgLR0QEFHs3hphfVbMIbXf5SLzrNIV4vjThAhZc" />

      <meta property="twitter:site" name="twitter:site" content="@myhryzn" data-app>
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:description" content="{{#if project.project_description}}{{project.project_description}}{{else}}{{#if project.micro_body}}{{project.micro_body}}{{else}}{{#if page_description}}{{page_description}}{{else}}Hryzn is a social hub where communities can share and connect through niche topics. Users can create microblogs to share media, customize their pages, and turn their passion into a business.{{/if}}{{/if}}{{/if}}" data-app />
      <meta name="twitter:title" content="{{page_title}} | Hryzn" />
      <meta name="twitter:site" content="@myhryzn" />
      <meta name="twitter:creator" content="@myhryzn" />

      <meta property="og:site_name" content="Hryzn">
      <meta property="og:description" name="og:description" content="{{#if project.project_description}}{{project.project_description}}{{else}}{{#if project.micro_body}}{{project.micro_body}}{{else}}{{#if page_description}}{{page_description}}{{else}}Hryzn is a social hub where communities can share and connect through niche topics. Users can create microblogs to share media, customize their pages, and turn their passion into a business.{{/if}}{{/if}}{{/if}}" data-app />
      <meta property="og:title" name="og:title" content="{{page_title}} | Hryzn" data-app>
      <meta property="og:type" name="og:type" content="website" data-app>
      <meta property="og:url" name="og:url" content="{{site_url}}" data-app>
      <meta property="og:image" content="{{#if project.project_image}}https://ik.imagekit.io/w07am55tja/{{project.project_image}}{{else}}{{#if project.thumbnail_image}}https://ik.imagekit.io/w07am55tja/{{project.thumbnail_image}}{{else}}{{#if project.micro_image}}https://ik.imagekit.io/w07am55tja/{{project.micro_image}}{{else}}https://ik.imagekit.io/w07am55tja/hero-img-colors.jpg{{/if}}{{/if}}{{/if}}?tr=w-1920" data-app />

      <!-- Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i" rel="stylesheet">
      <link rel="stylesheet" href="https://use.typekit.net/ppc1ait.css">
      <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,400i,500,600,700|IBM+Plex+Serif:300,300i,400,500,600,700" rel="stylesheet">

      <!-- Site CSS -->
      <link href="/img/logos/hryzn-logo-v2-webclip-256x256.png" rel="apple-touch-icon" />
      <link rel="icon"  href="/img/logos/hryzn-favicon-v2-32x32.ico" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>

      {{#if blog}}
      <style>#mainWelcome { padding: 100px 0!important; }</style>
      {{#if post}}
      <link rel="canonical" href="{{site_url}}/blog/{{post.post_slug}}"/>
      {{/if}}
      {{/if}}

      {{#if profilePage}}

      <style>#mainWelcome { padding: 100px 0 0 0!important; }</style>

      {{#if profile.profile_theme}}
      <link rel="stylesheet" type="text/css" href="/css/profile-themes/{{profile.profile_theme}}.css" />
      {{else}}
      <link rel="stylesheet" type="text/css" href="/css/profile-themes/default.css" />
      {{/if}}

      <!-- Profile Theme 40 Fonts -->
      <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;400;700;800&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,700;1,800&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;500;600;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Neuton:wght@300;400;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Proza+Libre:wght@400;500;600;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;600;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;600;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Spectral:wght@300;500;600;700&display=swap" rel="stylesheet">
      <!-- /Profile Theme Fonts -->
      {{/if}}

      {{! For DEV
      <link rel="stylesheet" type="text/css" href="/css/site/style.css" />
      <link rel="stylesheet" type="text/css" href="/css/site/topnav.css" />
      <link rel="stylesheet" type="text/css" href="/css/site/forms.css" />
      <link rel="stylesheet" type="text/css" href="/css/site/project.css" />
      <link rel="stylesheet" type="text/css" href="/css/site/edit-project.css" />
      <link rel="stylesheet" type="text/css" href="/css/site/about.css" />
      <link rel="stylesheet" type="text/css" href="/css/site/messages.css" />
      <link rel="stylesheet" type="text/css" href="/css/site/blog.css" />
      <link rel="stylesheet" type="text/css" href="/css/site/welcome.css" />
      <link rel="stylesheet" type="text/css" href="/css/site/vendor.css" />
      <link rel="stylesheet" type="text/css" href="/css/site/notifications.css" />
      <link rel="stylesheet" type="text/css" href="/css/site/groups.css" />
      <link rel="stylesheet" type="text/css" href="/css/site/dashboard.css" />
      <link rel="stylesheet" type="text/css" href="/css/site/creatives.css" />
      <link rel="stylesheet" type="text/css" href="/css/site/trumbowyg.min.css" />
      <link rel="stylesheet" type="text/css" href="/css/site/profile.css" />
      <link rel="stylesheet" type="text/css" href="/css/site/setup-profile.css" />
      }}

      {{! For PROD }}
      <link rel="stylesheet" type="text/css" href="/dist/css/style.min.css" />

      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

      <title>{{page_title}} | Hryzn</title>

   </head>

   <body id="top" {{#if user.profile_cursor}}style="cursor: url('/cursors/{{user.profile_cursor}}.cur'),auto;"{{else}}cunt{{/if}}>

      {{! Check if user is logged in }}

      {{#if user}}

         {{#if dashboard}}
         {{else}}
            <!-- Main Nav -->
            <header class="topnav mobile_topnav">
               <div class="topnav-left">
                  <a href="/" class="topnav__logo user_beta">
                     Hryzn
                     <em class="logo_beta">BETA</em>
                  </a>
                  <div class="search-container">

                     <form id="searchForm" autocomplete="off" action="/search">
                        <div class="autocomplete">
                           <input id="searchAuto" type="text" placeholder="Explore..." name="p">
                        </div>
                        <button type="submit"><img src="/icons/search.png" class="mobile-nav__icon"/></button>
                        <img src="/icons/close.png" class="mobile-nav__icon close_icon" />
                     </form>
                  </div>
               </div>
               <nav class="item-list">
                  <div class="drop_menu">
                     <a class="dropBtn" class="main-topnav__profile">
                        <div class="topnav__user">
                           <div class="topnav__profile-img-container">
                              <img class="profile__img" {{#if user.profileimage}}src="https://ik.imagekit.io/w07am55tja/{{user.profileimage}}?tr=w-100"{{else}}src="/img/site/hryzn-placeholder-01.jpg"{{/if}} />
                           </div>
                           @{{user.username}}
                        </div>
                     </a>
                     <div class="drop_nav dropNav">
                        <a href="/profile/{{user.username}}">Profile</a>
                        <a href="/messages">Messages</a>
                        <a href="/groups">Groups</a>
                        <a href="/blog/hryzn-tutorial---site-walk-through">Help</a>
                        <a href="/logout">Logout</a>
                     </div>
                  </div>
                  <a href="/">
                     <div class="tooltip">
                        <img src="/icons/home.png" class="main-topnav__icon" />
                        <span class="tooltiptext">Feed</span>
                     </div>
                  </a>
                  <a href="/explore">
                     <div class="tooltip">
                        <img src="/icons/explore-black.png" class="main-topnav__icon" />
                        <span class="tooltiptext">Explore</span>
                     </div>
                  </a>
                  {{#if user.has_notification}}
                  <a href="/notifications">
                     <div class="tooltip">
                        <img src="/icons/notification-unread.png" class="main-topnav__icon" />
                        <span class="tooltiptext">Notifications</span>
                     </div>
                  </a>
                  {{else}}
                  <a href="/notifications">
                     <div class="tooltip">
                        <img src="/icons/notification.png" class="main-topnav__icon" />
                        <span class="tooltiptext">Notifications</span>
                     </div>
                  </a>
                  {{/if}}
                  <a class="create-icon">
                     <div class="tooltip">
                        <img src="/icons/create-icon.png" class="main-topnav__icon" />
                        <span class="tooltiptext">Create Post</span>
                     </div>
                  </a>
                  <div class="post_container">
                     <div href="/p/create-project" class="blog_post_btn">
                        <a href="/p/create-project">Blog Post</a>
                     </div>
                     <div class="micro_post_btn">Micro Post</div>
                  </div>
               </nav>
            </header>
            <!-- /Main Nav -->

            <!-- Mobile Nav -->
            <nav class="mobile-nav">
               <ul class="mobile-nav__item-list">
                  <li class="mobile-nav__item {{#if index_active}}mobile_active{{/if}}">
                     <a href="/"><img src="/icons/home.png" class="mobile-nav__icon" /></a>
                  </li>

                  <li class="mobile-nav__item {{#if explore_active}}mobile_active{{/if}}">
                     <a href="/explore"><img src="/icons/explore-black.png" class="mobile-nav__icon" /></a>
                  </li>

                  <li class="mobile-nav__item">
                     <a class="create-icon"><img src="/icons/create-icon.png" class="mobile-nav__icon" /></a>
                     <div class="post_container">
                        <div href="/p/create-project" class="blog_post_btn">
                           <a href="/p/create-project">Blog Post</a>
                        </div>
                        <div class="micro_post_btn">Micro Post</div>
                     </div>
                  </li>

                  {{#if user.has_notification}}
                  <li class="mobile-nav__item {{#if notification_active}}mobile_active{{/if}}">
                     <a href="/notifications"><img src="/icons/notification-unread.png" class="mobile-nav__icon" /></a>
                  </li>
                  {{else}}
                  <li class="mobile-nav__item {{#if notification_active}}mobile_active{{/if}}">
                     <a href="/notifications"><img src="/icons/notification.png" class="mobile-nav__icon" /></a>
                  </li>
                  {{/if}}

                  <li class="mobile-nav__item {{#if profile_active}}mobile_active{{/if}}">
                     <div class="drop_menu">
                        <a class="dropBtn"><img src="/icons/user-black.png" class="mobile-nav__icon" /></a>
                        <div class="drop_nav dropNav">
                           <a href="/profile/{{user.username}}">Profile</a>
                           <a href="/messages">Messages</a>
                           <a href="/groups">Groups</a>
                           <a href="/blog/hryzn-tutorial---site-walk-through">Help</a>
                           <a href="/logout">Logout</a>
                        </div>
                     </div>
                  </li>
               </ul>
            </nav>
            <!-- /Mobile Nav -->

         {{/if}}

         <p id="current_user" style="display: none;">{{user.username}}</p>
         <p id="users_og_path" style="display: none;"></p>

      {{else}}

      {{! User is not logged in }}
      <!-- Landing Nav -->
      <header class="landing-nav {{#if welcomePage}}welcome_header{{else}}{{#if creativesPage}}creatives_header{{/if}}{{/if}}{{#if project}}guest_project{{/if}}">
         <div class="landing-nav_wrapper">

            <div class="landing-nav__left">
               <div class="header-logo">
                  <a href="/" class="topnav__logo">Hryzn<em class="logo_beta">BETA</em></a>
               </div>
            </div>

            {{#if welcomePage}}
            <div class="search-container desktop_search">
               <form id="searchForm" autocomplete="off" action="/search">
                  <div class="autocomplete">
                     <input id="searchAuto" class="landing-nav_search" type="text" placeholder="Explore our universe..." name="p">
                  </div>
                  <button type="submit"><img src="/icons/search-white.png" class="mobile-nav__icon"/></button>
               </form>
            </div>
            {{/if}}

            <div class="landing-nav__right">
               <ul class="nav_social">
                  <li><a href="https://twitter.com/myHryzn" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://www.instagram.com/myHryzn/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="https://www.youtube.com/channel/UCHxZtvq7nc-cd9e88X9MHOQ" target="_blank"><i class="fa fa-youtube"></i></a></li>
               </ul>

               <a class="hamburger_menu" href="#0">
                  <span class="ingredients"></span>
               </a>
            </div>

            <nav class="side_nav">
               <a href="#0" class="side_nav__close" title="close"><span></span></a>

               <div class="side_nav__content">
                  <h3>Find your voice</h3>

                  <div class="search-container mobile_search">
                     <form action="/search">
                        <input class="landing-nav_search" type="text" placeholder="Explore" name="p">
                        <button type="submit"><img src="/icons/search-white.png" class="mobile-nav__icon"/></button>
                     </form>
                  </div>

                  <ul class="side_nav__list">
                     <li class="current"><a {{#if welcomePage}}class="smoothscroll"  href="#home"{{else}}href="https://www.myhryzn.com#home"{{/if}} title="home">Home</a></li>
                     <li><a {{#if welcomePage}}class="smoothscroll"  href="#about" {{else}}href="https://www.myhryzn.com#about"{{/if}} title="about">About</a></li>
                     <li><a {{#if welcomePage}}class="smoothscroll"  href="#works" {{else}}href="https://www.myhryzn.com#works"{{/if}} title="works">Works</a></li>
                     <li><a {{#if welcomePage}}class="smoothscroll"  href="#features" {{else}}href="https://www.myhryzn.com#services"{{/if}} title="services">Features</a></li>
                     <li><a href="/creatives" title="creatives">Creatives</a></li>
                     <li><a href="/blog" title="blog">Blog</a></li>
                     <li><a {{#if welcomePage}}class="smoothscroll"  href="#contact" {{else}}href="https://www.myhryzn.com#contact"{{/if}} title="contact">Contact</a></li>
                     <li><a href="/users/login">Login</a> or <a href="/users/register">Sign Up</a></li>
                  </ul>

                  <p>Create, explore, and share your ideas on a powerful social writing platform.</p>

                  <ul class="side_nav__social">
                  <li><a href="https://twitter.com/myHryzn" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://www.instagram.com/myHryzn/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="https://www.youtube.com/channel/UCHxZtvq7nc-cd9e88X9MHOQ" target="_blank"><i class="fa fa-youtube"></i></a></li>
                  </ul>

               </div>
            </nav>

         </div>
      </header>
      <!-- /Landing Nav -->

      {{/if}}

      {{! Errors styling }}
      <main {{#if user}}{{#if dashboard}}id="mainDash"{{else}}id="mainBody{{#if index_active}}Index{{/if}}"{{/if}}{{else}}{{#if project}}id="mainProject"{{else}}{{#if welcomePage}}{{else}}id="mainWelcome"{{/if}}{{/if}}{{/if}}>
         {{#if user}}
            {{#if error_msg}}
            <div class="error__msg-3">
               <p>{{error_msg}}</p>
               <p class="error__exit">&times;</p>
            </div>
            {{/if}}

            {{#if errors}}
               {{#each errors}}
                  <div class="error__msg-3">
                     <p>{{msg}}</p>
                     <p class="error__exit">&times;</p>
                  </div>
               {{/each}}
            {{/if}}

            {{#if success_msg}}
            <div class="success__msg">
               <p>{{success_msg}}</p>
               <p class="error__exit">&times;</p>
            </div>
            {{/if}}
         {{/if}}
         {{{body}}}
      </main>

      {{#if user}}
      <div class="microPostModal microModalBackground">
         <div class="modal-content">

            <form method="post" class="edit-project-form" action="/p/create-micro/micro" enctype="multipart/form-data">
               <input type="hidden" name="_x_" value="$2a$10$BJn0b4OzBarDigcTUl0kejbffkejbfvxSI.JrlLKeSsOi8oKqBAK" />
               <input type="hidden" name="_c_" value="{{csrf_web_token}}" />
               <input type="hidden" name="orange_blossom" value="" />
               <input type="hidden" name="og_path" value="" class="og_path"/>


               <div class="micro_tab">
                 <button type="button" id="micro_text" class="micro_tab_links micro_tab_active">Text</button>
                 <button type="button" id="micro_image" class="micro_tab_links">Image</button>
                 <button type="button" id="micro_audio" class="micro_tab_links">Audio</button>
                 <button type="button" id="micro_video" class="micro_tab_links">Video</button>
               </div>


               {{! Micro Text }}
               <div class="micro_tab_content micro_text micro_active">
                  <input id="input_is_micro_text" class="input_is_micro" type="hidden" name="is_micro_text" value="true"/>
               </div>


               {{! Micro Image }}
               <div class="micro_tab_content micro_image">
                  <input id="input_is_micro_image" class="input_is_micro" type="hidden" name="is_micro_image" value="false"/>

                  <label for="micro_image" class="form__label">Add Image <span class="form_span_descriptor">* Required *</span></label>
                  <input class="form__input" type="file" name="micro_image" value="{{project.micro_image}}" />

                  {{! Micro Title }}
                  <label for="micro_title" class="form__label" style="margin-top: 25px;">Add a title <span class="form_span_descriptor">( Optional )</span></label>
                  <input class="form__input" type="text" placeholder="Enter a title" name="micro_title_image" value="{{project.project_title}}" />
               </div>


               {{! Micro Audio }}
               <div class="micro_tab_content micro_audio">
                  <input id="input_is_micro_audio" class="input_is_micro" type="hidden" name="is_micro_audio" value="false"/>

                  <label for="micro_audio" class="form__label">Add Audio <span class="form_span_descriptor">* Required *</span></label>
                  <input class="form__input" type="file" name="micro_audio" value="{{project.micro_audio}}" />

                  <label for="micro_thumbnail_image" class="form__label">Add Thumbnail Image <span class="form_span_descriptor">* Required *</span></label>
                  <input class="form__input" type="file" name="micro_thumbnail_image__audio" value="{{project.micro_thumbnail_image}}" />

                  {{! Micro Title }}
                  <label for="micro_title" class="form__label" style="margin-top: 25px;">Add a title <span class="form_span_descriptor">( Optional )</span></label>
                  <input class="form__input" type="text" placeholder="Enter a title" name="micro_title_audio" value="{{project.project_title}}" />
               </div>


               {{! Micro Video }}
               <div class="micro_tab_content micro_video">
                  <input id="input_is_micro_video" class="input_is_micro" type="hidden" name="is_micro_video" value="false"/>

                  <label for="micro_video" class="form__label">Add Video <span class="form_span_descriptor">* Required *</span></label>
                  <input class="form__input" type="file" name="micro_video" value="{{project.micro_video}}" />

                  <label for="micro_thumbnail_image" class="form__label">Add Thumbnail Image <span class="form_span_descriptor">* Required *</span></label>
                  <input class="form__input" type="file" name="micro_thumbnail_image__video" value="{{project.micro_thumbnail_image}}" />

                  {{! Micro Title }}
                  <label for="micro_title" class="form__label" style="margin-top: 25px;">Add a title <span class="form_span_descriptor">( Optional )</span></label>
                  <input class="form__input" type="text" placeholder="Enter a title" name="micro_title_video" value="{{project.project_title}}" />
               </div>


               {{! Micro Body }}
               <label for="micro_body" class="form__label" style="margin-top: 25px;">Speak Your Mind <span class="form_span_descriptor">( Helps to be discovered by user's search )</span></label>
               <textarea class="project-description__input" type="text" name="micro_body" value="{{project.micro_body}}"></textarea>


               {{! Micro Categories }}
               <label for="project_categories" class="form__label" style="margin-top: 25px;">Add Categories <span class="form_span_descriptor">( Optional )</span></label>
               <select data-placeholder="Add categories..." multiple class="chosen-select form__input" name="project_categories[]">
                  <option value=""></option>
                  <option>Art</option>
                  <option>Beauty & Fashion</option>
                  <option>Business</option>
                  <option>Family & Society</option>
                  <option>Food & Drink</option>
                  <option>Health & Wellness</option>
                  <option>Home & Garden</option>
                  <option>Science & Technology</option>
                  <option>Sports & Fitness</option>
                  <option>Travel</option>
               </select>


               {{! Post To }}
               <label for="post_to" class="form__label" style="margin-top: 25px;">Post To <span class="form_span_descriptor">( Optional )</span></label>
               <select data-placeholder="Post to..." class="chosen-select form__input" name="post_to">
                  <option value=""></option>
                  <option value="followers">All Followers</option>
                  {{#each user.collections}}
                  <option value="{{this.collection_id}}">Your Collection "{{this.collection_name}}"</option>
                  {{/each}}
                  {{#each user.groups}}
                  <option value="{{this.group_id}}">Your Group "{{this.group_name}}"</option>
                  {{/each}}
               </select>


               {{! Micro URL }}
               <label for="project_url" class="form__label" style="margin-top: 25px;">Add a website link <span class="form_span_descriptor">( Optional )</span></label>
               <input class="form__input" type="text" placeholder="Enter a link" name="project_url" value="{{project.project_url}}" />


               <input type="hidden" name="admin" value="{{user.username}}">
               <input type="hidden" name="id" value="{{user._id}}">


               <div class="modal-footer">
                  <input id="microSubmit" type="submit" class="btn__secondary micro_submit" value="Submit" />
                  <span class="closeModal btn__primary">Cancel</span>
               </div>
            </form>

         </div>
      </div>

      <div id="autoLoader" class="loader_micro">
      <svg xml:space="preserve" style="height: 100%; width: 100%; background: #31375A; shape-rendering: auto;" viewBox="0 0 128 128" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" id="圖層_1" version="1.1" width="156px" height="156px"><g class="ldl-scale" style="transform-origin: 50% 50%; transform: rotate(0deg) scale(0.3, 0.3);"><g class="ldl-ani"><style type="text/css">.st0{fill:none}.st1,.st2{stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}.st1{stroke-width:3;fill:#e8f0c5}.st2{fill:none}.st2,.st3,.st4{stroke-width:3}.st3{stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;fill:#fce9f2}.st4{fill:#fff}.st4,.st5,.st6{stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}.st5{fill:#ef66b2;stroke-width:3}.st6{stroke-width:.25}</style><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.35591s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="z" class="st0"></path></g></g><g class="ldl-layer"><g class="ldl-ani"><g><g class="ldl-layer"><g class="ldl-ani"><g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.38424s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><circle r="41.6" cy="53.9" cx="75.2" class="st1" style="fill: rgb(255, 255, 255); stroke: rgb(0, 0, 0);"></circle></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.41256s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M75.1,12.3l0.2,12.8" class="st2" style="stroke: rgb(0, 0, 0);"></path></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.44089s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M33.6,54l12.8-0.2" class="st2" style="stroke: rgb(0, 0, 0);"></path></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.46921s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M76.6,95.5l-0.2-12.8" class="st2" style="stroke: rgb(0, 0, 0);"></path></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.49754s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M116.8,52.5L104,52.7" class="st2" style="stroke: rgb(0, 0, 0);"></path></g></g></g></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.52586s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M56.8,43.2L76,54.7" class="st2" style="stroke: rgb(0, 0, 0);"></path></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.55419s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M102.9,38.1L76,54.7" class="st2" style="stroke: rgb(0, 0, 0);"></path></g></g></g></g></g><g class="ldl-layer"><g class="ldl-ani"><g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.58251s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M63.8,90.7c-0.2-11.2-11.2-20-24.7-19.8C29,71.1,20.5,76.5,16.9,83.9l-2.5,0c-1.8,0-3.3,1.5-3.2,3.3l0.1,8.2 c0,1.8,1.5,3.2,3.4,3.2l2.1,0c1.6,3.4,4.2,6.4,7.6,8.6l-1.5,5.9l11.1,2.7l1.4-5.5c1.1,0.5,2.6,1,4.4,1.2c3.5,0.4,6.3-0.6,7.7-1.2 l1.5,5.2l11-3.1l-2.3-7.9C61.6,100.7,63.9,96,63.8,90.7z" class="st3" style="fill: rgb(252, 233, 242); stroke: rgb(0, 0, 0);"></path></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.61084s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M46.2,78.9c-2.1-1.1-4.4-1.6-6.6-1.3c-0.4,0.1-0.9,0.2-1.3,0.3" class="st4" style="fill: rgb(255, 255, 255); stroke: rgb(0, 0, 0);"></path></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.63916s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M29,69.2c-2.9-2.3-7.2-1.8-9.5,1.2c0,0,0,0,0,0l10.7,8.4C32.5,75.7,32,71.5,29,69.2C29,69.2,29,69.2,29,69.2z" class="st5" style="fill: rgb(239, 102, 178); stroke: rgb(0, 0, 0);"></path></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.66749s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><circle r="2.4" cy="85.3" cx="26" class="st6" style="fill: rgb(0, 0, 0); stroke: rgb(0, 0, 0);"></circle></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.69581s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M57.4,77.6c0.2-2.6,1.8-4.9,3.7-6.7c1-1,2.4-1.8,3.8-1.4c1.1,0.4,1.8,1.6,1.9,2.7c0.1,1.2-0.3,2.5-1.3,3.1 c-0.9,0.6-2.1,0.4-3-0.2c-0.9-0.6-1.5-1.6-1.7-2.6c-0.6-2.2,0.2-4.7,2-6.1c0.6-0.5,1.3-0.8,2-0.8" class="st2" style="stroke: rgb(0, 0, 0);"></path></g></g></g></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.72414s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="z" class="st0"></path></g></g><metadata xmlns:d="https://loading.io/stock/">
      <d:name>wait</d:name>
      <d:tags>wait,investment,time,fundraising,crowdfunding</d:tags>
      <d:license>by</d:license>
      <d:slug>etw3ij</d:slug>
      </metadata></g></g><style id="bounce-09824019-aabd-4b50-b18d-7e789b3ef72a" data-anikit="">@keyframes bounce-09824019-aabd-4b50-b18d-7e789b3ef72a
      {
        0% {
          animation-timing-function: cubic-bezier(0.1361,0.2514,0.2175,0.8786);
          transform: translate(0,0px) scaleY(1);
        }
        37% {
          animation-timing-function: cubic-bezier(0.7674,0.1844,0.8382,0.7157);
          transform: translate(0,-39.96px) scaleY(1);
        }
        72% {
          animation-timing-function: cubic-bezier(0.1118,0.2149,0.2172,0.941);
          transform: translate(0,0px) scaleY(1);
        }
        87% {
          animation-timing-function: cubic-bezier(0.7494,0.2259,0.8209,0.6963);
          transform: translate(0,19.900000000000002px) scaleY(0.602);
        }
        100% {
          transform: translate(0,0px) scaleY(1);
        }
      }</style>
      </svg>
      <p id="autoText" class="loader_text">Thank you, please wait the computer is doing its thing.</p>
      </div>
      {{else}}
      {{#if profilePage}}
      {{else}}
      <footer class="footer__container">
         <a href="/">About</a>
         <a href="/about/press">Press</a>
         <a href="/creatives">Creatives</a>
         <a href="/blog">Blog</a>
         <a href="/about/terms">Terms Of Service</a>
         <a href="/about/privacy">Privacy Policy</a>
         {{! Not Ready Yet <a href="/about/copyright">Copyright</a> }}
         <div style="width: 100%; text-align: center; font-size: 12px;">
         Copyright &copy; <span style="display: inline; font-size: 12px;" id="copyrightYear"></span> Hryzn, Inc. All Rights Reserved.
         </div>
      </footer>
      {{/if}}
      {{/if}}

   </body>

   <!-- Site JS-->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="/js/welcome/modernizr.js"></script>
   <script src="/js/welcome/pace.min.js"></script>
   <script src="/js/welcome/plugins.js" type="text/javascript"></script>
   <script src="/js/search-autocomplete.js" type="text/javascript"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autotab/1.9.2/js/jquery.autotab.js" /></script>
   <script>
   (function copyrightYear() {
      var d = new Date();
      var n = d.getFullYear();
      document.getElementById("copyrightYear").innerHTML = n;
   })();
   </script>
   <script>
   autocomplete(document.getElementById("searchAuto"), project_titles_and_profile_usernames_and_group_names);
   </script>
   {{#if welcomePage}}
   <script src="/js/welcome-slider.init.js"></script>
   {{/if}}

   {{#if editProject}}
   <script src="/scripts/trumbowyg/dist/trumbowyg.min.js" type="text/javascript"></script>
   <script src="/scripts/trumbowyg/dist/plugins/upload/trumbowyg.upload.min.js" type="text/javascript"></script>
   <script src="/scripts/trumbowyg/dist/plugins/allowtagsfrompaste/trumbowyg.allowtagsfrompaste.min.js" type="text/javascript"></script>
   <script src="/scripts/trumbowyg/dist/plugins/insertaudio/trumbowyg.insertaudio.min.js" type="text/javascript"></script>
   <script src="/scripts/trumbowyg/dist/plugins/cleanpaste/trumbowyg.cleanpaste.min.js"></script>
   <script src="/scripts/trumbowyg/dist/plugins/history/trumbowyg.history.min.js"></script>
   <script src="/scripts/trumbowyg/dist/plugins/pasteembed/trumbowyg.pasteembed.min.js"></script>
   <script src="/scripts/trumbowyg/dist/plugins/pasteimage/trumbowyg.pasteimage.min.js"></script>
   <script src="/scripts/trumbowyg/dist/plugins/mention/trumbowyg.mention.js"></script>
   <script src="/scripts/trumbowyg/dist/plugins/fontfamily/trumbowyg.fontfamily.min.js"></script>
   <!-- <script src="/js/editor.js" type="text/javascript"></script> -->

   <script>
   $(document).ready(function() {
      var mentions = [{login: "{{{user.username}}}"}];
      {{#if mention}}
      {{#each mention}}
      mentions.push({login: "{{{this.username}}}"})
      {{/each}}
      {{/if}}

      // Editor
      $('#editor').trumbowyg({
         svgPath: '/editorIcons/icons.svg',
         removeformatPasted: true,
         btnsDef: {
            image: {
               dropdown: ['insertImage', 'upload', 'insertAudio'],
               ico: 'upload'
            }
         },
         btns: [
            ['viewHTML'],
            ['formatting'],
            ['strong', 'em', 'del'],
            ['superscript', 'subscript'],
            ['fontfamily'],
            ['link'],
            ['mention'],
            ['image'],
            ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
            ['unorderedList', 'orderedList'],
            ['horizontalRule'],
            ['removeformat'],
            ['historyUndo', 'historyRedo']
         ],
         plugins: {
            upload: {
               serverPath: '/p/upload',
               fileFieldName: 'editor_image'
            },
            mention: {
               source: mentions,
               formatDropdownItem: function (item) {
                   return '@' + item.login;
               }
            }
         }
      });

      $('.edit-project__form-btn').each(function() {
         $(this).click(function() {
            // Content of editor
            var contents = $('#editor').trumbowyg('html');

            // Take away html tags and line breaks
            var cleanUp = contents.replace(/<(?:.|\n)*?>/gm, '').replace(/(\r\n|\n|\r)/gm,"").replace('&nbsp;','');

            // Split apart each word
            var noSpaces = cleanUp.trim().split(/\s+/);

            // Count up the words
            var wordCount = noSpaces.length;

            if(wordCount < 1000 ) {
               $("#projectNotes").val(contents);
            }
         });
      });

      $('#editor').keyup(function() {
         // Content of editor
         var contents = $('#editor').trumbowyg('html');

         // Take away html tags and line breaks
         var cleanUp = contents.replace(/<(?:.|\n)*?>/gm, '').replace(/(\r\n|\n|\r)/gm,"").replace('&nbsp;','');

         // Split apart each word
         var noSpaces = cleanUp.trim().split(/\s+/);

         // Count up the words
         var wordCount = noSpaces.length;

         if(wordCount > 1000 ) {
            $('#edit-project__form-btn').attr("type","button");
            $('#edit-project__form-btn').addClass('noClick__btn');
            $('#wordCount').text(wordCount + ' / 1000 words | Too Many Words');
         } else {
            $('#edit-project__form-btn').attr("type","submit");
            $('#edit-project__form-btn').removeClass('noClick__btn');
            $('#wordCount').text(wordCount + ' / 1000 words');
         }
      });

      var idleTime = 0;
      var idleInterval = setInterval(timerIncrement, 60000); // 1 minute

      //Zero the idle timer on mouse movement.
      $(this).mousemove(function (e) {
         idleTime = 0;
      });
      $(this).keypress(function (e) {
         idleTime = 0;
      });
      $(this).bind('touchstart', function (e) {
         idleTime = 0;
      });
      $(this).bind('touchmove', function (e) {
         idleTime = 0;
      });

      function timerIncrement() {
      idleTime = idleTime + 1;
         if (idleTime > 2) { // 3 minutes
            $("#autoLoader").css({"display": "flex"});
            $("#autoText").text("Autosaving after 3 minutes of inactivity...");
            setTimeout(function() {
               $('.draft_btn.project_submit').trigger('click');
            }, 3000);
         }
      }

   });
   </script>

   {{#if project_error}}
   <script>
   // Projects
   $(document).ready(function() {
      $('#editor').trumbowyg('html', '{{{project_notes}}}');
   });
   </script>
   {{/if}}


   {{#if notes_is_empty_string}}
   {{! Do nothing }}
   {{else}}
   <script>
   // Projects
   $(document).ready(function() {
      $('#editor').trumbowyg('html', '{{{project_notes}}}');
   });
   </script>
   {{/if}}

   {{#if post}}
      {{#if post_error}}
      <script>
      // Blog Post
      $(document).ready(function() {
         $('#editor').trumbowyg('html', `{{{post_notes}}}`);
      });
      </script>
      {{post_notes}}
      {{else}}
      <script>
      // Blog Post
      $(document).ready(function() {
         $('#editor').trumbowyg('html', `{{{post.post_notes}}}`);
      });
      </script>
      {{/if}}
   {{/if}}

   <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
   <script>
   $(document).ready(function() {
      $(".chosen-select").chosen({
         no_results_text: "Oops, nothing found!",
         max_selected_options: 5
      });
   });
   </script>
   {{/if}}
   {{! End IF EditProject }}

   {{#if projects}}
   {{#if linear_feed}}
   {{else}}
   {{! Only necessary for masonry feed }}
   <script src="/js/macy.js" type="text/javascript"></script>
   <script src="/js/macy.init.js" type="text/javascript"></script>
   {{/if}}
   {{/if}}

   <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
   <script>
   $(document).ready(function() {
      $(".chosen-select").chosen({
         no_results_text: "Oops, nothing found!",
         max_selected_options: 5
      });
   });
   </script>

   {{! For DEV
   <script src="/js/main.js" type="text/javascript"></script>
   }}

   {{! For PROD }}
   <script src="/dist/js/main.min.js" type="text/javascript"></script>

</html>
{{/if}}
