{{#if project}}

<div id="micropostPop">
   <div class="micropostPop_wrapper">
      <div class="micropostPop_container">

         <div class="micropost">
            <input class="likes_length" type="hidden" name="likes_length" value="{{project.likes.length}}">
            <input class="reposts_length" type="hidden" name="reposts_length" value="{{project.reposts.length}}">
            <input class="saves_length" type="hidden" name="saves_length" value="{{project.saves.length}}">
            <input class="micro_project" type="hidden" name="project_id" value="{{project._id}}">
            <input class="micro_owner" type="hidden" name="project_owner" value="{{project.project_owner}}">
            <div class="micropost_card {{#if project.micro_image}}card_is_micro_image{{else}}{{#if project.micro_audio}}card_is_micro_audio{{else}}{{#if project.micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
               {{#if project.micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{project.micro_image}}?tr=w-750" class="img-responsive" alt="{{project.micro_body}}" />{{/if}}
               {{#if project.thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{project.thumbnail_image}}?tr=w-750" class="img-responsive" alt="{{project.micro_body}}" />{{/if}}
               {{#if project.micro_audio}}
               <audio controls controlsList="nodownload" class="micro_audio">
                  <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_audio}}" type="audio/ogg">
                  <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_audio}}" type="audio/mpeg">
                  <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_audio}}" type="audio/wav">
                   Your browser does not support the audio element.
               </audio>
               {{/if}}
               {{#if project.micro_video}}
               <video autoplay preload="auto" controls controlsList="nodownload" class="micro_video">
                  <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_video}}" type="video/mp4">
                  <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_video}}" type="video/ogg">
                  <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_video}}" type="video/webm">
                  Your browser does not support the video tag.
               </video>
               {{/if}}

               {{#if project.private_collection_name}}<span style="color: #555; font-weight: bold; font-size: 12px;">Posted in "{{project.private_collection_name}}" (Private Collection)</span>{{/if}}
               {{#if project.date_posted}}<p class="micro_date">{{project.date_posted}}</p>{{/if}}

               <div class="micro_top_action">
                  <a class="micro_tag" href="/profile/{{project.project_owner}}">
                     <div class="topnav__user">
                        <div class="topnav__profile-img-container">
                           <img class="profile__img" src="https://ik.imagekit.io/w07am55tja/{{project.project_owner_profile_image}}?tr=w-75">
                        </div>
                        @{{project.project_owner}}
                     </div>
                  </a>

                  <div class="micro_action_btns">
                     {{#if user}}
                        {{#if user_liked}}

                        {{! Like / Unlike Project }}

                        <form title="unlike" method="post" action="/p/details/micro/like/{{project._id}}">
                           <input type="hidden" name="username" value="{{user.username}}">
                           <input type="hidden" name="project_id" value="{{project.id}}">
                           <input type="hidden" name="og_path" value="" class="og_path"/>
                           <button class="project_action_btn" name="submit" type="submit">
                              <a><i style="font-weight: bold" class="fa fa-heart"></i></a>
                           </button>
                        </form>

                        {{else}}

                        <form title="like" method="post" action="/p/details/micro/like/{{project._id}}">
                           <input type="hidden" name="username" value="{{user.username}}">
                           <input type="hidden" name="project_id" value="{{project.id}}">
                           <input type="hidden" name="project_owner" value="{{project.project_owner}}">
                           <input type="hidden" name="og_path" value="" class="og_path"/>
                           <button class="project_action_btn" name="submit" type="submit">
                              <a><i style="font-weight: bold" class="fa fa-heart-o"></i></a>
                           </button>
                        </form>

                        {{/if}}

                     {{else}}

                     <button class="project_action_btn" name="submit" type="submit">
                        <a><i style="font-weight: bold" class="fa fa-heart-o"></i></a>
                     </button>

                     {{/if}}

                     <button class="project_action_btn" name="submit" type="submit">
                        <a {{#if user}}class="detailsRepostModalBtn"{{/if}}><i class="fa fa-retweet"></i></a>
                     </button>


                     {{#if user}}
                        {{#if user_saved}}

                        {{! Save / Unsave Project }}

                        <form title="unsave" method="post" action="/p/details/micro/save/{{project._id}}">
                           <input type="hidden" name="username" value="{{user.username}}">
                           <input type="hidden" name="project_id" value="{{project.id}}">
                           <input type="hidden" name="og_path" value="" class="og_path"/>
                           <button class="project_action_btn" name="submit" type="submit">
                              <a><i style="font-weight: bold" class="fa fa-bookmark"></i></a>
                           </button>
                        </form>

                        {{else}}

                        <form title="save" method="post" action="/p/details/micro/save/{{project._id}}">
                           <input type="hidden" name="username" value="{{user.username}}">
                           <input type="hidden" name="project_id" value="{{project.id}}">
                           <input type="hidden" name="project_owner" value="{{project.project_owner}}">
                           <input type="hidden" name="og_path" value="" class="og_path"/>
                           <button class="project_action_btn" name="submit" type="submit">
                              <a><i style="font-weight: bold" class="fa fa-bookmark-o"></i></a>
                           </button>
                        </form>

                        {{/if}}

                     {{else}}

                     <button class="project_action_btn" name="submit" type="submit">
                        <a><i style="font-weight: bold" class="fa fa-bookmark-o"></i></a>
                     </button>

                     {{/if}}
                  </div>
               </div>

               {{#if project.project_title}}<p class="micro_title">{{project.project_title}}</p>{{/if}}

               {{#if project.micro_body}}
               <p class="micro_body">
                  {{{project.micro_body}}}
               </p>
               {{/if}}


               {{#if project.project_url}}
               <a target="_blank" class="project_url" href="https://{{project.project_url}}">View Site</a>
               {{/if}}


               <div class="action_btns_social">
                  <a target="_blank" href="http://www.facebook.com/sharer.php?u={{site_url}}/p/details/{{project._id}}/guest&amp;t={{#if project.project_title}}{{project.project_title}}{{else}}Explore On Hryzn{{/if}}" title="Share on Facebook" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a target="_blank" href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fmyhryzn%3A5000%2Fp%2Fdetails%2F{{project._id}}&ref_src=twsrc%5Etfw&text={{#if project.project_title}}{{project.project_title}}{{else}}Explore On Hryzn{{/if}}&tw_p=tweetbutton&url=https%3A%2F%2Fwww.myhryzn.com%2Fp%2Fdetails%2F{{project._id}}%2Fguest&via=myHryzn" title="Share on Twitter" class="twitter"><i class="fa fa-twitter"></i></a>
                  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                  <a class="check" class="copy-link" onclick="copyLink('{{site_url}}/p/micro/{{project._id}}/guest')"><i class="fa fa-link"></i></a>
               </div>

               {{#if is_admin_of_project}}
               <div class="micro_action_btns">
                  <div class="modalBtn admin_btn">Delete</div>
               </div>
               {{/if}}
            </div>

            {{! Project Comments }}

            <div class="comment_box">

               <div class="comment_box_comments">
               {{#if project.comments}}
               {{#each project.comments}}
               <div class="project_comment">
                  <a href="/profile/{{this.username}}">
                     <div class="topnav__user">
                        <div class="topnav__profile-img-container">
                           <img class="profile__img comment_profileimage" src="https://ik.imagekit.io/w07am55tja/{{this.profileimage}}?tr=w-75">
                        </div>
                        <p class="comment_username">{{this.username}}</p>
                        <div class="{{#if ../user}}del_box{{else}}del_box_off{{/if}}"></div>
                        <p style="display:none" class="comment_id">{{this._id}}</p>
                     </div>
                  </a>
                  <p class="comment_msg">{{{this.message}}}</p>
               </div>
               {{/each}}
               {{else}}
               <p style="text-align: center">There are no comments.</p>
               {{/if}}
               </div>

               {{#if user}}

               <form id="comment" method="post" class="comment_form" action="/p/details/comment/{{project._id}}">
                  <input class="og_path" type="hidden" name="og_path" value="{{og_path}}">
                  <input type="hidden" name="username" value="{{user.username}}">
                  <input type="hidden" name="profileimage" value="{{user.profileimage}}">
                  <input type="hidden" name="project_id" value="{{project._id}}">
                  <input type="hidden" name="project_owner" value="{{project.project_owner}}">
                  <textarea type="text" name="comment" required></textarea>
                  <button class="comment_btn" name="submit" type="submit">Send Comment</button>
               </form>

               {{/if}}

            </div>

         </div>

      </div>
   </div>
</div>

{{/if}}

{{#if projects}}
<div class="explore_main">
   <div id="masonryContainer" class="masonryContainer">

      {{#each projects}}

         {{#if is_private}}
         {{! Can't show private projects to people other than logged in User }}
         {{else}}

            {{#if is_micro_post}}

            {{#if posted_to_group}}
               {{#each posted_to_group}}
                  {{#ifEquals this.group_is_private "true"}}
                     {{! Don't show projects in private groups }}
                  {{else}}
                     <div class="masonryItem ownProject" title="{{../project_title}}">
                        <a href="/p/micro/{{../_id}}">
                           <div class="micropost">
                              <div class="micropost_card {{#if ../micro_image}}card_is_micro_image{{else}}{{#if ../micro_audio}}card_is_micro_audio{{else}}{{#if ../micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                                 {{#if ../micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{../micro_image}}?tr=w-450" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                 {{#if ../thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{../thumbnail_image}}?tr=w-450" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                 {{#if ../micro_video}}<div class="micro_play_btn"><img class="topnav__icon" src="/img/icons/play-button-white.png" /></div>{{/if}}
                                 {{#if ../micro_audio}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/audio-button-white.png" /></div>{{/if}}
                                 {{#if ../project_title}}<p class="micro_title">{{../project_title}}</p>{{/if}}
                                 <p class="micro_body">{{{../micro_body}}}</p>
                              </div>
                              <a class="micro_tag" href="/profile/{{../project_owner}}">@{{../project_owner}}</a>
                           </div>
                        </a>
                     </div>
                  {{/ifEquals}}
               {{/each}}
            {{else}}
               <div class="masonryItem ownProject" title="{{project_title}}">
                  <a href="/p/micro/{{_id}}">
                     <div class="micropost">
                        <div class="micropost_card {{#if micro_image}}card_is_micro_image{{else}}{{#if micro_audio}}card_is_micro_audio{{else}}{{#if micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                           {{#if micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{micro_image}}?tr=w-450" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                           {{#if thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{thumbnail_image}}?tr=w-450" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                           {{#if micro_video}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/play-button-white.png" /></div>{{/if}}
                           {{#if micro_audio}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/audio-button-white.png" /></div>{{/if}}
                           {{#if project_title}}<p class="micro_title">{{project_title}}</p>{{/if}}
                           <p class="micro_body">
                              {{{micro_body}}}
                           </p>
                        </div>
                        <a class="micro_tag {{#if project_title}}micro_tag_w_title{{/if}}" href="/profile/{{project_owner}}">@{{project_owner}}</a>
                     </div>
                  </a>
               </div>
            {{/if}}

            {{else}}

               {{#if posted_to_group}}
                  {{#each posted_to_group}}
                     {{#ifEquals this.group_is_private "true"}}
                        {{! Don't show projects in private groups }}
                     {{else}}
                        <div class="masonryItem ownProject" title="{{../project_title}}">
                           <div class="project_card">
                              <a href="/p/details/{{../id}}" class="project_link">
                                 <img src="https://ik.imagekit.io/w07am55tja/{{#if ../thumbnail_image}}{{../thumbnail_image}}{{else}}{{../project_image}}{{/if}}?tr=w-450" class="img-responsive" alt="{{../project_title}}" />
                              </a>
                              <div class="project_card_bottom">
                                 <div class="project_bottom_wrapper">
                                    <div class="bg_overlay"></div>
                                    <div class="project_bottom_details">
                                       <a href="/profile/{{../project_owner}}"><p class="project_owner">@{{../project_owner}}</p></a>
                                       <a href="/p/details/{{../id}}" class="project_link">
                                          <p class="project_card_title">{{../project_title}}</p>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     {{/ifEquals}}
                  {{/each}}
               {{else}}
                  <div class="masonryItem ownProject" title="{{project_title}}">
                     <div class="project_card">
                        <a href="/p/details/{{id}}" class="project_link">
                           <img src="https://ik.imagekit.io/w07am55tja/{{#if thumbnail_image}}{{thumbnail_image}}{{else}}{{project_image}}{{/if}}?tr=w-450" class="img-responsive" alt="{{project_title}}" />
                        </a>
                        <div class="project_card_bottom">
                           <div class="project_bottom_wrapper">
                              <div class="bg_overlay"></div>
                              <div class="project_bottom_details">
                                 <a href="/profile/{{project_owner}}"><p class="project_owner">@{{project_owner}}</p></a>
                                 <a href="/p/details/{{id}}" class="project_link">
                                    <p class="project_card_title">{{project_title}}</p>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               {{/if}}

            {{/if}}

         {{/if}}

      {{/each}}

   </div>
</div>
{{/if}}

<div class="detailsRepostModal modalBackground">
   <div class="modal-content">

   <div class="modal-header ">
   <p>Where would you like to repost to?</p>
   </div>

   <form title="repost" method="post" action="/p/details/micro/repost/{{project._id}}">
      <input type="hidden" name="username" value="{{user.username}}">
      <input type="hidden" name="project_id" value="{{project.id}}">
      <input type="hidden" name="og_path" value="" class="og_path"/>
      <input type="hidden" name="project_owner" value="{{project.project_owner}}">
      <select data-placeholder="Repost to..." class="chosen-select form__input" name="repost_to">
         <option value=""></option>
         <option value="followers">Followers</option>
         {{#each user.groups}}
         <option value="{{this.group_id}}">Your Group "{{this.group_name}}"</option>
         {{/each}}
      </select>
      <div class="modal-footer">
         <input class="btn__secondary repost_submit" type="submit" value="Repost"/>
         <span class="closeModal btn__primary">Cancel</span>
      </div>
   </form>

   <form title="unrepost" method="post" action="/p/details/micro/unrepost/{{project._id}}">
      <input type="hidden" name="username" value="{{user.username}}">
      <input type="hidden" name="project_id" value="{{project.id}}">
      <input type="hidden" name="og_path" value="" class="og_path"/>
      <input class="btn__secondary unrepost_btn" type="submit" value="I'm actually trying to unrepost this"/>
   </form>

   </div>

</div>

{{#if is_admin_of_project}}
{{! Hidden Delete Modal }}
<div class="popModal modalBackground">
  <div class="modal-content">

    <div class="modal-header ">
      <p>Are You Sure?</p>
    </div>

    <div class="modal-body">
      <p>Deleting this is permanent and cannot be undone.</p>
    </div>

    <div class="modal-footer">
      <a href="/p/details/delete/{{project._id}}" class="btn__secondary project_submit">Yes I'm Sure</a>
      <span class="closeModal btn__primary">Cancel</span>
    </div>

  </div>

</div>

<div id="autoLoader" class="loader_project">
<svg xml:space="preserve" style="height: 100%; width: 100%; background: #31375A; shape-rendering: auto;" viewBox="0 0 128 128" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" id="圖層_1" version="1.1" width="156px" height="156px"><g class="ldl-scale" style="transform-origin: 50% 50%; transform: rotate(0deg) scale(0.3, 0.3);"><g class="ldl-ani"><style type="text/css">.st0{fill:none}.st1,.st2{stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}.st1{stroke-width:3;fill:#e8f0c5}.st2{fill:none}.st2,.st3,.st4{stroke-width:3}.st3{stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;fill:#fce9f2}.st4{fill:#fff}.st4,.st5,.st6{stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}.st5{fill:#ef66b2;stroke-width:3}.st6{stroke-width:.25}</style><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.35591s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="z" class="st0"></path></g></g><g class="ldl-layer"><g class="ldl-ani"><g><g class="ldl-layer"><g class="ldl-ani"><g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.38424s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><circle r="41.6" cy="53.9" cx="75.2" class="st1" style="fill: rgb(255, 255, 255); stroke: rgb(0, 0, 0);"></circle></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.41256s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M75.1,12.3l0.2,12.8" class="st2" style="stroke: rgb(0, 0, 0);"></path></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.44089s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M33.6,54l12.8-0.2" class="st2" style="stroke: rgb(0, 0, 0);"></path></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.46921s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M76.6,95.5l-0.2-12.8" class="st2" style="stroke: rgb(0, 0, 0);"></path></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.49754s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M116.8,52.5L104,52.7" class="st2" style="stroke: rgb(0, 0, 0);"></path></g></g></g></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.52586s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M56.8,43.2L76,54.7" class="st2" style="stroke: rgb(0, 0, 0);"></path></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.55419s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M102.9,38.1L76,54.7" class="st2" style="stroke: rgb(0, 0, 0);"></path></g></g></g></g></g><g class="ldl-layer"><g class="ldl-ani"><g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.58251s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M63.8,90.7c-0.2-11.2-11.2-20-24.7-19.8C29,71.1,20.5,76.5,16.9,83.9l-2.5,0c-1.8,0-3.3,1.5-3.2,3.3l0.1,8.2 c0,1.8,1.5,3.2,3.4,3.2l2.1,0c1.6,3.4,4.2,6.4,7.6,8.6l-1.5,5.9l11.1,2.7l1.4-5.5c1.1,0.5,2.6,1,4.4,1.2c3.5,0.4,6.3-0.6,7.7-1.2 l1.5,5.2l11-3.1l-2.3-7.9C61.6,100.7,63.9,96,63.8,90.7z" class="st3" style="fill: rgb(252, 233, 242); stroke: rgb(0, 0, 0);"></path></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.61084s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M46.2,78.9c-2.1-1.1-4.4-1.6-6.6-1.3c-0.4,0.1-0.9,0.2-1.3,0.3" class="st4" style="fill: rgb(255, 255, 255); stroke: rgb(0, 0, 0);"></path></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.63916s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M29,69.2c-2.9-2.3-7.2-1.8-9.5,1.2c0,0,0,0,0,0l10.7,8.4C32.5,75.7,32,71.5,29,69.2C29,69.2,29,69.2,29,69.2z" class="st5" style="fill: rgb(239, 102, 178); stroke: rgb(0, 0, 0);"></path></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.66749s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><circle r="2.4" cy="85.3" cx="26" class="st6" style="fill: rgb(0, 0, 0); stroke: rgb(0, 0, 0);"></circle></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.69581s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M57.4,77.6c0.2-2.6,1.8-4.9,3.7-6.7c1-1,2.4-1.8,3.8-1.4c1.1,0.4,1.8,1.6,1.9,2.7c0.1,1.2-0.3,2.5-1.3,3.1 c-0.9,0.6-2.1,0.4-3-0.2c-0.9-0.6-1.5-1.6-1.7-2.6c-0.6-2.2,0.2-4.7,2-6.1c0.6-0.5,1.3-0.8,2-0.8" class="st2" style="stroke: rgb(0, 0, 0);"></path></g></g></g></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.72414s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="z" class="st0"></path></g></g><metadata xmlns:d="https://loading.io/stock/">
<d:name>wait</d:name>
<d:tags>wait,investment,time,fundraising,crowdfunding</d:tags>
<d:license>by</d:license>
<d:slug>etw3ij</d:slug>
</metadata></g></g><style id="bounce-09824019-aabd-4b50-b18d-7e789b3ef72a" data-anikit="">@keyframes bounce-09824019-aabd-4b50-b18d-7e789b3ef72a
{
  0% {
    animation-timing-function: cubic-bezier(0.1361,0.2514,0.2175,0.8786);
    transform: translate(0,0px) scaleY(1);
  }
  37% {
    animation-timing-function: cubic-bezier(0.7674,0.1844,0.8382,0.7157);
    transform: translate(0,-39.96px) scaleY(1);
  }
  72% {
    animation-timing-function: cubic-bezier(0.1118,0.2149,0.2172,0.941);
    transform: translate(0,0px) scaleY(1);
  }
  87% {
    animation-timing-function: cubic-bezier(0.7494,0.2259,0.8209,0.6963);
    transform: translate(0,19.900000000000002px) scaleY(0.602);
  }
  100% {
    transform: translate(0,0px) scaleY(1);
  }
}</style>
</svg>
<p id="autoText" class="loader_text">Thank you, please wait the computer is doing its thing.</p>
</div>
{{/if}}

<script>
// Copy project details link
function copyLink(text) {
   var pawn = document.createElement("input");
   document.body.appendChild(pawn);
   pawn.setAttribute('value', text);
   pawn.select();
   document.execCommand("copy");
   document.body.removeChild(pawn);

   var check = document.querySelectorAll(".check");
   check.forEach(function(i) {
      i.innerHTML = "&check;"
   });
}
</script>
