<div class="loader_overlay">
   <div class="loader_wrapper">
      <div class="loader"></div>
      <p class="loader_text loader_text-1"><strong>Our robots are looking for the cool stuff.</strong></p>
      <p class="loader_text loader_text-2"><strong>Retrieving files... Accessing data... Planning world domination.</strong></p>
      <p class="loader_text loader_text-3"><strong>Soon the computers will just take over.</strong></p>
      <p class="loader_text loader_text-4"><strong>The things are doing the stuff.</strong></p>
      <p class="loader_text loader_text-5"><strong>Your hair looks pretty.</strong></p>
   </div>
</div>

<div class="explore_main">

   {{! User searched }}
   {{#if user_search}}
      <p class="top_results">Top Profiles</p>
      <hr class="top_results_underline" />
      {{#each user_search}}
      <a href="/profile/{{this.username}}" class="follower__profile">
         <div class="follower__profile-img-container">
            <img class="profile__img" {{#if this.profileimage}}src="https://s3.amazonaws.com/hryzn-app-static-assets/{{this.profileimage}}"{{else}}src="/img/site/hryzn-placeholder-01.jpg"{{/if}} />
         </div>
         {{this.username}}
      </a>
      {{/each}}
   {{/if}}

   {{#if project_search}}
      {{#if projects}}
      <p class="top_results">Top Projects</p>
      <hr class="top_results_underline" />

         {{! If a project was found}}
         <div class="masonryContainer">

            {{#each projects}}

               {{#if is_private}}
               {{! Check if the project is a private project, we do not want to show private projects }}
               {{else}}

               <div class="masonryItem">
                  <a href="/p/details/{{id}}" class="project_link">
                     <div class="project_card">
                        <img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{project_image}}" class="img-responsive" alt="{{project_title}}" />
                        <p class="project_card_title">{{project_title}}</p>
                     </div>
                  </a>
                  <a href="/profile/{{project_owner}}"><p class="project_owner">{{project_owner}}</p></a>
               </div>

               {{/if}}

            {{/each}}

         </div>

      {{else}}

      {{/if}}
   {{/if}}

   {{! Default Explore Page }}
   {{#if explore_default}}
      {{#if projects}}

         <div class="masonryContainer">

            {{#each projects}}

               {{#if is_private}}
               {{! Check if the project is a private project, we do not want to show private projects }}
               {{else}}

               <div class="masonryItem">
                  <a href="/p/details/{{id}}" class="project_link">
                     <div class="project_card">
                        <img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{project_image}}" class="img-responsive" alt="{{project_title}}" />
                        <p class="project_card_title">{{project_title}}</p>
                     </div>
                  </a>
                  <a href="/profile/{{project_owner}}"><p class="project_owner">{{project_owner}}</p></a>
               </div>

               {{/if}}

            {{/each}}

         </div>

      {{else}}

         {{! Something went wrong }}
         <p class="error-message">Sorry, we couldn't find what you were looking for.</p>

      {{/if}}

   {{else}}
      {{#if user_search}}
      {{else}}
         {{#if project_search}}
         {{else}}
         {{! No project was found related to their search }}
         <p class="error-message">Sorry, we couldn't find what you were looking for.</p>
         {{/if}}
      {{/if}}
   {{/if}}

</div>
