<div class="loader_overlay">
   <div class="masonry-with-columns projects_loader">
      <div class="loader_card"></div>
      <div class="loader_card"></div>
      <div class="loader_card"></div>
      <div class="loader_card"></div>
      <div class="loader_card"></div>
      <div class="loader_card"></div>
      <div class="loader_card"></div>
      <div class="loader_card"></div>
      <div class="loader_card"></div>
      <div class="loader_card"></div>
      <div class="loader_card"></div>
      <div class="loader_card"></div>
      <div class="loader_card"></div>
      <div class="loader_card"></div>
      <div class="loader_card"></div>
   </div>
</div>

{{#if user}}
{{else}}
<div class="guestScroll">
{{/if}}

<div class="explore_main">

   {{! User searched }}
   {{#if user_search}}
      <p class="top_results">Top Profiles</p>
      <hr class="top_results_underline" />
      <section class="follower__profiles-section">
      {{#each user_search}}
      <a href="/profile/{{this.username}}" class="follower__profile">
         <div class="follower__profile-img-container">
            <img class="profile__img" {{#if this.profileimage}}src="https://ik.imagekit.io/w07am55tja/{{this.profileimage}}?tr=w-100"{{else}}src="/img/site/hryzn-placeholder-01.jpg"{{/if}} />
         </div>
         @{{this.username}}
      </a>
      {{/each}}
      </section>
   {{/if}}

   {{! Group searched }}
   {{#if group_search}}
   <p class="top_results">Top Groups</p>
   <hr class="top_results_underline" />
      <section class="explore_groups_container">
         <div class="group_wrapper">
            {{#each group_search}}
            {{#if this.is_private}}
            {{else}}
            <a href="/groups/{{this._id}}" class="group_bg" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('https://ik.imagekit.io/w07am55tja/{{this.group_image}}?tr=w-300')">
               {{this.group_name}}
            </a>
            {{/if}}
            {{/each}}
         </div>
      </section>
   {{/if}}

   {{#if project_search}}
      {{#if projects}}

      <p class="top_results">Top Projects</p>
      <hr class="top_results_underline" />

         {{! If a project was found}}
         <div id="masonryContainer" class="masonryContainer">

            {{#each projects}}

               {{#if is_private}}
               {{! Can't show private projects to people other than logged in User }}
               {{else}}

                  {{#if is_micro_post}}

                  {{#if posted_to_group}}
                     {{#each posted_to_group}}
                        {{#ifEquals this.group_is_private "true"}}
                           {{! Don't show projects in private groups }}
                        {{else}}
                           <div class="masonryItem ownProject" title="{{../project_title}}">
                              <a href="/p/micro/{{../_id}}">
                                 <div class="micropost">
                                    <div class="micropost_card {{#if ../micro_image}}card_is_micro_image{{else}}{{#if ../micro_audio}}card_is_micro_audio{{else}}{{#if ../micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                                       {{#if ../micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{../micro_image}}?tr=w-450" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                       {{#if ../thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{../thumbnail_image}}?tr=w-450" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                       {{#if ../micro_video}}<div class="micro_play_btn"><img class="topnav__icon" src="/img/icons/play-button-white.png" /></div>{{/if}}
                                       {{#if ../micro_audio}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/audio-button-white.png" /></div>{{/if}}
                                       {{#if ../project_title}}<p class="micro_title">{{../project_title}}</p>{{/if}}
                                       <p class="micro_body">{{{../micro_body}}}</p>
                                    </div>
                                    <a class="micro_tag" href="/profile/{{../project_owner}}">@{{../project_owner}}</a>
                                 </div>
                              </a>
                           </div>
                        {{/ifEquals}}
                     {{/each}}
                  {{else}}
                     <div class="masonryItem ownProject" title="{{project_title}}">
                        <a href="/p/micro/{{_id}}">
                           <div class="micropost">
                              <div class="micropost_card {{#if micro_image}}card_is_micro_image{{else}}{{#if micro_audio}}card_is_micro_audio{{else}}{{#if micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                                 {{#if micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{micro_image}}?tr=w-450" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                                 {{#if thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{thumbnail_image}}?tr=w-450" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                                 {{#if micro_video}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/play-button-white.png" /></div>{{/if}}
                                 {{#if micro_audio}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/audio-button-white.png" /></div>{{/if}}
                                 {{#if project_title}}<p class="micro_title">{{project_title}}</p>{{/if}}
                                 <p class="micro_body">
                                    {{{micro_body}}}
                                 </p>
                              </div>
                              <a class="micro_tag {{#if project_title}}micro_tag_w_title{{/if}}" href="/profile/{{project_owner}}">@{{project_owner}}</a>
                           </div>
                        </a>
                     </div>
                  {{/if}}

                  {{else}}

                     {{#if posted_to_group}}
                        {{#each posted_to_group}}
                           {{#ifEquals this.group_is_private "true"}}
                              {{! Don't show projects in private groups }}
                           {{else}}
                              <div class="masonryItem ownProject" title="{{../project_title}}">
                                 <div class="project_card">
                                    <a href="/p/details/{{../_id}}" class="project_link">
                                       <img src="https://ik.imagekit.io/w07am55tja/{{#if ../thumbnail_image}}{{../thumbnail_image}}{{else}}{{../project_image}}{{/if}}?tr=w-450" class="img-responsive" alt="{{../project_title}}" />
                                    </a>
                                    <div class="project_card_bottom">
                                       <div class="project_bottom_wrapper">
                                          <div class="bg_overlay"></div>
                                          <div class="project_bottom_details">
                                             <a href="/profile/{{../project_owner}}"><p class="project_owner">@{{../project_owner}}</p></a>
                                             <a href="/p/details/{{../id}}" class="project_link">
                                                <p class="project_card_title">{{../project_title}}</p>
                                             </a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           {{/ifEquals}}
                        {{/each}}
                     {{else}}
                        <div class="masonryItem ownProject" title="{{project_title}}">
                           <div class="project_card">
                              <a href="/p/details/{{_id}}" class="project_link">
                                 <img src="https://ik.imagekit.io/w07am55tja/{{#if thumbnail_image}}{{thumbnail_image}}{{else}}{{project_image}}{{/if}}?tr=w-450" class="img-responsive" alt="{{project_title}}" />
                              </a>
                              <div class="project_card_bottom">
                                 <div class="project_bottom_wrapper">
                                    <div class="bg_overlay"></div>
                                    <div class="project_bottom_details">
                                       <a href="/profile/{{project_owner}}"><p class="project_owner">@{{project_owner}}</p></a>
                                       <a href="/p/details/{{id}}" class="project_link">
                                          <p class="project_card_title">{{project_title}}</p>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     {{/if}}

                  {{/if}}

               {{/if}}

            {{/each}}

         </div>

      {{else}}

      {{/if}}
   {{/if}}

   {{! Default Explore Page }}
   {{#if explore_default}}

      {{#if groups}}
         <section class="explore_groups_container">
            <div class="group_wrapper">
               {{#each groups}}
               {{#if this.is_private}}
               {{else}}
               <a href="/groups/{{this._id}}" class="group_bg" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('https://ik.imagekit.io/w07am55tja/{{this.group_image}}?tr=w-300')">
                  {{this.group_name}}
               </a>
               {{/if}}
               {{/each}}
            </div>
         </section>
      {{/if}}

      {{#if projects}}

         {{#if category_title}}
         <p class="top_results">{{category_title}}</p>
         <hr class="top_results_underline" />
         {{/if}}

         <div id="masonryContainer" class="masonryContainer">

            {{#each projects}}

               {{#if is_private}}
               {{! Can't show private projects to people other than logged in User }}
               {{else}}

                  {{#if is_micro_post}}

                     {{#if posted_to_group}}
                        {{#each posted_to_group}}
                           {{#ifEquals this.group_is_private "true"}}
                              {{! Don't show projects in private groups }}
                           {{else}}
                              <div class="masonryItem ownProject" title="{{../project_title}}">
                                 <a href="/p/micro/{{../_id}}">
                                    <div class="micropost">
                                       <div class="micropost_card {{#if ../micro_image}}card_is_micro_image{{else}}{{#if ../micro_audio}}card_is_micro_audio{{else}}{{#if ../micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                                          {{#if ../micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{../micro_image}}?tr=w-450" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                          {{#if ../thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{../thumbnail_image}}?tr=w-450" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                          {{#if ../micro_video}}<div class="micro_play_btn"><img class="topnav__icon" src="/img/icons/play-button-white.png" /></div>{{/if}}
                                          {{#if ../micro_audio}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/audio-button-white.png" /></div>{{/if}}
                                          {{#if ../project_title}}<p class="micro_title">{{../project_title}}</p>{{/if}}
                                          <p class="micro_body">{{{../micro_body}}}</p>
                                       </div>
                                       <a class="micro_tag" href="/profile/{{../project_owner}}">@{{../project_owner}}</a>
                                    </div>
                                 </a>
                              </div>
                           {{/ifEquals}}
                        {{/each}}
                     {{else}}
                        <div class="masonryItem ownProject" title="{{project_title}}">
                           <a href="/p/micro/{{_id}}">
                              <div class="micropost">
                                 <div class="micropost_card {{#if micro_image}}card_is_micro_image{{else}}{{#if micro_audio}}card_is_micro_audio{{else}}{{#if micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                                    {{#if micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{micro_image}}?tr=w-450" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                                    {{#if thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{thumbnail_image}}?tr=w-450" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                                    {{#if micro_video}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/play-button-white.png" /></div>{{/if}}
                                    {{#if micro_audio}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/audio-button-white.png" /></div>{{/if}}
                                    {{#if project_title}}<p class="micro_title">{{project_title}}</p>{{/if}}
                                    <p class="micro_body">
                                       {{{micro_body}}}
                                    </p>
                                 </div>
                                 <a class="micro_tag {{#if project_title}}micro_tag_w_title{{/if}}" href="/profile/{{project_owner}}">@{{project_owner}}</a>
                              </div>
                           </a>
                        </div>
                     {{/if}}

                  {{else}}

                     {{#if posted_to_group}}
                        {{#each posted_to_group}}
                           {{#ifEquals this.group_is_private "true"}}
                              {{! Don't show projects in private groups }}
                           {{else}}
                              <div class="masonryItem ownProject" title="{{../project_title}}">
                                 <div class="project_card">
                                    <a href="/p/details/{{../id}}" class="project_link">
                                       <img src="https://ik.imagekit.io/w07am55tja/{{#if ../thumbnail_image}}{{../thumbnail_image}}{{else}}{{../project_image}}{{/if}}?tr=w-450" class="img-responsive" alt="{{../project_title}}" />
                                    </a>
                                    <div class="project_card_bottom">
                                       <div class="project_bottom_wrapper">
                                          <div class="bg_overlay"></div>
                                          <div class="project_bottom_details">
                                             <a href="/profile/{{../project_owner}}"><p class="project_owner">@{{../project_owner}}</p></a>
                                             <a href="/p/details/{{../id}}" class="project_link">
                                                <p class="project_card_title">{{../project_title}}</p>
                                             </a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           {{/ifEquals}}
                        {{/each}}
                     {{else}}
                        <div class="masonryItem ownProject" title="{{project_title}}">
                           <div class="project_card">
                              <a href="/p/details/{{id}}" class="project_link">
                                 <img src="https://ik.imagekit.io/w07am55tja/{{#if thumbnail_image}}{{thumbnail_image}}{{else}}{{project_image}}{{/if}}?tr=w-450" class="img-responsive" alt="{{project_title}}" />
                              </a>
                              <div class="project_card_bottom">
                                 <div class="project_bottom_wrapper">
                                    <div class="bg_overlay"></div>
                                    <div class="project_bottom_details">
                                       <a href="/profile/{{project_owner}}"><p class="project_owner">@{{project_owner}}</p></a>
                                       <a href="/p/details/{{id}}" class="project_link">
                                          <p class="project_card_title">{{project_title}}</p>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     {{/if}}

                  {{/if}}

               {{/if}}

            {{/each}}

         </div>

      {{else}}

         {{! Something went wrong }}
         <p class="error-message">Sorry, we couldn't find what you were looking for.</p>

      {{/if}}

   {{else}}
      {{#if user_search}}
      {{else}}
         {{#if group_search}}
         {{else}}
            {{#if project_search}}
            {{else}}
            {{! No project was found related to their search }}
            <p class="error-message">Sorry, we couldn't find what you were looking for.</p>
            {{/if}}
         {{/if}}
      {{/if}}
   {{/if}}

</div>

{{#if user}}
{{else}}

{{! End of guestScroll }}
</div>


{{! Sign up pop up for users without an account }}
<div class="signUpModal modalBackground">
   <div class="modal-content">

      <div class="form-container-2">
         <div class="modal-header">
            <a href="/" class="topnav__logo"><img src="/img/logos/hryzn-logo-v2-color-256x256.png" /></a>
            <p>Please login in to continue viewing.</p>
         </div>

         <form method="post" action="/users/login">
            <div class="container">
              <input class="form__input" type="text" placeholder="Enter username" name="username" value="{{username}}" required autocapitalize="none" />
              <input class="form__input" type="password" placeholder="Enter password" name="password" value="{{password}}" required  autocapitalize="none" />
              <button class="form_submit_btn" name="submit" type="submit">Login</button>
           </div>
         </form>

         <div class="form__href-container">
            <a class ="form__href" href="/users/register">
               Don't have an account? Click here to sign up.
            </a>
         </div>
      </div>

   </div>
</div>

{{/if}}
