<img src="/icons/left.png" class="go-back bck_btn" />
{{#if profiles}}
<section class="follower__profiles-section">
   {{#each profiles}}
   <a href="/profile/{{this.username}}" class="follower__profile">
      <div class="follower__profile-img-container">
         <img class="profile__img" {{#if this.profileimage}}src="https://ik.imagekit.io/w07am55tja/{{this.profileimage}}?tr=w-75"{{else}}src="/img/site/hryzn-placeholder-01.jpg"{{/if}} />
      </div>
      @{{this.username}}
   </a>
   {{/each}}
   {{else}}
</section>
<div class="follower__profiles-container">
   <h1 class="main__title">We're sorry, there are no followers.</h1>
</div>
{{/if}}
