<img src="/icons/left.png" class="go-back bck_btn" />
{{#if profiles}}
<section class="follower__profiles-section">
   {{#each profiles}}
   <a href="/profile/{{this.username}}" class="follower__profile">
      <div class="follower__profile-img-container">
         <img class="profile__img" {{#if this.profileimage}}src="https://s3.amazonaws.com/hryzn-app-static-assets/{{this.profileimage}}"{{else}}src="/img/site/hryzn-placeholder-01.jpg"{{/if}} />
      </div>
      {{this.username}}
   </a>
   {{/each}}
   {{else}}
</section>
<div class="follower__profiles-container">
   <h1 class="main__title">We're Sorry,</h1>
   <div class="row main__info-container">
      <p class="main__info"><strong>There are no followers.</strong></p>
   </div>
</div>
{{/if}}
