<div class="explore_main">

   <div class="create_group_btn_container">
      <p class="top_results">Your Groups</p>
      <div class="create_group_btn group_btn_blue">
         <img src="/icons/plus-white.png" class="main-topnav__icon" />
      </div>
   </div>
   <hr class="top_results_underline" />

   {{#if groups}}

   <section class="groups_container">
      {{#each groups}}
         <div class="group_wrapper">
         <a href="/groups/{{this._id}}" class="follower__profile">
            <div class="follower__profile-img-container">
               <img class="profile__img" src="https://ik.imagekit.io/w07am55tja/{{this.group_image}}?tr=w-75" />
            </div>
            {{this.group_name}}
         </a>
         {{#if is_private}}
         <div class="is_private">private</div>
         {{/if}}
         </div>
      {{/each}}
   </section>

   {{else}}

   <div class="feed__container">
      <div class="feed__container-text">
         <p class="main__info feed__text">We see you don't have any groups, <a class="create_group_btn make_group_tag"><strong>let's make a group.</strong></a></p>
      </div>
   </div>

   {{/if}}

   <form method="post" class="edit-project-form" action="/groups/join/private/code">
      {{! Private Group Code }}
      <div class="group_code_container">
         <input class="form__input" type="text" placeholder="Enter a group code" name="group_code" value="{{group_code}}" required autocapitalize="none" />
         <input type="submit" value="Enter" class="btn__secondary project_submit" />
      </div>
   </form>

</div>

<div class="groupModal groupModalBackground {{#if group_error}}groupError{{/if}}">
   <div class="modal-content">

   <form method="post" class="edit-project-form" action="/create-group" enctype="multipart/form-data">
      {{! Public or Private }}
      <div class="checkbox__wrapper">
         <label class="check__container">
            <input id="isPrivateCheck" class="form__input-checkbox" type="checkbox">
            <span class="checkmark">Private Group</span>
         </label>
         <label class="check__container">
            <input id="isPublicCheck" class="form__input-checkbox checked" type="checkbox" checked>
            <span class="checkmark">Public Group</span>
         </label>
      </div>
      <br />
      <input id="checkbox" type="hidden" name="is_private" value="false">

      {{! Group Name }}
      <label for="group_name" class="form__label" style="margin-top: 25px;">Group Name <span style="color: #999; font-size: 10px; margin-left: 8px;">* Required *</span></label>
      <input class="form__input" type="text" placeholder="Let's name the group" name="group_name" value="{{group_name}}" required />

      {{! Group Image }}
      <label for="group_image" class="form__label">Add Image <span style="color: #999; font-size: 10px; margin-left: 8px;">( Optional )</span></label>
      <input class="form__input" type="file" name="group_image" value="{{group_image}}" />

      {{! Group Categories }}
      <label for="group_categories" class="form__label" style="margin-top: 25px;">Add Categories <span style="color: #999; font-size: 10px; margin-left: 8px;">( Optional )</span></label>
      <select data-placeholder="Add categories..." multiple class="chosen-select form__input" name="group_categories[]">
         <option value=""></option>
         {{#each categories}}
         <option>{{this.category}}</option>
         {{/each}}
      </select>

      <input type="hidden" name="user" value="{{user.username}}">
      <input type="hidden" name="id" value="{{user._id}}">

      <div class="modal-footer">
         <input id="microSubmit" type="submit" class="btn__secondary micro_submit" value="Create" />
         <span class="closeModal btn__primary">Cancel</span>
      </div>
   </form>

   </div>
</div>
