<!-- Hero -->
<div class="section center wf-section"><img src="/img/arrow.svg" alt="" class="arrow">
  <div data-w-id="6b220cb1-4b9c-7fb0-75b9-53ff4a6c35a2" style="-webkit-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="hero-content">
    <h1 class="heading-3 hero-heading">The <span id="main" data-words="revolutionary, futuristic, cutting-edge, innovative, brand new" data-delay="150" data-deletedelay="2000" class="typer">revolutionary</span><span data-owner="main" class="cursor"> </span> <br>way to connect with your people.</h1>
    <h3 class="hero-subhead">Hryzn is a social platform where people can connect with their communities through niche topics, using the future of Web 3.0</h3>

    <div class="w-form">
      <form id="email-form-2" name="email-form-2" data-name="Email Form 2" action="/" method="post" class="form-3 hero-form">
        <input type="email" class="text-field w-input" maxlength="256" name="email" data-name="Email 3" placeholder="Enter your email address to join our waiting list..." id="email-3" required>
        <input type="hidden" name="hp_name" id="hp_name-3">
        {{#if share_ref}}<input type="hidden" name="share_ref" value="{{share_ref}}">{{/if}}
        <input type="submit" value="Join" data-wait="Please wait..." class="button hero-email-submit w-button">
      </form>

      {{#if email_success}}
      <div class="email-success">Thank you! We appreciate you being a part of our journey.</div>
      {{/if}}

      {{#if email_error}}
      <div class="email-fail">{{email_error}}</div>
      {{/if}}
    </div>
  </div>

  <img src="/img/Happy-Bunch---Astronaut.png" style="-webkit-transform:translate3d(0, 60PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" data-w-id="77e69727-c455-8e07-0990-833a661c94ea" sizes="(max-width: 479px) 80vw, (max-width: 991px) 70vw, 100vw" srcset="/img/Happy-Bunch---Astronaut-p-500.png 500w, /img/Happy-Bunch---Astronaut-p-800.png 800w, /img/Happy-Bunch---Astronaut-p-1080.png 1080w, /img/Happy-Bunch---Astronaut-p-1600.png 1600w, /img/Happy-Bunch---Astronaut-p-2000.png 2000w, /img/Happy-Bunch---Astronaut.png 2334w" alt="" class="hero-image">
</div>
<!-- /Hero -->


<!-- Full Image Feature Section-->
<div id="about" class="section wide img wf-section">
  <div data-w-id="b126983d-9126-fc06-c81d-1318685e2add" style="-webkit-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="wrap">
    <div class="title title-red-bg">Your passion. Your people.</div>
    <h2 class="heading-4">Join a hub of niches from recipes, to workouts, to crypto, and much more...</h2>
  </div>

  <div class="wrapper">
    <img src="/img/Tech-Life---Blockchain.png" srcset="/img/Tech-Life---Blockchain-p-500.png 500w, /img/Tech-Life---Blockchain-p-800.png 800w, /img/Tech-Life---Blockchain-p-1080.png 1080w, /img/Tech-Life---Blockchain-p-1600.png 1600w, /img/Tech-Life---Blockchain-p-2000.png 2000w, /img/Tech-Life---Blockchain.png 2500w" height="" sizes="90vw" alt="" class="image-6">
  </div>
</div>
<!-- /Feature Section-->


<!-- Features Section-->
<div class="section wf-section">
  <div id="features" data-w-id="8cf6045f-077b-7b4e-c286-9ad55bed81cd" style="-webkit-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="wrap">
    <div class="title title-white-bg">Our Features</div>
    <h2 class="heading-4 whtie-bg">Besides the web 3.0 stuff, we're also a pretty cool social platform.</h2>
  </div>

  <div class="feature-wrap">
    <div data-w-id="4593c4b7-56e8-060a-be57-648b0e08fc65" style="-webkit-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="feature-content">
      <div class="title">CONNECT WITH YOUR COMMUNITY.</div>
      <h2 class="black">Your Passion. Your People.</h2>
      <p class="paragraph-2">Join a hub of niches where your interests connect you with your community. From recipes, to workouts, to crypto, people can discover what they love and connect with their people. Even if it&#x27;s a little weird, it&#x27;s probably on here.</p>
    </div>

    <div class="feature-image"><img src="/img/Yuppies---Exercising.png" width="341" sizes="(max-width: 479px) 90vw, (max-width: 767px) 50vw, (max-width: 991px) 40vw, 24vw" srcset="/img/Yuppies---Exercising-p-500.png 500w, /img/Yuppies---Exercising-p-800.png 800w, /img/Yuppies---Exercising-p-1080.png 1080w, /img/Yuppies---Exercising-p-1600.png 1600w, /img/Yuppies---Exercising-p-2000.png 2000w, /img/Yuppies---Exercising.png 2500w" alt="" class="image-2"></div>
  </div>

  <div class="feature-wrap reverse">
    <div data-w-id="cafe0045-d304-79d9-8f68-af3adaed06e9" style="-webkit-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="feature-content">
      <div class="title">Explore &amp; Discover</div>
      <h2 class="black-text">Built for those that love to discover</h2>
      <p class="paragraph-3">With a built-in search engine and a vast array of niches, you can explore endless amounts of content until your heart&#x27;s content. Pretty similar to how cool Youtube, Pinterest, and Google are.</p>
    </div>

    <div class="feature-image"><img src="/img/Amigos---Fresh-Air.png" width="386" sizes="(max-width: 479px) 90vw, (max-width: 767px) 50vw, (max-width: 991px) 40vw, 24vw" srcset="/img/Amigos---Fresh-Air-p-800.png 800w, /img/Amigos---Fresh-Air-p-1080.png 1080w, /img/Amigos---Fresh-Air-p-1600.png 1600w, /img/Amigos---Fresh-Air-p-2000.png 2000w, /img/Amigos---Fresh-Air.png 2388w" alt="" class="image-2"></div>
  </div>

  <div class="feature-wrap">
    <div data-w-id="88086931-0bbf-a2f5-1fc3-58d79ba19b7e" style="-webkit-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="feature-content">
      <div class="title">The Hryzn Metaverse</div>
      <h2 class="black-text">Connect with your people in a 3D virtual world.</h2>
      <p class="paragraph-4">Join groups of like minded people in a fully customizable 3D experience. From a hub of niches to choose from, let your interests connect you with your people in an animated virtual world. Like if Discord and Facebook groups became 3D.</p>
    </div>

    <div class="feature-image"><img src="/img/Tutto-Ricco---Alone-Time.png" width="341" sizes="(max-width: 479px) 90vw, (max-width: 767px) 50vw, (max-width: 991px) 40vw, 24vw" srcset="/img/Tutto-Ricco---Alone-Time-p-800.png 800w, /img/Tutto-Ricco---Alone-Time-p-1080.png 1080w, /img/Tutto-Ricco---Alone-Time-p-1600.png 1600w, /img/Tutto-Ricco---Alone-Time-p-2000.png 2000w, /img/Tutto-Ricco---Alone-Time.png 2500w" alt="" class="image-2"></div>
  </div>
</div>
<!-- /Features Section-->


<!-- Horizontal Features Section-->
<div class="section wf-section">
  <div class="feature-wrap icons wrap-w-bg">
    <div class="feature-content icons first-ft-content"><img src="/img/icon-burger-magenta.svg" width="80" alt="" class="feature-icon">
      <h4 class="black-text wrap-w-bg-text">On the blockchain</h4>
      <p class="paragraph-5">Your data is your&#x27;s to own, not our&#x27;s to take control of. That means your content can&#x27;t be censored, altered, or destroyed by those mean companies anymore.</p>
    </div>

    <div class="feature-content icons"><img src="/img/icon-silverware-magenta.svg" width="74" alt="" class="feature-icon">
      <h4 class="black-text wrap-w-bg-text">Anti-Capitalism</h4>
      <p class="paragraph-6">From the bottom of our hearts, we hate Facebook and those like them. We really despise what they&#x27;ve become. So it&#x27;s in our every being not to screw you over for that &quot;profit at all costs&quot; mentality.</p>
    </div>

    <div class="feature-content icons"><img src="/img/icon-data-magenta.svg" alt="" class="feature-icon">
      <h4 class="black-text wrap-w-bg-text">Democratic Governance</h4>
      <p class="paragraph-7">In addition to the whole anti-capitalism thing, Hryzn offers a decentralized autonomous organization (DAO). Runners of the DAO are promoted through earned democratic governance tokens.</p>
    </div>
  </div>
</div>
<!-- /Horizontal Features Section-->


<!-- Monetize Section-->
<div class="section wf-section">
  <div id="money" data-w-id="8cf6045f-077b-7b4e-c286-9ad55bed81cd" style="-webkit-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="wrap">
    <div class="title title-white-bg">The Creator Economy</div>
    <h2 class="heading-4 whtie-bg">We also want creators to get paid. We&#x27;re excited for the new creator economy.</h2>
  </div>

  <div id="how-to-use" class="feature-wrap wrap-less-padding">
    <div data-w-id="0585a81c-ee42-8b56-bc8e-bd582946320a" style="-webkit-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="feature-content ft-bigger">
      <h2 class="black-text text-bigger">Here&#x27;s all of the cool ways to make money</h2>

      <ul role="list" class="list-2">
        <li class="list-item">Setup a social token and have your supporters invest in you like shares of stock.</li>
        <li class="list-item-2">Sell your products online.</li>
        <li class="list-item-3">Collect tips from fans.</li>
        <li class="list-item-4">Play to earn credits and rare NFT&#x27;s.</li>
        <li class="list-item-5">Create and sell anything as a NFT, from profile themes, avatars, content, or even virtual groups.</li>
      </ul>
    </div>

    <div class="feature-image ft-img-content"><img src="/img/Brazuca---UI-Design.png" width="519" sizes="(max-width: 767px) 83vw, (max-width: 991px) 34vw, (max-width: 7142px) 35vw, 2500px" srcset="/img/Brazuca---UI-Design-p-500.png 500w, /img/Brazuca---UI-Design-p-800.png 800w, /img/Brazuca---UI-Design-p-1080.png 1080w, /img/Brazuca---UI-Design-p-1600.png 1600w, /img/Brazuca---UI-Design-p-2000.png 2000w, /img/Brazuca---UI-Design.png 2500w" alt="" class="image-2 img-ft-content"></div>
  </div>

  <div class="div-block-13 video-container">
    <div class="title title-white-bg">Watch our cool marketing video</div>

    <a href="#" class="lightbox-link w-inline-block w-lightbox"><img src="/img/The-Little-Things---Video-Streaming.png" loading="lazy" srcset="/img/The-Little-Things---Video-Streaming-p-500.png 500w, /img/The-Little-Things---Video-Streaming-p-800.png 800w, /img/The-Little-Things---Video-Streaming-p-1080.png 1080w, /img/The-Little-Things---Video-Streaming-p-1600.png 1600w, /img/The-Little-Things---Video-Streaming-p-2000.png 2000w, /img/The-Little-Things---Video-Streaming.png 2500w" sizes="(max-width: 991px) 80vw, 640px" alt="" class="video-img">
      <script type="application/json" class="w-json">
        {
          "items": [{
            "url": "https://www.youtube.com/watch?v=CtPQG_1MIv0",
            "originalUrl": "https://www.youtube.com/watch?v=CtPQG_1MIv0",
            "width": 940,
            "height": 528,
            "thumbnailUrl": "https://i.ytimg.com/vi/CtPQG_1MIv0/hqdefault.jpg",
            "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FCtPQG_1MIv0%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DCtPQG_1MIv0&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FCtPQG_1MIv0%2Fhqdefault.jpg&key=c4e54deccf4d4ec997a64902e9a30300&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen\" allowfullscreen=\"true\"></iframe>",
            "type": "video"
          }],
          "group": ""
        }
      </script>
    </a>
  </div>
</div>
<!-- /Monetize Section-->


<!-- Timeline Section-->
  <div class="section wf-section">
    <div id="roadmap" class="timeline-header">
      <div data-w-id="64703c24-fab1-6ef9-e6d2-7a5762bdaf45" style="-webkit-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="wrap timeline-wrap">
        <div class="title timeline-title">our roadmap</div>
        <h2 class="heading-4">We want to be transparent as much as possible with everyone. So here&#x27;s an inside look at what&#x27;s to come.</h2>
      </div>
    </div>

    <div class="timeline">
      <div class="timeline-container">
        <div class="timeline-wrapper">
          <div class="timeline-progress">
            <div class="timeline-progress-bar"></div>
          </div>

          <div data-w-id="c9044e7c-9365-951e-edc1-cec90c677b46" class="w-layout-grid timeline-item">
            <div class="timeline-left">
              <div class="text-block-3 timeline-date-text">January 2022</div>
            </div>

            <div class="timeline-center">
              <div class="timeline-circle"></div>
            </div>

            <div class="timeline-right">
              <div class="timeline-text-right">Waitlist up and running!</div>
            </div>
          </div>

          <div data-w-id="fbb3d49b-f8b4-034e-bc35-c8a0af24f104" class="w-layout-grid timeline-item">
            <div class="timeline-left">
                <div class="text-block-3 timeline-date-text">February 2022</div>
            </div>

            <div class="timeline-center">
              <div class="timeline-circle"></div>
            </div>

            <div class="timeline-right">
              <div class="timeline-text-right">Launch of equity crowdfunding campaign, giving users a chance to invest for as little as $100.</div>
            </div>
          </div>

          <div data-w-id="d7d3bec5-3de8-8203-9975-5752b4d6312e" class="w-layout-grid timeline-item">
            <div class="timeline-left">
              <div class="text-block-3 timeline-date-text">April 2022</div>
            </div>

            <div class="timeline-center">
              <div class="timeline-circle"></div>
            </div>

            <div class="timeline-right">
              <div class="timeline-text-right">Launch of Hryzn V1. Features include custom profiles, posts, search engine, messaging, 2D groups, sell products, collect tips, and Hryzn in-app credits.</div>
            </div>
          </div>

          <div data-w-id="61dd00a3-3446-bdad-9641-98e2139e2ea6" class="w-layout-grid timeline-item">
            <div class="timeline-left">
              <div class="text-block-3 timeline-date-text">May 2022</div>
            </div>

            <div class="timeline-center">
              <div class="timeline-circle"></div>
            </div>

            <div class="timeline-right">
              <div class="timeline-text-right">Initial DEX Offering (IDO) launch.</div>
            </div>
          </div>

          <div data-w-id="61dd00a3-3446-bdad-9641-98e2139e2ea6" class="w-layout-grid timeline-item">
            <div class="timeline-left">
              <div class="text-block-3 timeline-date-text">June 2022</div>
            </div>

            <div class="timeline-center">
              <div class="timeline-circle"></div>
            </div>

            <div class="timeline-right">
              <div class="timeline-text-right">Launch of Hryzn V2 and private beta testing. Features include social tokens, 3D groups, NFT marketplace, and NFT avatars.</div>
            </div>
          </div>

          <div data-w-id="61dd00a3-3446-bdad-9641-98e2139e2ea6" class="w-layout-grid timeline-item">
            <div class="timeline-left">
              <div class="text-block-3 timeline-date-text">July 2022</div>
            </div>

            <div class="timeline-center">
              <div class="timeline-circle"></div>
            </div>

            <div class="timeline-right">
              <div class="timeline-text-right">Rewards are given out to the first 1,000 in waitlist with private beta testing access.</div>
            </div>
          </div>

          <div data-w-id="61dd00a3-3446-bdad-9641-98e2139e2ea6" class="w-layout-grid timeline-item">
            <div class="timeline-left">
              <div class="text-block-3 timeline-date-text">August 2022</div>
            </div>

            <div class="timeline-center">
              <div class="timeline-circle"></div>
            </div>

            <div class="timeline-right">
              <div class="timeline-text-right">Hryzn is launched to the public!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- /Timeline Section-->


<!-- Insider CTA Section-->
<div id="insider" class="section wide purple wf-section" style="background-image: url('../img/wavy-bg.svg'), linear-gradient(135deg, #fc0a7e, #602bb6);">
  <div data-w-id="376e2a1f-ec70-0dab-11ea-b1863101e37b" style="-webkit-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="wrap">
    <h2 class="heading-5">Want early insider access?</h2>

    <div class="insider-text">Yeah, entering your email and receiving updates from us is cool and all that. But, it would be even cooler if you got to skip the line and be one of the first few insiders that got to experience the platform firsthand before anyone else. And I also overheard our CEO talking about a limited edition NFT and earning some governance tokens or something like that. Only the first 1,000 get these benefits so be sure not to miss out.</div>

    <div class="button-wrap"></div>

    <div class="form-block-2 w-form">
      <form id="email-form-2" name="email-form-2" data-name="Email Form 2" action="/" method="post" class="form-3">
        <input type="email" class="text-field email-btm w-input" maxlength="256" name="email" data-name="Email 3" placeholder="Enter your email address to join our waiting list..." id="email-3" required>
        <input type="hidden" name="hp_name" id="hp_name-3">
        {{#if share_ref}}<input type="hidden" name="share_ref" value="{{share_ref}}">{{/if}}
        <input type="submit" value="Join" data-wait="Please wait..." class="button hero-email-submit w-button">
      </form>

      {{#if email_success}}
      <div class="email-success email-success-btm">Thank you! We appreciate you being a part of our journey.</div>
      {{/if}}

      {{#if email_error}}
      <div class="email-fail email-fail-btm">{{email_error}}</div>
      {{/if}}
    </div>
  </div>
</div>
<!-- /Insider CTA Section-->


<!-- Blog Section -->
<div id="download" class="section wide purple blog-section wf-section">
  <div data-w-id="beaac106-9638-f7ab-f2a0-205fd3af8a3b" style="-webkit-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="wrap">
    <div class="title title-white-bg">Blog Posts helps our seo</div>
    <h2 class="heading-4 whtie-bg">Read some of the stuff we wrote about the things we know.</h2>
  </div>

  <div class="w-layout-grid grid blog-grid">

    {{#if blog_posts}}
    {{#each blog_posts}}
    <a href="/blog/{{post_slug}}" style="text-decoration: none!important;">
      <div class="blog-post">
        <img src="https://ik.imagekit.io/w07am55tja/{{post_image}}?tr=w-600" alt="" class="image-2">
        <div class="text-block-4 blog-title">{{post_title}}</div>
      </div>
    </a>
    {{/each}}
    {{/if}}

  </div>
</div>
<!-- /Blog Section -->


<!-- FAQ -->
<div class="faq-card">
  <div id="faq" class="faq">
    <div class="faq-headline">
      <h2 class="heading-6">FAQ</h2>
      <p class="faq-paragraph">If you have any questions, we may have some answers for you. Here&#x27;s some of our frequently asked questions.</p>
    </div>

    <div data-hover="false" data-delay="0" data-w-id="d1656dd1-776d-88e6-454f-3f70176cfb6f" style="height:80px" class="accordion-item w-dropdown">
      <div class="accordion-toggle w-dropdown-toggle">
        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" class="accordion-icon w-icon-dropdown-toggle"></div>
        <div class="text-block-5">What exactly is Hryzn?</div>
      </div>

      <nav class="dropdown-list w-dropdown-list">
        <div class="dropdown-text">Hryzn is simply a social platform designed to help connect you with your people. Rather than a network-based approach, we oriented our site around the idea of micro-communities and how sharing similar interests with others can drive us together.</div>
      </nav>
    </div>

    <div data-hover="false" data-delay="0" data-w-id="d1656dd1-776d-88e6-454f-3f70176cfb7b" style="height:80px" class="accordion-item w-dropdown">
      <div class="accordion-toggle w-dropdown-toggle">
        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" class="accordion-icon w-icon-dropdown-toggle"></div>
        <div>Why Web 3.0?</div>
      </div>

      <nav class="dropdown-list w-dropdown-list">
        <div class="dropdown-text">Well, we firmly believe that Web 3.0 is going to be the new standard of the internet. We want to be a part of the ecosystem that will eradicate corporate greed and one day make the world a better place.</div>
      </nav>
    </div>

    <div data-hover="false" data-delay="0" data-w-id="6e4ceb98-c1ee-ea9f-259e-a714e160fa0d" style="height:80px" class="accordion-item w-dropdown">
      <div class="accordion-toggle w-dropdown-toggle">
        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" class="accordion-icon w-icon-dropdown-toggle"></div>
        <div class="text-block-5">What makes Hryzn different?</div>
      </div>

      <nav class="dropdown-list w-dropdown-list">
        <div class="dropdown-text">Not only is Hryzn a cool social platform, but with a Web 3.0 approach we are providing new ways for people to protect their data, take back control, and make some money doing so.</div>
      </nav>
    </div>

    <div data-hover="false" data-delay="0" data-w-id="7a2e0d44-ba54-3a48-4e50-54ca0309ae50" style="height:80px" class="accordion-item w-dropdown">
      <div class="accordion-toggle w-dropdown-toggle">
        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" class="accordion-icon w-icon-dropdown-toggle"></div>
        <div class="text-block-5">What the $%*# is a NFT?</div>
      </div>

      <nav class="dropdown-list w-dropdown-list">
        <div class="dropdown-text">In simple terms, think of an NFT as a way to create something with unique value and provable scarcity, and sell ownership without the data being messed around with since it&#x27;s on the blockchain. A NFT can be anything no matter if it&#x27;s content, plots of virtual land, profile themes, or even a 3D virtual Hryzn group. It may sound a little confusing at first, but think of it as supply and demand: the less there is of something and the more people want it, the value of it will rise. Plus, you have the power of Crypto technology backing it up.</div>
      </nav>
    </div>

    <div data-hover="false" data-delay="0" data-w-id="cb492ffd-e9ef-edda-6ca7-f474a8f4c0ee" style="height:80px" class="accordion-item w-dropdown">
      <div class="accordion-toggle w-dropdown-toggle">
        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" class="accordion-icon w-icon-dropdown-toggle"></div>
        <div class="text-block-5">Now, what the $%*# is a social token?</div>
      </div>
      <nav class="dropdown-list w-dropdown-list">
        <div class="dropdown-text">Again in simple terms, a social token is a new concept coming out that will allow creators the opportunity of having their supporters invest in them similar to shares of stock. A creator can do something called tokenize, where they can create their own crypto token. Think of this similar to how cryptocurrencies and shares of stock work. The token of that creator can be listed at a set price of X U.S. dollars per token, and to follow a creator, a supporter simply purchases their token. Now, when the creator gets more popular and has more supporters, the value of the token rises as well, similar to when a company is doing good and their stock price goes up. Those original supporters who bought a token at a low price, now reap the benefits of that creator&#x27;s value rising. So, social tokens are a new way to literally invest in your favorite creators.</div>
      </nav>
    </div>

    <div data-hover="false" data-delay="0" data-w-id="d1656dd1-776d-88e6-454f-3f70176cfb87" style="height:80px" class="accordion-item w-dropdown">
      <div class="accordion-toggle w-dropdown-toggle">
        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" class="accordion-icon w-icon-dropdown-toggle"></div>
        <div>What type of dog do you have?</div>
      </div>

      <nav class="dropdown-list w-dropdown-list">
        <div class="dropdown-text">An English bulldog</div><img src="/img/IMG_1594.JPG" loading="lazy" sizes="160.703125px" height="300" srcset="/img/IMG_1594-p-500.jpeg 500w, /img/IMG_1594-p-800.jpeg 800w, /img/IMG_1594.JPG 960w" alt="" class="faq-img">
      </nav>
    </div>
  </div>

  <div class="div-block" style="background-image: url('/img/Tech-Life---Virtual-Reality-1.png');"></div>
</div>
<!-- /FAQ -->
