<div class="loader_overlay">
   <div class="loader_wrapper">
      <div class="loader"></div>
      <p class="loader_text loader_text-1">Our robots are looking for the cool stuff.</p>
      <p class="loader_text loader_text-2">I hope you're having a nice day.</p>
      <p class="loader_text loader_text-3">Soon the computers will just take over.</p>
      <p class="loader_text loader_text-4">The things are doing the stuff.</p>
      <p class="loader_text loader_text-5">Your hair looks pretty.</p>
   </div>
</div>

{{#if projects}}
{{else}}
<div class="feed__container">
   <div class="feed__container-text">
      <h1 class="main__title">{{greeting}} {{user.username}},</h1>
      <p class="main__info feed__text">We see you're not following anyone, <a href="/explore"><strong>let's go explore.</strong></a></p>
   </div>
</div>
{{/if}}

<div class="explore_main">

   {{#if projects}}

   <p class="top_results">{{greeting}} {{user.username}}</p>
   <hr class="top_results_underline" />

   <div class="">

      {{#each projects}}

         {{#if this.is_private}}
         {{! Check if the project is a private project, we do not want to show private projects }}
         {{else}}

            {{#if is_micro_post}}

            {{#if posted_to_group}}
               {{#each posted_to_group}}
                  {{#ifEquals this.group_is_private "true"}}
                     {{! Don't show projects in private groups }}
                  {{else}}
                     <div class="masonryItem ownProject" title="{{../project_title}}" style="max-width: 600px; width: 80%; margin: 50px auto;">
                        <a class="micro_tag" href="/profile/{{../project_owner}}">@{{../project_owner}}</a>
                        <a href="/p/micro/{{../_id}}">
                           <div class="micropost">
                              <div class="micropost_card {{#if ../micro_image}}card_is_micro_image{{else}}{{#if ../micro_audio}}card_is_micro_audio{{else}}{{#if ../micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                                 {{#if ../micro_image}}<img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{../micro_image}}" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                 {{#if ../thumbnail_image}}<img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{../thumbnail_image}}" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                 {{#if ../micro_video}}<div class="micro_play_btn"><img class="topnav__icon" src="/img/icons/play-button-white.png" /></div>{{/if}}
                                 {{#if ../micro_audio}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/audio-button-white.png" /></div>{{/if}}
                                 {{#if ../project_title}}<p class="micro_title">{{../project_title}}</p>{{/if}}
                                 <p class="micro_body">{{{../micro_body}}}</p>
                              </div>
                           </div>
                        </a>
                     </div>
                  {{/ifEquals}}
               {{/each}}
            {{else}}
               <div class="masonryItem ownProject" title="{{project_title}}" style="max-width: 600px; width: 80%; margin: 50px auto;">
                  <a class="micro_tag {{#if project_title}}micro_tag_w_title{{/if}}" href="/profile/{{project_owner}}">@{{project_owner}}</a>
                  <a href="/p/micro/{{_id}}">
                     <div class="micropost">
                        <div class="micropost_card {{#if micro_image}}card_is_micro_image{{else}}{{#if micro_audio}}card_is_micro_audio{{else}}{{#if micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                           {{#if micro_image}}<img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{micro_image}}" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                           {{#if thumbnail_image}}<img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{thumbnail_image}}" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                           {{#if micro_video}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/play-button-white.png" /></div>{{/if}}
                           {{#if micro_audio}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/audio-button-white.png" /></div>{{/if}}
                           {{#if project_title}}<p class="micro_title">{{project_title}}</p>{{/if}}
                           <p class="micro_body">
                              {{{micro_body}}}
                           </p>
                        </div>
                     </div>
                  </a>
               </div>
            {{/if}}

            {{else}}

               {{#if posted_to_group}}
                  {{#each posted_to_group}}
                     {{#ifEquals this.group_is_private "true"}}
                        {{! Don't show projects in private groups }}
                     {{else}}
                        <div class="masonryItem ownProject" title="{{../project_title}}" style="max-width: 600px; width: 80%; margin: 50px auto;">
                           <div class="project_card">
                              <a href="/p/details/{{../id}}" class="project_link">
                                 <img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{#if ../thumbnail_image}}{{../thumbnail_image}}{{else}}{{../project_image}}{{/if}}" class="img-responsive" alt="{{../project_title}}" />
                              </a>
                              <div class="project_card_bottom">
                                 <div class="project_bottom_wrapper">
                                    <div class="bg_overlay"></div>
                                    <div class="project_bottom_details">
                                       <a href="/profile/{{../project_owner}}"><p class="project_owner">@{{../project_owner}}</p></a>
                                       <a href="/p/details/{{../id}}" class="project_link">
                                          <p class="project_card_title">{{../project_title}}</p>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     {{/ifEquals}}
                  {{/each}}
               {{else}}
                  <div class="masonryItem ownProject" title="{{project_title}}" style="max-width: 600px; width: 80%; margin: 50px auto;">
                     <div class="project_card">
                        <a href="/p/details/{{id}}" class="project_link">
                           <img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{#if thumbnail_image}}{{thumbnail_image}}{{else}}{{project_image}}{{/if}}" class="img-responsive" alt="{{project_title}}" />
                        </a>
                        <div class="project_card_bottom">
                           <div class="project_bottom_wrapper">
                              <div class="bg_overlay"></div>
                              <div class="project_bottom_details">
                                 <a href="/profile/{{project_owner}}"><p class="project_owner">@{{project_owner}}</p></a>
                                 <a href="/p/details/{{id}}" class="project_link">
                                    <p class="project_card_title">{{project_title}}</p>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               {{/if}}

            {{/if}}

         {{/if}}
      {{/each}}

   </div>

   {{/if}}

</div>
