<div class="explore_main">

{{#if existing_chats}}

   <p class="top_results">Existing Chats</p>
   <hr class="top_results_underline" />

   <section class="follower__profiles-section">
      {{#each existing_chats}}
      <a href="/messages/{{this}}" class="follower__profile">
         @{{this}}
      </a>
      {{/each}}
   </section>

{{/if}}

{{#if following}}

   <p class="top_results">Chat With Someone</p>
   <hr class="top_results_underline" />

   <section class="follower__profiles-section">
      {{#each following}}
      <a href="/messages/{{this.username}}" class="follower__profile">
         <div class="follower__profile-img-container">
            <img class="profile__img" {{#if this.profileimage}}src="https://ik.imagekit.io/w07am55tja/{{this.profileimage}}?tr=w-100"{{else}}src="/img/site/hryzn-placeholder-01.jpg"{{/if}} />
         </div>
         @{{this.username}}
      </a>
      {{/each}}
   </section>

{{/if}}

</div>
