{{#if profile}}

<div class="loader_overlay">
   <div class="loader_wrapper">
      <div class="loader"></div>
      <p class="loader_text loader_text-1">Our robots are looking for the cool stuff.</p>
      <p class="loader_text loader_text-2">Retrieving files... Accessing data... Planning world domination.</p>
      <p class="loader_text loader_text-3">Soon the computers will just take over.</p>
      <p class="loader_text loader_text-4">The things are doing the stuff.</p>
      <p class="loader_text loader_text-5">Your hair looks pretty.</p>
   </div>
</div>

<div class="profile_bg_container">
   {{#if profile.backgroundimage}}
   <img class="profile_bg" src="https://s3.amazonaws.com/hryzn-app-static-assets/{{profile.backgroundimage}}" />
   {{else}}
   <img class="profile_bg" src="/img/site/hryzn-placeholder-01.jpg" />
   {{/if}}

   <div class="bg_overlay"></div>

   <div class="bg_bottom">
      <div class="profile_info">
         <div class="profile_img_container">
            {{#if profile.profileimage}}
            <img class="profile_img" src="https://s3.amazonaws.com/hryzn-app-static-assets/{{profile.profileimage}}" />
            {{else}}
            <div class="first_char"></div>
            {{/if}}
         </div>

         <div class="name_container">
            <p id="firstChar" class="profile__name">{{profile.firstname}} {{profile.lastname}}</p>
            <h3 class="profile__username">@{{profile.username}}</h3>
         </div>
      </div>

      <img id="settingsBtn" src="/icons/settings-menu-white.png" class="profile__settings" />
   </div>
</div>

<div class="profile-main__container">

   <div class="profile__top">
      <div class="follow__btn-container">
         <p class="profile__projects-p">Projects - {{amount_of_projects}}</p>

         <div class="profile_top_right">
            <div class="profile__follow-container">
               <div class="followers__following">
                  <a href="/profile/{{profile.username}}/followers"><strong>{{amount_of_followers}}</strong> followers</a>
                  <a href="/profile/{{profile.username}}/following"><strong>{{amount_of_following}}</strong> following</a>
               </div>
            </div>

            {{#if viewing_own_profile}}
            <div class="project_btn_wrapper">
               <div class="own_btn" onclick="adjust()">Created</div>
               <div class="saved_btn" onclick="adjust()">Saved</div>
               <div class="repost_btn" onclick="adjust()">Reposted</div>
            </div>

            {{! The User is viewing their own profile, no need to follow }}
            {{else}}

            <div class="project_btn_wrapper">

               <a href="/messages/{{profile.username}}">
                  <div class="own_btn">Message</div>
               </a>

               {{#if user_follows_profile}}

               <form method="post" action="/profile/unfollow/{{profile._id}}">
                  <input type="hidden" name="user_username" value="{{user.username}}">
                  <input type="hidden" name="profile_username" value="{{profile.username}}">
                  <button class="profile__unfollow" name="submit" type="submit">Unsubscribe</button>
               </form>

               {{else}}

               <form method="post" action="/profile/follow/{{profile._id}}">
                  <input type="hidden" name="user_username" value="{{user.username}}">
                  <input type="hidden" name="profile_username" value="{{profile.username}}">
                  <button class="profile__follow" name="submit" type="submit">Subscribe</button>
               </form>

               {{/if}}
            </div>
            {{/if}}
         </div>
      </div>

   </div>

   <div class="masonryContainer {{#if viewing_own_profile}}ownProfile{{/if}}">

      {{#if projects}}

         {{#if viewing_own_profile}}

            {{! User is viewing their own profile so show private projects }}
            {{#each projects}}
            <div class="masonryItem ownProject" title="{{project_title}}">
               <div class="project_card">
                  <a href="/p/details/{{id}}" class="project_link">
                     <img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{project_image}}" class="img-responsive" alt="{{project_title}}" />
                  </a>
                  <div class="project_card_bottom">
                     <div class="project_bottom_wrapper">
                        <div class="bg_overlay"></div>
                        <div class="project_bottom_details">
                           <a href="/profile/{{project_owner}}"><p class="project_owner">@{{project_owner}}</p></a>
                           <a href="/p/details/{{id}}" class="project_link">
                              <p class="project_card_title">{{project_title}}</p>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               {{#if is_private}}
               <div class="is_private">private</div>
               {{/if}}
            </div>
            {{/each}}

         {{else}}

         {{#if guestUser}}

         {{#each projects}}

            {{#if is_private}}
            {{! Can't show private projects to people other than logged in User }}
            {{else}}

            {{! Projects with /guest link }}
            <div class="masonryItem" title="{{project_title}}">
               <div class="project_card">
                  <a href="/p/details/{{id}}/guest" class="project_link">
                     <img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{project_image}}" class="img-responsive" alt="{{project_title}}" />
                  </a>
                  <div class="project_card_bottom">
                     <div class="project_bottom_wrapper">
                        <div class="bg_overlay"></div>
                        <div class="project_bottom_details">
                           <a href="/profile/{{project_owner}}"><p class="project_owner">@{{project_owner}}</p></a>
                           <a href="/p/details/{{id}}/guest" class="project_link">
                              <p class="project_card_title">{{project_title}}</p>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            {{/if}}

         {{/each}}

         {{else}}

         {{#each projects}}

            {{#if is_private}}
            {{! Can't show private projects to people other than logged in User }}
            {{else}}

            {{! Someone logged in is viewing their own profile }}
            <div class="masonryItem ownProject" title="{{project_title}}">
               <div class="project_card">
                  <a href="/p/details/{{id}}" class="project_link">
                     <img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{project_image}}" class="img-responsive" alt="{{project_title}}" />
                  </a>
                  <div class="project_card_bottom">
                     <div class="project_bottom_wrapper">
                        <div class="bg_overlay"></div>
                        <div class="project_bottom_details">
                           <a href="/profile/{{project_owner}}"><p class="project_owner">@{{project_owner}}</p></a>
                           <a href="/p/details/{{id}}" class="project_link">
                              <p class="project_card_title">{{project_title}}</p>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            {{/if}}

         {{/each}}

         {{/if}}

         {{/if}}

      {{else}}

      <div class="row main__info-container">
         <p class="main__info"><strong>No Projects</strong></p>
      </div>

      {{/if}}


      {{#if saved_projects}}

      {{#if viewing_own_profile}}

         {{! User's saved projects }}
         {{#each saved_projects}}
         <div class="masonryItem savedProject" title="{{project_title}}">
            <div class="project_card">
               <a href="/p/details/{{id}}" class="project_link">
                  <img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{project_image}}" class="img-responsive" alt="{{project_title}}" />
               </a>
               <div class="project_card_bottom">
                  <div class="project_bottom_wrapper">
                     <div class="bg_overlay"></div>
                     <div class="project_bottom_details">
                        <a href="/profile/{{project_owner}}"><p class="project_owner">@{{project_owner}}</p></a>
                        <a href="/p/details/{{id}}" class="project_link">
                           <p class="project_card_title">{{project_title}}</p>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {{/each}}

      {{/if}}

      {{/if}}


      {{#if reposted_projects}}

      {{#if viewing_own_profile}}

         {{! User's reposted projects }}
         {{#each reposted_projects}}
         <div class="masonryItem repostedProject" title="{{project_title}}">
            <div class="project_card">
               <a href="/p/details/{{id}}" class="project_link">
                  <img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{project_image}}" class="img-responsive" alt="{{project_title}}" />
               </a>
               <div class="project_card_bottom">
                  <div class="project_bottom_wrapper">
                     <div class="bg_overlay"></div>
                     <div class="project_bottom_details">
                        <a href="/profile/{{project_owner}}"><p class="project_owner">@{{project_owner}}</p></a>
                        <a href="/p/details/{{id}}" class="project_link">
                           <p class="project_card_title">{{project_title}}</p>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {{/each}}

      {{/if}}

      {{/if}}

   </div>


</div>

{{! Settings Side Nav}}
<div id="profileSideNav" class="profile__sidenav">
   <a href="javascript:void(0)" id="settingsClose">&times;</a>

   {{#if viewing_own_profile}}
   <h3 class="settings__header">Settings</h3>
   <hr class="settings__underline" />
   {{!<a href="/c/create-collection">Create Collection</a>}}
   {{#if hryznAdmin}}
   <a href="/blog/create-post">Make Blog Post</a>
   <a href="/blog">View All Blogs</a>
   {{/if}}
   <a href="/settings">Edit Profile</a>
   <a href="/messages">Messages</a>
   <a href="/about/contact">Contact</a>
   <a href="/logout">Logout</a>
   {{/if}}

   <div class="profile_links_container">
      <div class="profile_bio_container">
         {{#if profile.bio}}
         <p class="profile_about">
            About
         </p>
         <p class="profile_bio">
            {{profile.bio}}
         </p>
         {{else}}
         <p class="profile_bio">
            There's no bio yet...
         </p>
         {{/if}}
      </div>

      <div class="profile_social_container">
         {{#if profile.website}}
         <a target="_blank" href="https://{{profile.website}}"><i class="fa fa-desktop"></i></a>
         {{/if}}
         {{#if profile.youtube}}
         <a target="_blank" href="https://www.youtube.com/channel/{{profile.youtube}}"><i class="fa fa-youtube-play"></i></a>
         {{/if}}
         {{#if profile.twitter}}
         <a target="_blank" href="https://twitter.com/{{profile.twitter}}"><i class="fa fa-twitter"></i></a>
         {{/if}}
         {{#if profile.instagram}}
         <a target="_blank" href="https://www.instagram.com/{{profile.instagram}}"><i class="fa fa-instagram"></i></a>
         {{/if}}
         {{#if profile.facebook}}
         <a target="_blank" href="https://www.facebook.com/{{profile.facebook}}"><i class="fa fa-facebook"></i></a>
         {{/if}}
      </div>
   </div>
</div>

{{/if}}
