<img src="/icons/back-black.png" class="project_bck_btn go-back"/>

<div class="form-container form__settings">
   <h3>Profile Settings</h3>
   <form id="settingsForm" method="post" action="/settings" enctype="multipart/form-data">
      <div class="form-container-2">
         <div class="form_row">
            <div class="col-lg-6">
               <input class="form__input" type="text" placeholder="First name" name="firstname" value="{{user.firstname}}" />
            </div>

            <div class="col-lg-6">
               <input class="form__input" type="text" placeholder="Last name" name="lastname" value="{{user.lastname}}" />
            </div>
         </div>
         {{! For future use <input class="form__input" type="text" placeholder="Enter username" name="username" value="{{user.username}}{{!" required autocapitalize="none" /> }}
         <input class="form__input" type="email" placeholder="Enter email address" name="email" value="{{user.email}}" required autocapitalize="none" />

         <label for="profileimage" class="form__label">Change your profile image</label>
         <input id="profileImage" class="form__input" type="file" name="profileimage" value="{{user.profileimage}}" />

         <label for="backgroundimage" class="form__label">Change your profile header</label>
         <input id="backgroundImage" class="form__input" type="file" name="backgroundimage" value="{{user.backgroundimage}}" />


         <label for="bio" class="form__label">Enter a bio</label>
         <textarea name="bio" value="{{user.bio}}" class="form__input profile_bio">{{user.bio}}</textarea>

         <input class="form__input" type="text" placeholder="Add your favorite song with a link" name="music_link">
         <p>Suported Platforms: Spotify, Tidal, Apple Music, Deezer</p>
         <br />
         For example: <strong>https://open.spotify.com/track/3TGRqZ0a2l1LRblBkJoaDx</strong>
         <br />
         <iframe style="min-height: auto!important;" src="https://open.spotify.com/embed/track/3TGRqZ0a2l1LRblBkJoaDx" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

         <input class="form__input" type="text" placeholder="Enter your website link" name="website_link" value="{{user.website}}" autocapitalize="none" />
         <input class="form__input" type="text" placeholder="Enter your Youtube username" name="youtube_link" value="{{user.youtube}}" autocapitalize="none" />
         <input class="form__input" type="text" placeholder="Enter your Twitter username" name="twitter_link" value="{{user.twitter}}" autocapitalize="none" />
         <input class="form__input" type="text" placeholder="Enter your Instagram username" name="instagram_link" value="{{user.instagram}}" autocapitalize="none" />
         <input class="form__input" type="text" placeholder="Enter your Facebook username" name="facebook_link" value="{{user.facebook}}" autocapitalize="none" />

         <input type="hidden" name="id" value="{{user.id}}">

         <h3 style="margin-top: 50px;">Profile Customization</h3>

         <p>Select a profile theme:</p>
         <input type="radio" name="profile_theme" value="default">
         <label for="profile_theme">Default</label>
         <div class="profile_themes_img_container">
            <img src="/img/profile-themes/default/default-04.png" />
            <img src="/img/profile-themes/default/default-03.png" />
            <img src="/img/profile-themes/default/default-02.png" />
            <img src="/img/profile-themes/default/default-01.png" />
         </div>
         <br>
         <input type="radio" name="profile_theme" value="one">
         <label for="profile_theme">One</label>
         <div class="profile_themes_img_container">
            <img src="/img/profile-themes/one/one-04.png" />
            <img src="/img/profile-themes/one/one-03.png" />
            <img src="/img/profile-themes/one/one-02.png" />
            <img src="/img/profile-themes/one/one-01.png" />
         </div>
         <br>
         <input type="radio" name="profile_theme" value="two">
         <label for="profile_theme">Two</label>
         <div class="profile_themes_img_container">
            <img src="/img/profile-themes/two/two-01.png" />
            <img src="/img/profile-themes/two/two-02.png" />
            <img src="/img/profile-themes/two/two-03.png" />
            <img src="/img/profile-themes/two/two-04.png" />
         </div>
         <br>

         <div class="semi-spacer"></div>
         <p>Select a cursor for your profile:</p>
         <input style="cursor: url(/cursors/lips.cur),auto;" type="radio" name="profile_cursor" value="lips">
         <label style="cursor: url(/cursors/lips.cur),auto;" for="profile_cursor">Red Lips</label><br>
         <input style="cursor: url(/cursors/cat.cur),auto;" type="radio" name="profile_cursor" value="cat">
         <label style="cursor: url(/cursors/cat.cur),auto;" for="profile_cursor">Happy Cat</label><br>
         <input style="cursor: url(/cursors/pistol.cur),auto;" type="radio" name="profile_cursor" value="pistol">
         <label style="cursor: url(/cursors/pistol.cur),auto;" for="profile_cursor">Pistol</label><br>
         <input style="cursor: url(/cursors/middle-finger.cur),auto;" type="radio" name="profile_cursor" value="middle-finger">
         <label style="cursor: url(/cursors/middle-finger.cur),auto;" for="profile_cursor">Middle Finger</label><br>
         <input style="cursor: url(/cursors/mustache.cur),auto;" type="radio" name="profile_cursor" value="mustache">
         <label style="cursor: url(/cursors/mustache.cur),auto;" for="profile_cursor">Mustache</label><br>
         <input style="cursor: url(/cursors/rainbow.cur),auto;" type="radio" name="profile_cursor" value="rainbow">
         <label style="cursor: url(/cursors/rainbow.cur),auto;" for="profile_cursor">Rainbow</label><br>
         <input style="cursor: url(/cursors/sword.cur),auto;" type="radio" name="profile_cursor" value="sword">
         <label style="cursor: url(/cursors/sword.cur),auto;" for="profile_cursor">Sword</label><br>
         <input style="cursor: url(/cursors/queen.cur),auto;" type="radio" name="profile_cursor" value="queen">
         <label style="cursor: url(/cursors/queen.cur),auto;" for="profile_cursor">Queen's Crown</label><br>
         <input style="cursor: url(/cursors/knife.cur),auto;" type="radio" name="profile_cursor" value="knife">
         <label style="cursor: url(/cursors/knife.cur),auto;" for="profile_cursor">Rambo Knife</label><br>
         <input style="cursor: url(/cursors/fire.cur),auto;" type="radio" name="profile_cursor" value="fire">
         <label style="cursor: url(/cursors/fire.cur),auto;" for="profile_cursor">Fire</label><br />


         <!-- <label for="scrollimage" class="form__label">Upload a scroll background image</label>
         <input id="scrollImage" class="form__input" type="file" name="profile_scrollimage" value="{{user.profile_scrollimage}}" /> -->

         <div class="semi-spacer"></div>
         <p>Select a main accent colors:</p>
         <small style="font-style: italic">Buttons:</small> <input name="profile_main_accent_color" type="color" value="{{#if user.profile_main_accent_color}}{{user.profile_main_accent_color}}{{else}}#31375A{{/if}}"/>
         <small style="font-style: italic;margin-left: 15px;">Fonts:</small> <input name="profile_main_font_accent_color" type="color" value="{{#if user.profile_main_font_accent_color}}{{user.profile_main_font_accent_color}}{{else}}#ffffff{{/if}}"/>

         <div class="semi-spacer"></div>
         <p>Select a secondary accent color:</p>
         <small style="font-style: italic">Buttons:</small><input name="profile_secondary_accent_color" type="color" value="{{#if user.profile_secondary_accent_color}}{{user.profile_secondary_accent_color}}{{else}}#ffffff{{/if}}"/>
         <small style="font-style: italic;margin-left: 15px;">Fonts:</small><input name="profile_secondary_font_accent_color" type="color" value="{{#if user.profile_secondary_font_accent_color}}{{user.profile_secondary_font_accent_color}}{{else}}#000000{{/if}}"/>


         <div class="semi-spacer"></div>
         <p>Select a style for buttons:</p>
         <input type="radio" name="profile_btns_rounding" value="0">
         <label for="profile_btns_rounding_none">Squared Corners</label><br>
         <input type="radio" name="profile_btns_rounding" value="15">
         <label for="profile_btns_rounding_small">Small Rounded Corners</label><br>
         <input type="radio" name="profile_btns_rounding" value="35">
         <label for="profile_btns_rounding_large">Large Rounded Corners</label><br>

         <div class="semi-spacer"></div>
         <p>Select a main font *please click twice*: <span id="profileMainFontExample">Example</span></p>
         <select name="profile_main_font" id="profileMainFontSelect">
            <option class="profile_font_main_option" value="{{user.profile_main_font}}"></option>
            <option class="profile_font_main_option" value="Alegreya">Alegreya</option>
            <option class="profile_font_main_option" value="Alegreya Sans">Alegreya Sans</option>
            <option class="profile_font_main_option" value="Anonymous Pro">Anonymous Pro</option>
            <option class="profile_font_main_option" value="Archivo Narrow">Archivo Narrow</option>
            <option class="profile_font_main_option" value="Arvo">Arvo</option>
            <option class="profile_font_main_option" value="BioRhyme">BioRhyme</option>
            <option class="profile_font_main_option" value="Cabin">Cabin</option>
            <option class="profile_font_main_option" value="Cardo">Cardo</option>
            <option class="profile_font_main_option" value="Chivo">Chivo</option>
            <option class="profile_font_main_option" value="Cormorant">Cormorant</option>
            <option class="profile_font_main_option" value="Crimson Text">Crimson Text</option>
            <option class="profile_font_main_option" value="Domine">Domine</option>
            <option class="profile_font_main_option" value="Eczar">Eczar</option>
            <option class="profile_font_main_option" value="Fira Sans">Fira Sans</option>
            <option class="profile_font_main_option" value="IBM Plex Sans">IBM Plex Sans</option>
            <option class="profile_font_main_option" value="Inknut Antiqua">Inknut Antiqua</option>
            <option class="profile_font_main_option" value="Karla">Karla</option>
            <option class="profile_font_main_option" value="Lato">Lato</option>
            <option class="profile_font_main_option" value="Libre Baskerville">Libre Baskerville</option>
            <option class="profile_font_main_option" value="Libre Franklin">Libre Franklin</option>
            <option class="profile_font_main_option" value="Lora">Lora</option>
            <option class="profile_font_main_option" value="Merriweather">Merriweather</option>
            <option class="profile_font_main_option" value="Montserrat">Montserrat</option>
            <option class="profile_font_main_option" value="Neuton">Neuton</option>
            <option class="profile_font_main_option" value="Open Sans">Open Sans</option>
            <option class="profile_font_main_option" value="Playfair Display">Playfair Display</option>
            <option class="profile_font_main_option" value="Poppins">Poppins</option>
            <option class="profile_font_main_option" value="Proza Libre">Proza Libre</option>
            <option class="profile_font_main_option" value="PT Sans">PT Sans</option>
            <option class="profile_font_main_option" value="PT Serif">PT Serif</option>
            <option class="profile_font_main_option" value="Raleway">Raleway</option>
            <option class="profile_font_main_option" value="Roboto">Roboto</option>
            <option class="profile_font_main_option" value="Roboto Slab">Roboto Slab</option>
            <option class="profile_font_main_option" value="Rubik">Rubik</option>
            <option class="profile_font_main_option" value="Source Sans Pro">Source Sans Pro</option>
            <option class="profile_font_main_option" value="Space Mono">Space Mono</option>
            <option class="profile_font_main_option" value="Spectral">Spectral</option>
         </select>

         <div class="semi-spacer"></div>
         <p>Select a secondary font *please click twice*: <span id="profileSecondaryFontExample">Example</span></p>
         <select name="profile_secondary_font" id="profileSecondaryFontSelect">
            <option class="profile_font_secondary_option" value="{{user.profile_secondary_font}}"></option>
            <option class="profile_font_secondary_option" value="Alegreya">Alegreya</option>
            <option class="profile_font_secondary_option" value="Alegreya Sans">Alegreya Sans</option>
            <option class="profile_font_secondary_option" value="Anonymous Pro">Anonymous Pro</option>
            <option class="profile_font_secondary_option" value="Archivo Narrow">Archivo Narrow</option>
            <option class="profile_font_secondary_option" value="Arvo">Arvo</option>
            <option class="profile_font_secondary_option" value="BioRhyme">BioRhyme</option>
            <option class="profile_font_secondary_option" value="Cabin">Cabin</option>
            <option class="profile_font_secondary_option" value="Cardo">Cardo</option>
            <option class="profile_font_secondary_option" value="Chivo">Chivo</option>
            <option class="profile_font_secondary_option" value="Cormorant">Cormorant</option>
            <option class="profile_font_secondary_option" value="Crimson Text">Crimson Text</option>
            <option class="profile_font_secondary_option" value="Domine">Domine</option>
            <option class="profile_font_secondary_option" value="Eczar">Eczar</option>
            <option class="profile_font_secondary_option" value="Fira Sans">Fira Sans</option>
            <option class="profile_font_secondary_option" value="IBM Plex Sans">IBM Plex Sans</option>
            <option class="profile_font_secondary_option" value="Inknut Antiqua">Inknut Antiqua</option>
            <option class="profile_font_secondary_option" value="Karla">Karla</option>
            <option class="profile_font_secondary_option" value="Lato">Lato</option>
            <option class="profile_font_secondary_option" value="Libre Baskerville">Libre Baskerville</option>
            <option class="profile_font_secondary_option" value="Libre Franklin">Libre Franklin</option>
            <option class="profile_font_secondary_option" value="Lora">Lora</option>
            <option class="profile_font_secondary_option" value="Merriweather">Merriweather</option>
            <option class="profile_font_secondary_option" value="Montserrat">Montserrat</option>
            <option class="profile_font_secondary_option" value="Neuton">Neuton</option>
            <option class="profile_font_secondary_option" value="Open Sans">Open Sans</option>
            <option class="profile_font_secondary_option" value="Playfair Display">Playfair Display</option>
            <option class="profile_font_secondary_option" value="Poppins">Poppins</option>
            <option class="profile_font_secondary_option" value="proxima-nova">Proxima Nova</option>
            <option class="profile_font_secondary_option" value="Proza Libre">Proza Libre</option>
            <option class="profile_font_secondary_option" value="PT Sans">PT Sans</option>
            <option class="profile_font_secondary_option" value="PT Serif">PT Serif</option>
            <option class="profile_font_secondary_option" value="Raleway">Raleway</option>
            <option class="profile_font_secondary_option" value="Roboto">Roboto</option>
            <option class="profile_font_secondary_option" value="Roboto Slab">Roboto Slab</option>
            <option class="profile_font_secondary_option" value="Rubik">Rubik</option>
            <option class="profile_font_secondary_option" value="Source Sans Pro">Source Sans Pro</option>
            <option class="profile_font_secondary_option" value="Space Mono">Space Mono</option>
            <option class="profile_font_secondary_option" value="Spectral">Spectral</option>
         </select>

         <div class="semi-spacer"></div>
         <label for="profile_project_backgroundImage" class="form__label">Change your project background image</label>
         <input id="profile_project_backgroundImage" class="form__input" type="file" name="profile_project_backgroundimage" value="{{user.profile_project_backgroundImage}}" />

         <p>
            Or
         </p>

         <div class="mini-spacer"></div>
         <p>Select a project background color:</p>
         <small style="font-style: italic;">Project Background:</small>
         <input id="profile_project_background_color" name="profile_project_background_color" type="color" value="{{#if user.profile_project_background_color}}{{user.profile_project_background_color}}{{/if}}"/>
         <input id="color_was_chosen" name="color_was_chosen" type="hidden" value=""/>

         {{#if user.profile_project_backgroundimage}}
         <div class="semi-spacer"></div>
         <input type="radio" name="remove_profile_project_bg" value="true">
         <label for="remove_profile_project_bg">I'd like to remove having a project background</label>
         {{else}}
         {{#if user.profile_project_background_color}}
         <div class="semi-spacer"></div>
         <input type="radio" name="remove_profile_project_bg" value="true">
         <label for="remove_profile_project_bg">I'd like to remove having a project background</label>
         {{/if}}
         {{/if}}

         <div class="semi-spacer"></div>
         <button id="settingsSubmit" class="form_submit_btn" name="submit" type="submit">Submit Changes</button>
     </div>
   </form>
   <p class="delete-link modalBtn">I would like to delete my account</p>

</div>

<!-- Hidden Delete Modal -->
<div class="popModal modalBackground">
   <div class="modal-content">
      <form method="post" action="/delete/{{user.id}}" >
         <div class="modal-header">
           <p>Are You Sure?</p>
         </div>
         <div class="modal-body">
           <p>Deleting your account is permanent and cannot be undone.</p>
           <p><small>All of your projects and information will be deleted.</small></p>
           <input class="form__input" type="text" placeholder="Please enter your username" name="check_username" value="{{check_username}}" required />
         </div>
         <div class="modal-footer">
           <input type="submit" class="btn__secondary" value="Yes I'm Sure" />
           <span class="closeModal btn__primary">Cancel</span>
         </div>
      </form>
   </div>
</div>

<div id="autoLoader" class="loader_project">
<svg xml:space="preserve" style="height: 100%; width: 100%; background: #31375A; shape-rendering: auto;" viewBox="0 0 128 128" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" id="圖層_1" version="1.1" width="156px" height="156px"><g class="ldl-scale" style="transform-origin: 50% 50%; transform: rotate(0deg) scale(0.3, 0.3);"><g class="ldl-ani"><style type="text/css">.st0{fill:none}.st1,.st2{stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}.st1{stroke-width:3;fill:#e8f0c5}.st2{fill:none}.st2,.st3,.st4{stroke-width:3}.st3{stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;fill:#fce9f2}.st4{fill:#fff}.st4,.st5,.st6{stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}.st5{fill:#ef66b2;stroke-width:3}.st6{stroke-width:.25}</style><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.35591s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="z" class="st0"></path></g></g><g class="ldl-layer"><g class="ldl-ani"><g><g class="ldl-layer"><g class="ldl-ani"><g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.38424s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><circle r="41.6" cy="53.9" cx="75.2" class="st1" style="fill: rgb(255, 255, 255); stroke: rgb(0, 0, 0);"></circle></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.41256s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M75.1,12.3l0.2,12.8" class="st2" style="stroke: rgb(0, 0, 0);"></path></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.44089s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M33.6,54l12.8-0.2" class="st2" style="stroke: rgb(0, 0, 0);"></path></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.46921s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M76.6,95.5l-0.2-12.8" class="st2" style="stroke: rgb(0, 0, 0);"></path></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.49754s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M116.8,52.5L104,52.7" class="st2" style="stroke: rgb(0, 0, 0);"></path></g></g></g></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.52586s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M56.8,43.2L76,54.7" class="st2" style="stroke: rgb(0, 0, 0);"></path></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.55419s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M102.9,38.1L76,54.7" class="st2" style="stroke: rgb(0, 0, 0);"></path></g></g></g></g></g><g class="ldl-layer"><g class="ldl-ani"><g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.58251s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M63.8,90.7c-0.2-11.2-11.2-20-24.7-19.8C29,71.1,20.5,76.5,16.9,83.9l-2.5,0c-1.8,0-3.3,1.5-3.2,3.3l0.1,8.2 c0,1.8,1.5,3.2,3.4,3.2l2.1,0c1.6,3.4,4.2,6.4,7.6,8.6l-1.5,5.9l11.1,2.7l1.4-5.5c1.1,0.5,2.6,1,4.4,1.2c3.5,0.4,6.3-0.6,7.7-1.2 l1.5,5.2l11-3.1l-2.3-7.9C61.6,100.7,63.9,96,63.8,90.7z" class="st3" style="fill: rgb(252, 233, 242); stroke: rgb(0, 0, 0);"></path></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.61084s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M46.2,78.9c-2.1-1.1-4.4-1.6-6.6-1.3c-0.4,0.1-0.9,0.2-1.3,0.3" class="st4" style="fill: rgb(255, 255, 255); stroke: rgb(0, 0, 0);"></path></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.63916s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M29,69.2c-2.9-2.3-7.2-1.8-9.5,1.2c0,0,0,0,0,0l10.7,8.4C32.5,75.7,32,71.5,29,69.2C29,69.2,29,69.2,29,69.2z" class="st5" style="fill: rgb(239, 102, 178); stroke: rgb(0, 0, 0);"></path></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.66749s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><circle r="2.4" cy="85.3" cx="26" class="st6" style="fill: rgb(0, 0, 0); stroke: rgb(0, 0, 0);"></circle></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.69581s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="M57.4,77.6c0.2-2.6,1.8-4.9,3.7-6.7c1-1,2.4-1.8,3.8-1.4c1.1,0.4,1.8,1.6,1.9,2.7c0.1,1.2-0.3,2.5-1.3,3.1 c-0.9,0.6-2.1,0.4-3-0.2c-0.9-0.6-1.5-1.6-1.7-2.6c-0.6-2.2,0.2-4.7,2-6.1c0.6-0.5,1.3-0.8,2-0.8" class="st2" style="stroke: rgb(0, 0, 0);"></path></g></g></g></g></g><g class="ldl-layer"><g class="ldl-ani" style="transform-origin: 64px 64px; transform: matrix(1, 0, 0, 1, 0, 0); animation: 1.72414s linear -1.72414s infinite normal forwards running bounce-09824019-aabd-4b50-b18d-7e789b3ef72a;"><path d="z" class="st0"></path></g></g><metadata xmlns:d="https://loading.io/stock/">
<d:name>wait</d:name>
<d:tags>wait,investment,time,fundraising,crowdfunding</d:tags>
<d:license>by</d:license>
<d:slug>etw3ij</d:slug>
</metadata></g></g><style id="bounce-09824019-aabd-4b50-b18d-7e789b3ef72a" data-anikit="">@keyframes bounce-09824019-aabd-4b50-b18d-7e789b3ef72a
{
  0% {
    animation-timing-function: cubic-bezier(0.1361,0.2514,0.2175,0.8786);
    transform: translate(0,0px) scaleY(1);
  }
  37% {
    animation-timing-function: cubic-bezier(0.7674,0.1844,0.8382,0.7157);
    transform: translate(0,-39.96px) scaleY(1);
  }
  72% {
    animation-timing-function: cubic-bezier(0.1118,0.2149,0.2172,0.941);
    transform: translate(0,0px) scaleY(1);
  }
  87% {
    animation-timing-function: cubic-bezier(0.7494,0.2259,0.8209,0.6963);
    transform: translate(0,19.900000000000002px) scaleY(0.602);
  }
  100% {
    transform: translate(0,0px) scaleY(1);
  }
}</style>
</svg>
<p id="autoText" class="loader_text">Thank you, please wait the computer is doing its thing.</p>
</div>
