<!-- Welcome Page Preloader -->
<div id="preloader">
   <div id="loader">
      <div class="line-scale-pulse-out">
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
      </div>
   </div>
</div>
<!-- /Preloader


<!-- Hero -->
<section class="welcome_hero_section">

  <div class="welcome_hero_container">
    <div class="welcome_hero_left">
      <h1 data-aos="fade-up">
        The <span class="title_on_cross">people's<div class="title_arr_down"></div></span> <span class="title_cross">creator's</span> marketplace with the simplest way to connect with your community and build your business.
      </h1>

      <p data-aos="fade-up">
        Hryzn is an online marketplace where all people, creators, and brands can grow by connecting directly with their audience through niche topics and make money online.
      </p>

      <div class="welcome_hero_left_btns" data-aos="fade-up">
        <a href="/users/login">Login</a>
        <a href="/users/register" class="welcome_primary">Sign Up</a>
      </div>
    </div>

    <div class="welcome_hero_right" data-aos="fade-up">

      <video playsinline muted autoplay loop controlsList="nodownload">
         <source src="/videos/hero-video-2.mp4" type="video/mp4">
         Your browser does not support the video tag.
      </video>

    </div>

  </div>

</section>
<!-- /Hero -->


<!-- Featured -->
<section class="welcome_featured_section">
  <strong>As Featured In</strong>
</section>
<!-- /Featured -->


<!-- Benefit One -->
<section class="welcome_benefit_section">

  <div class="welcome_benefit_container">
    <div class="welcome_benefit_left">

      <h3>Connect with your audience.</h3>

      <h2>Your Passion. Your People.</h2>

      <p>
        Join a hub of niches where your interests connect you with your community. From recipes, to workouts, to crypto, people can discover what they love and connect with their people.
        <br>
        <br>
        With our built in discovery engine, your content will always appear for what your audience is searching. Similar to Youtube, Google, and Pinterest.
      </p>

      <a href="/explore">Discover</a>
    </div>

    <div class="welcome_benefit_right welcome_benefit_right_images">
      <div class="img_skate">
        <img src="/img/welcome/welcome-skate.jpg"/>
      </div>

      <div class="img_yoga">
        <img src="/img/welcome/welcome-yoga.jpg"/>
      </div>
    </div>
  </div>

</section>
<!-- /Benefit One -->


<!-- Benefit Two -->
<section class="welcome_benefit_section welcome_section_colored">

  <div class="welcome_benefit_container welcome_benefit_container_reverse">
    <div class="welcome_benefit_left welcome_benefit_left_images">
      <div class="img_mic">
        <img src="/img/welcome/welcome-mic.jpg"/>
      </div>

      <div class="img_lady">
        <img src="/img/welcome/welcome-lady.jpg"/>
      </div>
    </div>

    <div class="welcome_benefit_right">
      <h3>Build a business you love.</h3>

      <h2>It’s Simple. Make Money Online.</h2>

      <p>
        Grow your brand, fund your creative work, or just make passive income online. With a list of resources to choose from, anyone can easily make money directly from your phone or laptop.
        <br>
        <br>
        Collect tips, setup subscriptions, sell products, and much more. Now you can live your life to the fullest and do what makes you happy.
      </p>

      <a href="/creatives">Learn More</a>
    </div>
  </div>

</section>
<!-- /Benefit Two -->


<!-- Benefit Three w/ Features -->
<section class="welcome_benefit_section welcome_benefit_sticky">

  <div class="welcome_benefit_container">
    <div class="welcome_benefit_left">

      <h3>Our aim towards democracy.</h3>

      <h2>You Have Creative Freedom.</h2>

      <p>
        On Hryzn, people are free to explore, create, and share their interests. Our goal is to be a creative outlet to find your voice and express yourself, giving you the freedom to enjoy what you're passionate about.
        <br>
        <br>
        We aim to be a democratized platform, focusing on transparency and a user voting system that puts the power back in your hands.
      </p>

      <a href="/users/register">Sign Up</a>

    </div>

    <div class="welcome_benefit_right">

      <div class="welcome_benefit_sticky_wrapper">
        <p>
          Content is rewarded through our built-in SEO, not followers or authority, giving new users more opportunities to grow.
        </p>
      </div>

      <div class="welcome_benefit_sticky_wrapper">
        <p>
          Make an income by collecting tips, setting up subscriptions, selling products, and much more to come in the near future.
        </p>
      </div>

      <div class="welcome_benefit_sticky_wrapper">
        <p>
          Share all types of media, join groups of like-minded people, and even customize your profile to match your unique style.
        </p>
      </div>

    </div>
  </div>

</section>
<!-- /Benefit Three w/ Features -->


<!-- BG CTA -->
<section class="welcome_bg_cta">
  <div class="welcome_bg_cta_text">
    <strong>The <span>creator's</span> marketplace with the simplest way to connect with your community and build your business.</strong>

    <a href="/users/register">Join Today</a>
  </div>

  <div class="welcome_bg_cta_overlay"></div>
</section>
<!-- /BG CTA -->


<!-- Case Study -->
<section class="welcome_benefit_section welcome_section_colored">

  <div class="welcome_benefit_container welcome_benefit_container_reverse">
    <div class="welcome_benefit_left welcome_benefit_left_2">

      <!-- <a href="/blog/briut-essentials-bettering-the-planet-while-bettering-ourselves.">
         <div class="most_recent_post_card">
            <div class="most_recent_img_container">
               <img src="https://ik.imagekit.io/w07am55tja/1628097040076225731602_138167381716991_4390818882080194915_n.jpg?tr=w-600" class="img-responsive" alt="Briut Essentials. Bettering the planet while bettering ourselves.">
            </div>

            <div class="post_info_container">
               <p class="post_date">8/4/2021</p>
               <h3 class="post_title">Briut Essentials. Bettering the planet while bettering ourselves.</h3>
               <div class="post_btn">view</div>
            </div>
         </div>
      </a> -->

      {{#if case_study}}
      <a href="/blog/{{case_study.post_slug}}" class="welcome_case_study_link">
        <div class="welcome_case_study welcome_blog_card">
          <img src="https://ik.imagekit.io/w07am55tja/{{case_study.post_image}}?tr=w-600"/>

          <div class="welcome_blog_card_btm">
            <strong>{{case_study.post_title}}</strong>
            <p>{{case_study.post_description}}</p>
          </div>
        </div>
      </a>
      {{/if}}

    </div>

    <div class="welcome_benefit_right welcome_benefit_right_2">
      <h2>Health, Wellness, and Lifestyle</h2>

      <p>
        See how Briut Essentials uses Hryzn to promote products and lifestyle choices that not only improve our health, but the health of the planet we call home.
      </p>

      <a href="/blog/{{case_study.post_slug}}">View</a>
    </div>
  </div>

</section>
<!-- /Case Study -->


<!-- Blog -->
<section class="welcome_blog_section">

  <h3>From The Blog</h3>

  <div class="welcome_blog_container">
    {{#if blog_posts}}
    {{#each blog_posts}}
    <div class="welcome_blog_card">
      <a href="/blog/{{this.post_slug}}">
        <img src="https://ik.imagekit.io/w07am55tja/{{this.post_image}}?tr=w-600"/>

        <div class="welcome_blog_card_btm">
          <strong>{{this.post_title}}</strong>
          <p>{{this.post_description}}</p>
        </div>
      </a>
    </div>
    {{/each}}
    {{/if}}
  </div>

  <a href="/blog" class="view_blogs_link">View More</a>

</section>
<!-- /Blog -->
