<div class="landing-main__container">
   <h3 class="landing-title">Explore A World Of</h3>
   <h3 id="typewriter">Topics.</h3>

   {{#if projects}}
      <div class="masonryContainer">
         {{#each projects}}
            {{#if is_private}}
            {{! Check if the project is a private project, we do not want to show private projects }}
            {{else}}
            <div class="masonryItem">
               <a href="/p/details/{{id}}/guest" class="projects__link">
                  <div class="projects__card">
                     <img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{project_image}}" class="img-responsive" alt="{{project_title}}" />
                  </div>
               </a>
            </div>
            {{/if}}
         {{/each}}
      </div>
   {{else}}
   {{! Something went wrong}}
   <p class="error-message">
      Sorry, we couldn't find any projects.
   </p>
   {{/if}}

   {{! Old
   <div class="masonryContainer">

      <div class="masonryItem">
         <div class="card-content">
            <div class="card-overlay"></div>
            <img class="card-img" src="/img/landingPage/landing-card-14.jpg" />
            <div class="card-details fadeIn-bottom">
               <h3 class="card-title">Project Oceana</h3>
            </div>
         </div>
      </div>

      <div class="masonryItem">
         <div class="card-content">
            <div class="card-overlay"></div>
            <img class="card-img" src="/img/landingPage/landing-card-06.jpg" />
            <div class="card-details fadeIn-bottom">
               <h3 class="card-title">Photography 101</h3>
            </div>
         </div>
      </div>

      <div class="masonryItem">
         <div class="card-content">
            <div class="card-overlay"></div>
            <img class="card-img" src="/img/landingPage/landing-card-08.jpg" />
            <div class="card-details fadeIn-bottom">
               <h3 class="card-title">An Artist's Daydream</h3>
            </div>
         </div>
      </div>

      <div class="masonryItem">
         <div class="card-content">
            <div class="card-overlay"></div>
            <img class="card-img" src="/img/landingPage/landing-card-11.jpg" />
            <div class="card-details fadeIn-bottom">
               <h3 class="card-title">How to build a coffee shop?</h3>
            </div>
         </div>
      </div>

      <div class="masonryItem">
         <div class="card-content">
            <div class="card-overlay"></div>
            <img class="card-img" src="/img/landingPage/landing-card-07.jpg" />
            <div class="card-details fadeIn-bottom">
               <h3 class="card-title">Artis Clothing Co.</h3>
            </div>
         </div>
      </div>

      <div class="masonryItem masonry-hidden">
         <div class="card-content">
            <div class="card-overlay"></div>
            <img class="card-img" src="/img/landingPage/landing-card-05.jpg" />
            <div class="card-details fadeIn-bottom">
               <h3 class="card-title">Home Organizing Essentials</h3>
            </div>
         </div>
      </div>

      <div class="masonryItem masonry-hidden">
         <div class="card-content">
            <div class="card-overlay"></div>
            <img class="card-img" src="/img/landingPage/landing-card-03.jpg" />
            <div class="card-details fadeIn-bottom">
               <h3 class="card-title">Best Pizza Spots in South Florida</h3>
            </div>
         </div>
      </div>

      <div class="masonryItem masonry-hidden">
         <div class="card-content">
            <div class="card-overlay"></div>
            <img class="card-img" src="/img/landingPage/landing-card-01.jpg" />
            <div class="card-details fadeIn-bottom">
               <h3 class="card-title">Productive Tips and Tricks</h3>
            </div>
         </div>
      </div>

      <div class="masonryItem masonry-hidden">
         <div class="card-content">
            <div class="card-overlay"></div>
            <img class="card-img" src="/img/landingPage/landing-card-04.jpg" />
            <div class="card-details fadeIn-bottom">
               <h3 class="card-title">30-Day HIIT Workout Challenge</h3>
            </div>
         </div>
      </div>

      <div class="masonryItem masonry-hidden">
         <div class="card-content">
            <div class="card-overlay"></div>
            <img class="card-img" src="/img/landingPage/landing-card-12.jpg" />
            <div class="card-details fadeIn-bottom">
               <h3 class="card-title">How to properly take a vacation?</h3>
            </div>
         </div>
      </div>

      <div class="masonryItem early-masonry-hidden">
         <div class="card-content">
            <div class="card-overlay"></div>
            <img class="card-img" src="/img/landingPage/landing-card-02.jpg" />
            <div class="card-details fadeIn-bottom">
               <h3 class="card-title">10 Best Vegan Meals On A Budget</h3>
            </div>
         </div>
      </div>

      <div class="masonryItem masonry-hidden">
         <div class="card-content">
            <div class="card-overlay"></div>
            <img class="card-img" src="/img/landingPage/landing-card-13.jpg" />
            <div class="card-details fadeIn-bottom">
               <h3 class="card-title">10 Day Detox Cleanse</h3>
            </div>
         </div>
      </div>

   </div>}}

   <div class="bg-square-01">
      <div class="bg-square__wrapper">
         <h3>For the creative</h3>
         <p>
            Create custom projects, profiles, and content for an audience in a multitude of topics, or create
            private content just for you and your friends to see. We love being creative and we live to inspire creativity.
         </p>
      </div>
      <div class="bg-square__wrapper">
         <img src="/img/landingPage/landing-section-01.jpg" />
      </div>
   </div>

   <div class="bg-square-02">
      <div class="bg-square__wrapper">
         <img src="/img/landingPage/landing-section-02.jpg" />
      </div>
      <div class="bg-square__wrapper">
         <h3>To Explore</h3>
         <p>
            Explore through various topics, interests, and ideas to experience. Search and browse through various projects to enjoy
            or simply save it to your profile.
         </p>
      </div>
   </div>

   <div class="bg-square-03">
      <div class="bg-square__wrapper">
         <h3>Connect &amp; Socialize</h3>
         <p>
            Connect and collaborate with your friends on projects and ideas, or show off your content to followers.
            Share content with your friends &amp; family, and personalize your profile to match your unique style.
      </div>
      <div class="bg-square__wrapper">
         <img src="/img/landingPage/landing-section-03.jpg" />
      </div>
   </div>

</div>
