{{#if errors_2}}
<div class="error__msg-4">
   <p>{{errors_2}}</p>
   <p class="error__exit">&times;</p>
</div>
{{/if}}

{{#if user}}
<div id="flashMsg"></div>
<p id="current_user" style="display: none;">{{user.username}}</p>
<p id="current_project" style="display: none;">{{project.id}}</p>
<p id="current_admin" style="display: none;">{{#each project.admins}}{{this}}{{/each}}</p>
{{else}}
<div {{! Commenting out for now class="guestScroll" }}>
{{/if}}


<div id="drag" class="project_section_container">


   {{! Project }}
   <section class="project">

      {{! Social sharing on desktop }}
      <div class="icon-bar">

         {{#if user}}
            {{#if user_liked}}

            {{! Like / Unlike Project }}

            <form title="unlike" method="post" action="/p/details/unlike/{{project.id}}">
               <input type="hidden" name="username" value="{{user.username}}">
               <input type="hidden" name="project_id" value="{{project.id}}">
               <button class="project_action_btn" name="submit" type="submit">
                  <a>{{#if enough_likes}}<span class="i_amounts">{{likes_amount}}</span>{{/if}}<i style="font-weight: bold" class="fa fa-heart"></i></a>
               </button>
            </form>

            {{else}}

            <form title="like" method="post" action="/p/details/like/{{project.id}}">
               <input type="hidden" name="username" value="{{user.username}}">
               <input type="hidden" name="project_id" value="{{project.id}}">
               <input type="hidden" name="project_owner" value="{{project.project_owner}}">
               <button class="project_action_btn" name="submit" type="submit">
                  <a>{{#if enough_likes}}<span class="i_amounts">{{likes_amount}}</span>{{/if}}<i style="font-weight: bold" class="fa fa-heart-o"></i></a>
               </button>
            </form>

            {{/if}}

         {{else}}

         <button class="project_action_btn" name="submit" type="submit">
            <a>{{#if enough_likes}}<span class="i_amounts">{{likes_amount}}</span>{{/if}}<i style="font-weight: bold" class="fa fa-heart-o"></i></a>
         </button>

         {{/if}}

         <button class="project_action_btn" name="submit" type="submit">
            <a class="relatedBtn">{{#if enough_comments}}<span class="i_amounts">{{comment_amount}}</span>{{/if}}<i style="font-weight: bold" class="{{#if user_commented}}fa fa-comment{{else}}fa fa-comment-o{{/if}}"></i></a>
         </button>

         <button class="project_action_btn" name="submit" type="submit">
            <a {{#if user}}class="detailsRepostModalBtn"{{/if}}>{{#if enough_reposts}}<span class="i_amounts">{{repost_amount}}</span>{{/if}}<i class="fa fa-retweet"></i></a>
         </button>


         {{#if user}}
            {{#if user_saved}}

            {{! Save / Unsave Project }}

            <form title="unsave" method="post" action="/p/details/unsave/{{project.id}}">
               <input type="hidden" name="username" value="{{user.username}}">
               <input type="hidden" name="project_id" value="{{project.id}}">
               <button class="project_action_btn" name="submit" type="submit">
                  <a>{{#if enough_saves}}<span class="i_amounts">{{saves_amount}}</span>{{/if}}<i style="font-weight: bold" class="fa fa-bookmark"></i></a>
               </button>
            </form>

            {{else}}

            <form title="save" method="post" action="/p/details/save/{{project.id}}">
               <input type="hidden" name="username" value="{{user.username}}">
               <input type="hidden" name="project_id" value="{{project.id}}">
               <input type="hidden" name="project_owner" value="{{project.project_owner}}">
               <button class="project_action_btn" name="submit" type="submit">
                  <a>{{#if enough_saves}}<span class="i_amounts">{{saves_amount}}</span>{{/if}}<i style="font-weight: bold" class="fa fa-bookmark-o"></i></a>
               </button>
            </form>

            {{/if}}

         {{else}}

         <button class="project_action_btn" name="submit" type="submit">
            <a>{{#if enough_saves}}<span class="i_amounts">{{saves_amount}}</span>{{/if}}<i style="font-weight: bold" class="fa fa-bookmark-o"></i></a>
         </button>

         {{/if}}
      </div>


      <img src="/icons/back.png" class="project_bck_btn go-back"/>


      {{! Project Video / Image }}
      {{#if project.project_video}}
      <video autoplay preload="auto" controls controlsList="nodownload" id="projectFrame" class="project_video" style="width: 100%;">
         <source src="https://s3.amazonaws.com/hryzn-app-static-assets/{{project.project_video}}" type="video/mp4">
         <source src="https://s3.amazonaws.com/hryzn-app-static-assets/{{project.project_video}}" type="video/ogg">
         <source src="https://s3.amazonaws.com/hryzn-app-static-assets/{{project.project_video}}" type="video/webm">
         Your browser does not support the video tag.
      </video>
      {{! Project Title }}
      {{#if project.is_private}}
      <br /><span style="font-size: 15px; font-weight: 600;">Set to private, so only you can see this.</span>
      {{/if}}
      {{#each project.admins}}
      <a class="project_admins project_has_video" href="/profile/{{this}}">@{{this}}</a>
      {{/each}}
      <h1 class="project_title project_has_video" style="position: relative">
         {{project.project_title}}
         <a class="projectSettingsBtn_ell" style="position: absolute; right: 50px;"><i class="fa fa-ellipsis-h"></i></a>
      </h1>
      {{else}}
      <div class="project_img_container" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('https://s3.amazonaws.com/hryzn-app-static-assets/{{project.project_image}}')">
         <div class="project_title_wrapper">
            <div class="title_wrapper">
               {{#each project.admins}}
               <a class="project_admins" href="/profile/{{this}}">@{{this}}</a>
               {{/each}}
               <h1 class="project_title">{{project.project_title}}</h1>
               {{#if project.is_private}}
               <br /><span style="font-size: 15px; font-weight: 600; color: #fff;">Set to private, so only you can see this.</span>
               {{/if}}
            </div>
            <a class="projectSettingsBtn_ell"><i class="fa fa-ellipsis-h"></i></a>
         </div>
      </div>
      {{/if}}


      <div class="project_lower_wrapper" {{#if project.project_video}}style="margin: 0;"{{/if}}>

         {{! Project Notes }}
         {{#if project.project_notes}}
         <div class="project_notes">
            {{{project.project_notes}}}
         </div>
         {{/if}}

         <hr class="settings__underline" style="margin: 25px 0 50px 0;">

         <div class="masonryContainer mobile_related_masonry">

            {{#each projects}}

               {{#if is_private}}
               {{! Can't show private projects to people other than logged in User }}
               {{else}}

                  {{#if is_micro_post}}

                  {{#if posted_to_group}}
                     {{#each posted_to_group}}
                        {{#ifEquals this.group_is_private "true"}}
                           {{! Don't show projects in private groups }}
                        {{else}}
                           <div class="masonryItem ownProject" title="{{../project_title}}">
                              <a href="/p/micro/{{../_id}}">
                                 <div class="micropost">
                                    <div class="micropost_card {{#if ../micro_image}}card_is_micro_image{{else}}{{#if ../micro_audio}}card_is_micro_audio{{else}}{{#if ../micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                                       {{#if ../micro_image}}<img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{../micro_image}}" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                       {{#if ../thumbnail_image}}<img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{../thumbnail_image}}" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                       {{#if ../micro_video}}<div class="micro_play_btn"><img class="topnav__icon" src="/img/icons/play-button-white.png" /></div>{{/if}}
                                       {{#if ../micro_audio}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/audio-button-white.png" /></div>{{/if}}
                                       {{#if ../project_title}}<p class="micro_title">{{../project_title}}</p>{{/if}}
                                       <p class="micro_body">{{{../micro_body}}}</p>
                                    </div>
                                    <a class="micro_tag" href="/profile/{{../project_owner}}">@{{../project_owner}}</a>
                                 </div>
                              </a>
                           </div>
                        {{/ifEquals}}
                     {{/each}}
                  {{else}}
                     <div class="masonryItem ownProject" title="{{project_title}}">
                        <a href="/p/micro/{{_id}}">
                           <div class="micropost">
                              <div class="micropost_card {{#if micro_image}}card_is_micro_image{{else}}{{#if micro_audio}}card_is_micro_audio{{else}}{{#if micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                                 {{#if micro_image}}<img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{micro_image}}" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                                 {{#if thumbnail_image}}<img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{thumbnail_image}}" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                                 {{#if micro_video}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/play-button-white.png" /></div>{{/if}}
                                 {{#if micro_audio}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/audio-button-white.png" /></div>{{/if}}
                                 {{#if project_title}}<p class="micro_title">{{project_title}}</p>{{/if}}
                                 <p class="micro_body">
                                    {{{micro_body}}}
                                 </p>
                              </div>
                              <a class="micro_tag {{#if project_title}}micro_tag_w_title{{/if}}" href="/profile/{{project_owner}}">@{{project_owner}}</a>
                           </div>
                        </a>
                     </div>
                  {{/if}}
                  {{else}}

                     {{#if posted_to_group}}
                        {{#each posted_to_group}}
                           {{#ifEquals this.group_is_private "true"}}
                              {{! Don't show projects in private groups }}
                           {{else}}
                              <div class="masonryItem ownProject" title="{{../project_title}}">
                                 <div class="project_card">
                                    <a href="/p/details/{{../id}}" class="project_link">
                                       <img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{#if ../thumbnail_image}}{{../thumbnail_image}}{{else}}{{../project_image}}{{/if}}" class="img-responsive" alt="{{../project_title}}" />
                                    </a>
                                    <div class="project_card_bottom">
                                       <div class="project_bottom_wrapper">
                                          <div class="bg_overlay"></div>
                                          <div class="project_bottom_details">
                                             <a href="/profile/{{../project_owner}}"><p class="project_owner">@{{../project_owner}}</p></a>
                                             <a href="/p/details/{{../id}}" class="project_link">
                                                <p class="project_card_title">{{../project_title}}</p>
                                             </a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           {{/ifEquals}}
                        {{/each}}
                     {{else}}
                        <div class="masonryItem ownProject" title="{{project_title}}">
                           <div class="project_card">
                              <a href="/p/details/{{id}}" class="project_link">
                                 <img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{#if thumbnail_image}}{{thumbnail_image}}{{else}}{{project_image}}{{/if}}" class="img-responsive" alt="{{project_title}}" />
                              </a>
                              <div class="project_card_bottom">
                                 <div class="project_bottom_wrapper">
                                    <div class="bg_overlay"></div>
                                    <div class="project_bottom_details">
                                       <a href="/profile/{{project_owner}}"><p class="project_owner">@{{project_owner}}</p></a>
                                       <a href="/p/details/{{id}}" class="project_link">
                                          <p class="project_card_title">{{project_title}}</p>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     {{/if}}

                  {{/if}}

               {{/if}}

            {{/each}}

         </div>

      </div>

   </section>


   <section class="related_projects_container">
      {{! Desktop Related Side Nav}}
      {{#if related_projects}}
      <div class="related_projects">
        <h3 class="settings__header">Related</h3>
        <hr class="settings__underline" />
        {{#each related_projects}}
        {{#if is_private}}
        {{! Check if the project is a private project, we do not want to show private projects }}
        {{else}}

        {{#if is_micro_post}}

           {{#if posted_to_group}}
             {{#each posted_to_group}}
                {{#ifEquals this.group_is_private "true"}}
                    {{! Don't show projects in private groups }}
                {{else}}
                    <div class="masonryItem ownProject" title="{{../project_title}}">
                       <a href="/p/micro/{{../_id}}">
                          <div class="micropost">
                             <div class="micropost_card {{#if ../micro_image}}card_is_micro_image{{else}}{{#if ../micro_audio}}card_is_micro_audio{{else}}{{#if ../micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                                {{#if ../micro_image}}<img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{../micro_image}}" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                {{#if ../thumbnail_image}}<img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{../thumbnail_image}}" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                {{#if ../micro_video}}<div class="micro_play_btn"><img class="topnav__icon" src="/img/icons/play-button-white.png" /></div>{{/if}}
                                {{#if ../micro_audio}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/audio-button-white.png" /></div>{{/if}}
                                {{#if ../project_title}}<p class="micro_title">{{../project_title}}</p>{{/if}}
                                <p class="micro_body">{{{../micro_body}}}</p>
                             </div>
                             <a class="micro_tag" href="/profile/{{../project_owner}}">@{{../project_owner}}</a>
                          </div>
                       </a>
                    </div>
                {{/ifEquals}}
             {{/each}}
           {{else}}
             <div class="masonryItem ownProject" title="{{project_title}}">
                <a href="/p/micro/{{_id}}">
                    <div class="micropost">
                       <div class="micropost_card {{#if micro_image}}card_is_micro_image{{else}}{{#if micro_audio}}card_is_micro_audio{{else}}{{#if micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                          {{#if micro_image}}<img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{micro_image}}" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                          {{#if thumbnail_image}}<img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{thumbnail_image}}" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                          {{#if micro_video}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/play-button-white.png" /></div>{{/if}}
                          {{#if micro_audio}}<div class="micro_play_btn"><img class="topnav__icon" src="/icons/audio-button-white.png" /></div>{{/if}}
                          {{#if project_title}}<p class="micro_title">{{project_title}}</p>{{/if}}
                          <p class="micro_body">
                             {{{micro_body}}}
                          </p>
                       </div>
                       <a class="micro_tag {{#if project_title}}micro_tag_w_title{{/if}}" href="/profile/{{project_owner}}">@{{project_owner}}</a>
                    </div>
                </a>
             </div>
           {{/if}}

        {{else}}

          {{#if posted_to_group}}
              {{#each posted_to_group}}
                 {{#ifEquals this.group_is_private "true"}}
                    {{! Don't show projects in private groups }}
                 {{else}}
                    <div class="masonryItem ownProject" title="{{../project_title}}">
                       <div class="project_card">
                          <a href="/p/details/{{../id}}" class="project_link">
                             <img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{#if ../thumbnail_image}}{{../thumbnail_image}}{{else}}{{../project_image}}{{/if}}" class="img-responsive" alt="{{../project_title}}" />
                          </a>
                          <div class="project_card_bottom">
                             <div class="project_bottom_wrapper">
                                <div class="bg_overlay"></div>
                                <div class="project_bottom_details">
                                   <a href="/profile/{{../project_owner}}"><p class="project_owner">@{{../project_owner}}</p></a>
                                   <a href="/p/details/{{../id}}" class="project_link">
                                      <p class="project_card_title">{{../project_title}}</p>
                                   </a>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 {{/ifEquals}}
              {{/each}}
          {{else}}
              <div class="masonryItem ownProject" title="{{project_title}}">
                 <div class="project_card">
                    <a href="/p/details/{{id}}" class="project_link">
                       <img src="https://s3.amazonaws.com/hryzn-app-static-assets/{{#if thumbnail_image}}{{thumbnail_image}}{{else}}{{project_image}}{{/if}}" class="img-responsive" alt="{{project_title}}" />
                    </a>
                    <div class="project_card_bottom">
                       <div class="project_bottom_wrapper">
                          <div class="bg_overlay"></div>
                          <div class="project_bottom_details">
                             <a href="/profile/{{project_owner}}"><p class="project_owner">@{{project_owner}}</p></a>
                             <a href="/p/details/{{id}}" class="project_link">
                                <p class="project_card_title">{{project_title}}</p>
                             </a>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
          {{/if}}

        {{/if}}

        {{/if}}
        {{/each}}
      </div>
      {{/if}}
   </section>


</div>


{{! Project Settings Nav}}
{{#if project}}
<div id="projectSettingsNav" class="project__settingsNav">
   <div class="project_settings_wrapper">
      <a href="javascript:void(0)" id="projectSettingsClose">&times;</a>
      <!-- <h3 class="settings__header">Comments {{#if enough_comments}}- {{comment_amount}}{{/if}}</h3>
      <hr class="settings__underline" /> -->

      {{! Project Categories }}
      {{#if project.categories}}
      <div class="project_categories">
         {{#each project.categories}}
         <a href="/explore/{{this}}" class="category">{{this}}</a>
         {{/each}}
      </div>
      {{/if}}

      {{! Project Description}}
      <p>
         {{project.project_description}}
      </p>

      {{#if project.project_url}}
      <a target="_blank" class="project_url" style="margin: 25px 0 0 0; font-style: italic" href="https://{{project.project_url}}">Go to Site</a>
      {{/if}}

      <div class="project_settings_social">
         <a target="_blank" href="http://www.facebook.com/sharer.php?u={{site_url}}/p/details/{{project._id}}/guest&amp;t={{project.project_title}}" title="Share on Facebook" class="facebook"><i class="fa fa-facebook"></i></a>
         <a target="_blank" href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fmyhryzn%3A5000%2Fp%2Fdetails%2F{{project._id}}&ref_src=twsrc%5Etfw&text={{project.project_title}}&tw_p=tweetbutton&url=https%3A%2F%2Fwww.myhryzn.com%2Fp%2Fdetails%2F{{project._id}}%2Fguest&via=myHryzn" title="Share on Twitter" class="twitter"><i class="fa fa-twitter"></i></a>
         <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
         <a class="check" class="copy-link" onclick="copyLink('{{site_url}}/p/details/{{project._id}}/guest')"><i class="fa fa-link"></i></a>
      </div>

      {{#if is_admin_of_project}}
      <div class="project_btn_wrapper">
         <a class="admin_btn" href="/p/details/edit/{{project._id}}">Edit</a>
         <div class="modalBtn admin_btn">Delete</div>
      </div>
      {{/if}}
   </div>
</div>
{{/if}}


{{! Mobile Related Side Nav}}
{{#if related_projects}}
<div id="relatedSideNav" class="related__nav">
   <a href="javascript:void(0)" id="relatedClose">&times;</a>
   <h3 class="settings__header">Comments {{#if enough_comments}}- {{comment_amount}}{{/if}}</h3>
   <hr class="settings__underline" />

   {{! Project Comments }}

   <div class="comment_box">

      {{#if project.comments}}
      {{#each project.comments}}
      <div class="project_comment">
         <a href="/profile/{{this.username}}">
            <div class="topnav__user">
               <div class="topnav__profile-img-container">
                  <img class="profile__img comment_profileimage" src="https://s3.amazonaws.com/hryzn-app-static-assets/{{this.profileimage}}">
               </div>
               <p class="comment_username">{{this.username}}</p>
               <div class="{{#if ../user}}del_box{{else}}del_box_off{{/if}}"></div>
               <p style="display:none" class="comment_id">{{this._id}}</p>
            </div>
         </a>
         <p class="comment_msg">{{{this.message}}}</p>
      </div>
      {{/each}}
      {{/if}}

      {{#if user}}

      <form id="comment" method="post" class="comment_form" action="/p/details/comment/{{project.id}}">
         <input type="hidden" name="username" value="{{user.username}}">
         <input type="hidden" name="profileimage" value="{{user.profileimage}}">
         <input type="hidden" name="project_id" value="{{project.id}}">
         <input type="hidden" name="project_owner" value="{{project.project_owner}}">
         <textarea type="text" name="comment" required></textarea>
         <button class="comment_btn" name="submit" type="submit">Send Comment</button>
      </form>

      {{/if}}

   </div>

</div>
{{/if}}


{{#if is_admin_of_project}}
{{! Hidden Delete Modal }}
<div class="popModal modalBackground">
  <div class="modal-content">

    <div class="modal-header ">
      <p>Are You Sure?</p>
    </div>

    <div class="modal-body">
      <p>Deleting this is permanent and cannot be undone.</p>
    </div>

    <div class="modal-footer">
      <a href="/p/details/delete/{{project._id}}" class="btn__secondary project_submit">Yes I'm Sure</a>
      <span class="closeModal btn__primary">Cancel</span>
    </div>

  </div>

</div>

<!-- Loader Balls -->
<div class="loader_project">
   <div class='loader-container'>
      <div class='ball-wrapper'>
         <div class='ball-holder'>
            <div class='ball'></div>
         </div>
         <div class='shadow'></div>
      </div>

      <div class='ball-wrapper'>
         <div class='ball-holder'>
            <div class='ball'></div>
         </div>
         <div class='shadow'></div>
      </div>

      <div class='ball-wrapper'>
         <div class='ball-holder'>
            <div class='ball'></div>
         </div>
         <div class='shadow'></div>
      </div>
      <p class="loader_text">Thank you, the computer is doing its thing.</p>
   </div>
</div>
{{/if}}

{{#if user}}
{{else}}

{{! End of guestScroll }}
</div>


{{! Sign up pop up for users without an account }}
<div class="signUpModal modalBackground">
   <div class="modal-content">

      <div class="form-container-2">
         <div class="modal-header">
            <a href="/" class="topnav__logo">HRYZN</a>
         </div>

         <form method="post" action="/users/login">
            <div class="container">
              <input class="form__input" type="text" placeholder="Enter username" name="username" value="{{username}}" required autocapitalize="none" />
              <input class="form__input" type="password" placeholder="Enter password" name="password" value="{{password}}" required  autocapitalize="none" />
              <button class="form_submit_btn" name="submit" type="submit">Login</button>
           </div>
         </form>

         <div class="form__href-container">
            <a class ="form__href" href="/users/register">
               Don't have an account? Sign Up
            </a>
         </div>
      </div>

   </div>
</div>

{{/if}}

<div class="detailsRepostModal modalBackground">
   <div class="modal-content">

   <div class="modal-header ">
   <p>Where would you like to repost to?</p>
   </div>

   <form title="repost" method="post" action="/p/details/repost/{{project.id}}">
      <input type="hidden" name="username" value="{{user.username}}">
      <input type="hidden" name="project_id" value="{{project.id}}">
      <input type="hidden" name="project_owner" value="{{project.project_owner}}">
      <select data-placeholder="Repost to..." class="chosen-select form__input" name="repost_to">
         <option value=""></option>
         <option value="followers">Followers</option>
         {{#each user.groups}}
         <option value="{{this.group_id}}">Your Group "{{this.group_name}}"</option>
         {{/each}}
      </select>
      <div class="modal-footer">
         <input class="btn__secondary repost_submit" type="submit" value="Repost"/>
         <span class="closeModal btn__primary">Cancel</span>
      </div>
   </form>

   <form title="unrepost" method="post" action="/p/details/unrepost/{{project.id}}">
      <input type="hidden" name="username" value="{{user.username}}">
      <input type="hidden" name="project_id" value="{{project.id}}">
      <input class="btn__secondary unrepost_btn" type="submit" value="I'm actually trying to unrepost this"/>
   </form>

   </div>

</div>

<script>
// Copy project details link
function copyLink(text) {
   var pawn = document.createElement("input");
   document.body.appendChild(pawn);
   pawn.setAttribute('value', text);
   pawn.select();
   document.execCommand("copy");
   document.body.removeChild(pawn);

   var check = document.querySelectorAll(".check");
   check.forEach(function(i) {
      i.innerHTML = "&check;"
   });
}
</script>
