{{#if errors_2}}
<div class="error__msg-4">
   <p>{{errors_2}}</p>
   <p class="error__exit">&times;</p>
</div>
{{/if}}

{{#if user}}
<p id="current_user" style="display: none;">{{user.username}}</p>
{{else}}
<div class="guestScroll">
{{/if}}
{{! Mobile displays only on widths < 595px }}
<section class="project">

   {{! Social sharing on desktop }}
   <div class="icon-bar">
     <a target="_blank" href="http://www.facebook.com/sharer.php?u={{site_url}}/p/details/{{project._id}}/guest&amp;t={{project.project_title}}" title="Share on Facebook" class="facebook"><i class="fa fa-facebook"></i></a>
     <a target="_blank" href="http://twitter.com/home/?status={{project.project_title}}- {{site_url}}/p/details/{{project._id}}/guest" title="Share on Twitter" class="twitter"><i class="fa fa-twitter"></i></a>
     <a class="check" class="copy-link" onclick="copyLink('{{site_url}}/p/details/{{project._id}}/guest')"><i class="fa fa-link"></i></a>
   </div>


   {{! Project Video / Image }}
   {{#if project.project_video}}
   <iframe id="projectFrame" src="{{project.project_video}}" frameborder="0" allowfullscreen></iframe>
   {{else}}
   <div class="project_img_container">
      <img class="project_img" src="https://s3.amazonaws.com/hryzn-app-static-assets/{{project.project_image}}" />
   </div>
   {{/if}}


   <div class="project_main_info">


      {{! Project Title }}
      <div class="project_title_container">
         <h1 class="project_title">{{project.project_title}}</h1>

         {{! Checks if user has an account or a guest visit }}
         {{#if user}}

            <div class="row project_btn_container">
               {{! Project Admins }}
               {{#each project.admins}}
               <a class="project_admins mobile_admin" href="/profile/{{this}}">{{this}}</a>
               {{/each}}

               <div class="project_btn_wrapper">

                  <div class="project_action_btn">
                     <img src="/icons/comment.png" class="project_icon" />
                     {{comment_amount}}
                  </div>

                  {{! Save / Unsave Project }}
                  {{#if is_admin_of_project}}
                  {{else}}
                  {{#if user_saved}}

                  <form method="post" action="/p/details/unsave/{{project.id}}">
                     <input type="hidden" name="username" value="{{user.username}}">
                     <input type="hidden" name="project_id" value="{{project.id}}">
                     <button class="project_action_btn" name="submit" type="submit">
                        <img src="/icons/unsave.png" class="project_icon" />
                        {{#if enough_saves}}
                        {{saves_amount}}
                        {{/if}}
                     </button>
                  </form>

                  {{else}}

                  <form method="post" action="/p/details/save/{{project.id}}">
                     <input type="hidden" name="username" value="{{user.username}}">
                     <input type="hidden" name="project_id" value="{{project.id}}">
                     <button class="project_action_btn" name="submit" type="submit">
                        <img src="/icons/save.png" class="project_icon" />
                        {{#if enough_saves}}
                        {{saves_amount}}
                        {{/if}}
                     </button>
                  </form>

                  {{/if}}
                  {{/if}}


                  {{! Like / Unlike Project }}
                  {{#if user_liked}}

                  <form method="post" action="/p/details/unlike/{{project.id}}">
                     <input type="hidden" name="username" value="{{user.username}}">
                     <input type="hidden" name="project_id" value="{{project.id}}">
                     <button class="project_action_btn" name="submit" type="submit">
                        <img src="/icons/heart-liked.png" class="project_icon" />
                        {{#if enough_likes}}
                        {{likes_amount}}
                        {{/if}}
                     </button>
                  </form>

                  {{else}}

                  <form method="post" action="/p/details/like/{{project.id}}">
                     <input type="hidden" name="username" value="{{user.username}}">
                     <input type="hidden" name="project_id" value="{{project.id}}">
                     <button class="project_action_btn" name="submit" type="submit">
                        <img src="/icons/heart-unliked.png" class="project_icon" />
                        {{#if enough_likes}}
                        {{likes_amount}}
                        {{/if}}
                     </button>
                  </form>

                  {{/if}}

               </div>

            </div>

         {{else}}
         {{! User visited from outside link }}
         {{! Show nothing... }}
         {{/if}}
      </div>


      {{! Project Admins }}
      {{#each project.admins}}
      <a class="project_admins desktop_admin" href="/profile/{{this}}">{{this}}</a>
      {{/each}}

      {{#if is_admin_of_project}}

         {{! Admin Abilities }}
         <div class="row admin_btn_container">
            <a class="admin_btn" href="/p/details/edit/{{project._id}}">Edit</a>
            <div class="modalBtn admin_btn">Delete</div>
         </div>

      {{/if}}


      {{! Social sharing on mobile }}
      <div class="icon-bar-responsive">
        <a target="_blank" href="http://www.facebook.com/sharer.php?u={{site_url}}/p/details/{{project._id}}/guest&amp;t={{project.project_title}}" title="Share on Facebook" class="facebook"><i class="fa fa-facebook"></i></a>
        <a target="_blank" href="http://twitter.com/home/?status={{project.project_title}}- {{site_url}}/p/details/{{project._id}}/guest" title="Share on Twitter" class="twitter"><i class="fa fa-twitter"></i></a>
        <a class="check" class="copy-link" onclick="copyLink('{{site_url}}/p/details/{{project._id}}/guest')"><i class="fa fa-link"></i></a>
      </div>


   </div>


   {{! Project Notes }}
   {{#if project.project_notes}}
   <div class="project_notes">
      {{{project.project_notes}}}
   </div>
   {{/if}}

   {{! Project Comments }}
   {{#if user}}

   {{#if project.comments}}
   {{#each project.comments}}
   <div class="project_comment">
      <a href="/profile/{{this.username}}">
         <div class="topnav__user">
            <div class="topnav__profile-img-container">
               <img class="profile__img" src="https://s3.amazonaws.com/hryzn-app-static-assets/{{this.profileimage}}">
            </div>
            <p class="comment_username">{{this.username}}</p>
         </div>
      </a>
      <p class="comment_msg">{{this.message}}</p>
   </div>
   {{/each}}
   {{/if}}

   <form method="post" class="comment_form" action="/p/details/comment/{{project.id}}">
      <input type="hidden" name="username" value="{{user.username}}">
      <input type="hidden" name="profileimage" value="{{user.profileimage}}">
      <input type="hidden" name="project_id" value="{{project.id}}">
      <textarea type="text" name="comment"></textarea>
      <button class="comment_btn" name="submit" type="submit">
         Send Comment
      </button>
   </form>

   {{/if}}


</section>


{{#if is_admin_of_project}}
{{! Hidden Delete Modal }}
<div class="popModal modalBackground">
  <div class="modal-content">

    <div class="modal-header">
      <p>Are You Sure?</p>
    </div>

    <div class="modal-body">
      <p>Deleting this is permanent and cannot be undone.</p>
    </div>

    <div class="modal-footer">
      <a href="/p/details/delete/{{project._id}}" class="btn__secondary">Yes I'm Sure</a>
      <span class="closeModal btn__primary">Cancel</span>
    </div>

  </div>

</div>
{{/if}}

{{#if user}}
{{else}}

{{! End of guestScroll }}
</div>


{{! Sign up pop up for users without an account }}
<div class="signUpModal modalBackground">
   <div class="modal-content">

      <div class="form-container-2">
         <div class="modal-header">
            <a href="/" class="topnav__logo">HRYZN</a>
         </div>

         <form method="post" action="/users/login">
            <div class="container">
              <input class="form__input" type="text" placeholder="Enter username" name="username" value="{{username}}" required autocapitalize="none" />
              <input class="form__input" type="password" placeholder="Enter password" name="password" value="{{password}}" required  autocapitalize="none" />
              <button class="form__sign-up-button" name="submit" type="submit">Login</button>
           </div>
         </form>

         <div class="form__href-container">
            <a class ="form__href" href="/users/register">
               Don't have an account? Sign Up
            </a>
         </div>
      </div>

   </div>
</div>

{{/if}}

<script>
// Copy project details link
function copyLink(text) {
   var pawn = document.createElement("input");
   document.body.appendChild(pawn);
   pawn.setAttribute('value', text);
   pawn.select();
   document.execCommand("copy");
   document.body.removeChild(pawn);

   var check = document.querySelectorAll(".check");
   check.forEach(function(i) {
      i.innerHTML = "&check;"
   });
}
</script>
