{{#if errors_2}}
<div class="error__msg-4">
   <p>{{errors_2}}</p>
   <p class="error__exit">&times;</p>
</div>
{{/if}}

<div class="icon-bar">
  <a target="_blank" href="http://www.facebook.com/sharer.php?u={{site_url}}/p/details/{{project._id}}/guest&amp;t={{project.project_title}}" title="Share on Facebook" class="facebook"><i class="fa fa-facebook"></i></a>
  <a target="_blank" href="http://twitter.com/home/?status={{project.project_title}}- {{site_url}}/p/details/{{project._id}}/guest" title="Share on Twitter" class="twitter"><i class="fa fa-twitter"></i></a>
  <a class="check" class="copy-link" onclick="copyLink('{{site_url}}/p/details/{{project._id}}/guest')"><i class="fa fa-link"></i></a>
</div>

{{#if user_is_guest}}
<div class="spacer"></div>
{{/if}}

{{! Displays only on widths > 595px }}
<section class="{{#if project.project_video}}project__top-video{{else}}project__top-section{{/if}} layout__web">
   {{#if project.project_video}}
   <iframe id="projectFrame" src="{{project.project_video}}" frameborder="0" allowfullscreen></iframe>
   {{else}}
   <div class="project__img-container">
      <img class="hero__img" src="http://s3.amazonaws.com/hryzn-app-static-assets/{{project.project_image}}" />
   </div>
   {{/if}}

   <div class="project__details">
      <h1 class="project__title">{{project.project_title}}</h1>

      <div class="project__admins-container">
         {{#each project.admins}}
         <a class="project__admins" href="/profile/{{this}}">{{this}}</a>
         {{/each}}
      </div>

      <div class="icon-bar-responsive">
        <a target="_blank" href="http://www.facebook.com/sharer.php?u={{site_url}}/p/details/{{project._id}}/guest&amp;t={{project.project_title}}" title="Share on Facebook" class="facebook"><i class="fa fa-facebook"></i></a>
        <a target="_blank" href="http://twitter.com/home/?status={{project.project_title}}- {{site_url}}/p/details/{{project._id}}/guest" title="Share on Twitter" class="twitter"><i class="fa fa-twitter"></i></a>
        <a class="check" class="copy-link" onclick="copyLink('{{site_url}}/p/details/{{project._id}}/guest')"><i class="fa fa-link"></i></a>
      </div>

      {{#if project.project_description}}
      <div class="project__description">
         <p>
            {{project.project_description}}
         </p>
      </div>
      {{/if}}

      {{! User visited from outside link }}
      {{#if user_is_guest}}
      {{! Show nothing }}
      {{else}}
         {{#if is_admin_of_project}}
         <div class="row project-admin__container">
            <a class="project-admin__item" href="/p/details/edit/{{project._id}}">Edit</a>
            <a href="/p/details/invite/{{project._id}}"><div class="project-admin__item middle-item">Invite</div></a>
            <div class="modalBtn project-admin__item">Delete</div>
         </div>
         {{else}}
            {{#if user_follows_project}}

            <form method="post" action="/p/details/unfollow/{{project.id}}">
               <input type="hidden" name="username" value="{{user.username}}">
               <input type="hidden" name="project_id" value="{{project.id}}">
               <button class="project__unsave" name="submit" type="submit">Unsave Project</button>
            </form>

            {{else}}

            <form method="post" action="/p/details/{{project.id}}">
               <input type="hidden" name="username" value="{{user.username}}">
               <input type="hidden" name="project_id" value="{{project.id}}">
               <button class="project__save" name="submit" type="submit">Save Project</button>
            </form>

            {{/if}}
         {{/if}}
      {{/if}}
   </div>
</section>
{{! ----- }}

{{! Displays only on widths < 595px }}
<section class="{{#if project.project_video}}project__top-video{{/if}} layout__mobile">

   {{#if project.project_video}}
   <iframe id="projectFrame" src="{{project.project_video}}" frameborder="0" allowfullscreen></iframe>
   {{else}}
   <div class="hero__img-container">
      <img class="hero__img" src="http://s3.amazonaws.com/hryzn-app-static-assets/{{project.project_image}}" />
   </div>
   {{/if}}

   <div class="project-main__container">

      <div class="project__title">
         <div class="row project__info-container">
            <h1 class="project__title">{{project.project_title}}</h1>
         </div>

         {{#each project.admins}}
         <a class="project__admins" href="/profile/{{this}}">{{this}}</a>
         {{/each}}
      </div>

      <div class="icon-bar-responsive">
        <a target="_blank" href="http://www.facebook.com/sharer.php?u={{site_url}}/p/details/{{project._id}}/guest&amp;t={{project.project_title}}" title="Share on Facebook" class="facebook"><i class="fa fa-facebook"></i></a>
        <a target="_blank" href="http://twitter.com/home/?status={{project.project_title}}- {{site_url}}/p/details/{{project._id}}/guest" title="Share on Twitter" class="twitter"><i class="fa fa-twitter"></i></a>
        <a class="check" class="copy-link" onclick="copyLink('{{site_url}}/p/details/{{project._id}}/guest')"><i class="fa fa-link"></i></a>
      </div>

      {{#if project.project_description}}
      <div class="project__description">
         <p>
            {{project.project_description}}
         </p>
      </div>
      {{/if}}

      {{! User visited from outside link }}
      {{#if user_is_guest}}
      {{! Show nothing }}
      {{else}}
         {{#if is_admin_of_project}}
         <div class="row project-admin__container">
            <a class="project-admin__item" href="/p/details/edit/{{project._id}}">Edit</a>
            <a href="/p/details/invite/{{project._id}}"><div class="project-admin__item middle-item">Invite</div></a>
            <div class="modalBtn project-admin__item">Delete</div>
         </div>
         {{else}}
            {{#if user_follows_project}}

            <form method="post" action="/p/details/unfollow/{{project.id}}">
               <input type="hidden" name="username" value="{{user.username}}">
               <input type="hidden" name="project_id" value="{{project.id}}">
               <button class="project__unsave" name="submit" type="submit">Unsave Project</button>
            </form>

            {{else}}

            <form method="post" action="/p/details/{{project.id}}">
               <input type="hidden" name="username" value="{{user.username}}">
               <input type="hidden" name="project_id" value="{{project.id}}">
               <button class="project__save" name="submit" type="submit">Save Project</button>
            </form>

            {{/if}}
         {{/if}}
      {{/if}}
   </div>
</section>
{{! ----- }}

{{! Project Lists }}
{{#if project.lists}}
<section class="lists__container">

   {{#each project.lists}}
      {{#if list_items}}

      <div class="list-card">
         {{#if list_title}}
         <div class="list__list-items">
            <p class="list-title">{{list_title}}</p>
         </div>
         {{else}}
         <div class="list__list-items">
            <div class="mini-spacer"></div>
         </div>
         {{/if}}
         {{#each list_items}}
         <div class="list__list-items">
            <p class="list-dot">&middot;</p>
            <p class="list-item">{{this}}</p>
         </div>
         {{/each}}
      </div>

      {{/if}}
   {{/each}}

</section>
{{/if}}
{{! ----- }}

<section class="project__bottom-section">
   {{#if project.project_notes}}
   <div class="detail-project_notes">
      {{{project.project_notes}}}
   </div>
   {{/if}}
</section>

{{#if is_admin_of_project}}
{{! Hidden Delete Modal }}
<div class="popModal modalBackground">
  <div class="modal-content">
    <div class="modal-header">
      <p>Are You Sure?</p>
    </div>
    <div class="modal-body">
      <p>Deleting this is permanent and cannot be undone.
    </div>
    <div class="modal-footer">
      <a href="/p/details/delete/{{project._id}}" class="btn__secondary">Yes I'm Sure</a>
      <span class="closeModal btn__primary">Cancel</span>
    </div>
  </div>
</div>
{{/if}}

<script>
// Copy project details link
function copyLink(text) {
   var pawn = document.createElement("input");
   document.body.appendChild(pawn);
   pawn.setAttribute('value', text);
   pawn.select();
   document.execCommand("copy");
   document.body.removeChild(pawn);

   var check = document.querySelectorAll(".check");
   check.forEach(function(i) {
      i.innerHTML = "&check;"
   });
}
</script>
