<div class="create_loader loader_overlay">
   <div class="loader_wrapper">
      <div class="loader"></div>
   </div>
</div>

{{#if is_admin_of_project}}

<div class="hero__img-container">
   <img class="hero__img" src="https://s3.amazonaws.com/hryzn-app-static-assets/{{project.project_image}}" />
   <div class="hero__overlay"></div>
</div>


{{#if errors_2}}
{{#each errors_2}}

<div class="error__msg-3">
   <p>{{msg}}</p>
   <p class="error__exit">&times;</p>
</div>

{{/each}}
{{/if}}


{{! Project Form }}
<form id="createProjectForm" method="post" class="edit-project-form" action="/p/details/edit/{{project._id}}" enctype="multipart/form-data">


   {{! Public or Private checkbox }}
   <div class="checkbox__wrapper">
      <label class="check__container">
         <input id="isPrivateCheck" class="form__input-checkbox editGroup {{#if project.is_private}}checked{{/if}}" type="checkbox">
         <span class="checkmark">Private Project</span>
      </label>
      <label class="check__container">
         <input id="isPublicCheck" class="form__input-checkbox editGroup {{#if project.is_private}}{{else}}checked{{/if}}" type="checkbox" checked>
         <span class="checkmark">Public Project</span>
      </label>
   </div>
   <br />
   <p class="form__input-small" id="changeText">A public project can be viewed by anyone</p>
   <input id="checkbox" type="hidden" name="is_private" value="{{project.is_private}}" />


   {{! Project Title }}
   <label for="project_title" class="form__label" style="margin-top: 25px;">Project Title</label>
   <input class="form__input" type="text" placeholder="Enter project title" name="project_title" value="{{project.project_title}}" autocapitalize="none" />


   {{! Project Image }}
   <label for="project_image" class="form__label">Change Project Image</label>
   <input class="form__input" type="file" name="project_image" value="{{project.project_image}}" />


   {{! Project Video }}
   <label for="project_video" class="form__label" style="margin-top: 25px;">Change Project Video</label>
   <input class="form__input" type="text" placeholder="Enter a Youtube or Vimeo link" name="project_video" value="{{project.project_video}}" />


   {{! Project Categories }}
   <label for="project_categories" class="form__label" style="margin-top: 25px;">Change Project Categories</label>
   <select data-placeholder="Change categories..." multiple class="chosen-select form__input" name="project_categories[]">
      <option value=""></option>
      <option>Animals</option>
      <option>Architecture</option>
      <option>Art</option>
      <option>Cars & Motorcycles</option>
      <option>Celebrities</option>
      <option>DIY & Crafts</option>
      <option>Design</option>
      <option>Education</option>
      <option>Film, Music & Books</option>
      <option>Finance</option>
      <option>Food & Drink</option>
      <option>Gardening</option>
      <option>Geek</option>
      <option>Hair & Beauty</option>
      <option>Health & Fitness</option>
      <option>History</option>
      <option>Holidays & Events</option>
      <option>Home Decor</option>
      <option>Humor</option>
      <option>Illustrations & Posters</option>
      <option>Kids</option>
      <option>Men’s Fashion</option>
      <option>Outdoors</option>
      <option>Photography</option>
      <option>Products</option>
      <option>Quotes</option>
      <option>Science & Nature</option>
      <option>Sports</option>
      <option>Tattoos</option>
      <option>Technology</option>
      <option>Travel</option>
      <option>Weddings</option>
      <option>Women’s Fashion</option>
      <option>Other</option>
   </select>


   {{! Project URL }}
   <label for="project_url" class="form__label" style="margin-top: 25px;">Add a link</label>
   <input class="form__input" type="text" placeholder="Enter a link" name="project_url" value="{{project.project_url}}" />


   {{! Project Description }}
   <label for="project_description" class="form__label" style="margin-top: 25px;">Write a Description</label>
   <textarea class="project-description__input" type="text" name="project_description" value="{{project.project_description}}">{{project.project_description}}</textarea>


   {{! Project Notes }}
   <div id="editor" name="editor"  placeholder="Hi {{user.username}}, here's a notepad to write some extra stuff down. You have up to 1000 words, have fun!"></div>
   <input id="projectNotes" name="project_notes" type="hidden">


   <input type="hidden" name="user_id" value="{{user._id}}">
   <p id="wordCount"></p>


   {{! Submit }}
   <button class="form_submit_btn draft_btn project_submit edit-project__form-btn" name="submit" type="submit">Save</button>


</form>

<p class="go-back back-btn" style="margin-top: 50px;">Cancel</p>

<!-- Loader Balls -->
<div id="autoLoader" class="loader_project">
   <div class='loader-container'>
      <div class='ball-wrapper'>
         <div class='ball-holder'>
            <div class='ball'></div>
         </div>
         <div class='shadow'></div>
      </div>

      <div class='ball-wrapper'>
         <div class='ball-holder'>
            <div class='ball'></div>
         </div>
         <div class='shadow'></div>
      </div>

      <div class='ball-wrapper'>
         <div class='ball-holder'>
            <div class='ball'></div>
         </div>
         <div class='shadow'></div>
      </div>
      <p id="autoText" class="loader_text">Thank you, please wait the computer is doing its thing.</p>
   </div>
</div>
{{/if}}
