<form method="post" class="edit-project-form" action="/p/create-project" enctype="multipart/form-data">
   <div class="form__container">


      {{! Public or Private }}
      <div class="checkbox__wrapper">
         <label class="check__container">
            <input id="isPrivateCheck" class="form__input-checkbox" type="checkbox">
            <span class="checkmark">Private Project</span>
         </label>
         <label class="check__container">
            <input id="isPublicCheck" class="form__input-checkbox checked" type="checkbox" checked>
            <span class="checkmark">Public Project</span>
         </label>
      </div>
      <br />
      <p class="form__input-small" id="changeText">A public project can be viewed by anyone</p>


      {{! Project Title }}
      <label for="project_title" class="form__label" style="margin-top: 25px;">Project Title</label>
      <input class="form__input" type="text" placeholder="Enter project title" name="project_title" value="{{project.project_title}}" required autocapitalize="none" />


      {{! Project Image }}
      <label for="project_image" class="form__label">Add Project Image</label>
      <input class="form__input" type="file" name="project_image" value="{{project.project_image}}" />


      {{! Project Video }}
      <label for="project_video" class="form__label" style="margin-top: 25px;">Add Project Video</label>
      <input class="form__input" type="text" placeholder="Enter a Youtube or Vimeo link" name="project_video" value="{{project.project_video}}" />


      {{! Project Description }}
      <label for="project_description" class="form__label" style="margin-top: 25px;">Write a Description</label>
      <textarea class="project-description__input" type="text" name="project_description" value="{{project.project_description}}">{{project.project_description}}</textarea>


      {{! Project Notes }}
      <div id="editor" name="editor"  placeholder="Hi {{user.username}}, you have 1000 words. Have fun!"></div>
      <input id="projectNotes" name="project_notes" type="hidden">


      <input type="hidden" name="user_id" value="{{user._id}}">
      <p id="wordCount"></p>

      <input id="checkbox" type="hidden" name="is_private" value="false">
      <input type="hidden" name="admin" value="{{user.username}}">
      <input type="hidden" name="id" value="{{user._id}}">
      <button class="form__sign-up-button" name="submit" type="submit">Create</button>
  </div>
</form>
