<div class="create_loader loader_overlay">
   <div class="loader_wrapper">
      <div class="loader"></div>
   </div>
</div>

<form id="createProjectForm" method="post" class="edit-project-form" action="/p/create-project" enctype="multipart/form-data">
   <div class="form__container">

      <div class="modalBtnMeta project_meta_btn">
         <img src="/icons/settings-black.png" class="main-topnav__icon" />
      </div>


      {{! Project Title }}
      <input class="form__input project_title_input" type="text" placeholder="Enter a title" name="project_title" value="{{project.project_title}}" autocapitalize="none" />


      {{! Project Notes }}
      <div id="editor" name="editor"  placeholder="Hi {{user.username}}, you have 1000 words. Have fun!"></div>
      <input id="projectNotes" name="project_notes" type="hidden">


      <input type="hidden" name="user_id" value="{{user._id}}">
      <p id="wordCount"></p>

      <input id="checkbox" type="hidden" name="is_private" value="false">
      <input type="hidden" name="admin" value="{{user.username}}">
      <input type="hidden" name="id" value="{{user._id}}">
      <div class="create_btns">
         <button class="form__sign-up-button project_submit edit-project__form-btn" name="submit" type="submit">Create</button>
         <button class="form__sign-up-button save_as_draft_btn draft_btn project_submit edit-project__form-btn" name="submit" type="submit">Save as Draft</button>
      </div>
  </div>

  {{! Project Meta Modal }}
  <div class="popModalMeta modalBackground">
     <div class="modal-content">

        {{#if error_msg}}
        <div class="error__msg-3">
           <p>{{error_msg}}</p>
           <p class="error__exit">&times;</p>
        </div>
        {{/if}}

        {{#if errors}}
           {{#each errors}}
              <div class="error__msg-3">
                 <p>{{msg}}</p>
                 <p class="error__exit">&times;</p>
              </div>
           {{/each}}
        {{/if}}

        {{! Public or Private }}
        <div class="checkbox__wrapper">
           <label class="check__container">
              <input id="isPrivateCheck" class="form__input-checkbox" type="checkbox">
              <span class="checkmark">Private Project</span>
           </label>
           <label class="check__container">
              <input id="isPublicCheck" class="form__input-checkbox checked" type="checkbox" checked>
              <span class="checkmark">Public Project</span>
           </label>
        </div>
        <br />
        <p class="form__input-small" id="changeText">A public project can be viewed by anyone</p>


        {{! Project Image }}
        <label for="project_image" class="form__label">Add Project Image <span style="color: #999; font-size: 10px; margin-left: 8px;">* Required *</span></label>
        <input class="form__input" type="file" name="project_image" value="{{project.project_image}}" />

        {{! Post To }}
        <label for="post_to" class="form__label" style="margin-top: 25px;">Post To <span style="color: #999; font-size: 10px; margin-left: 8px;">( Optional )</span></label>
        <select data-placeholder="Post to..." class="chosen-select form__input" name="post_to">
           <option value=""></option>
           <option value="followers">Followers</option>
           {{#each user.groups}}
           <option value="{{this.group_id}}">Your Group "{{this.group_name}}"</option>
           {{/each}}
        </select>

        {{! Project Video }}
        <label for="project_video" class="form__label" style="margin-top: 25px;">Add Project Video <span style="color: #999; font-size: 10px; margin-left: 8px;">( Optional )</span></label>
        <input class="form__input" type="text" placeholder="Enter a Youtube or Vimeo link" name="project_video" value="{{project.project_video}}" />


        {{! Project Categories }}
        <label for="project_categories" class="form__label" style="margin-top: 25px;">Add Project Categories <span style="color: #999; font-size: 10px; margin-left: 8px;">( Optional )</span></label>
        <select data-placeholder="Add categories..." multiple class="chosen-select form__input" name="project_categories[]">
           <option value=""></option>
           <option>Animals</option>
           <option>Architecture</option>
           <option>Art</option>
           <option>Cars & Motorcycles</option>
           <option>Celebrities</option>
           <option>DIY & Crafts</option>
           <option>Design</option>
           <option>Education</option>
           <option>Film, Music & Books</option>
           <option>Finance</option>
           <option>Food & Drink</option>
           <option>Gardening</option>
           <option>Geek</option>
           <option>Hair & Beauty</option>
           <option>Health & Fitness</option>
           <option>History</option>
           <option>Holidays & Events</option>
           <option>Home Decor</option>
           <option>Humor</option>
           <option>Illustrations & Posters</option>
           <option>Kids</option>
           <option>Men’s Fashion</option>
           <option>Outdoors</option>
           <option>Photography</option>
           <option>Products</option>
           <option>Quotes</option>
           <option>Science & Nature</option>
           <option>Sports</option>
           <option>Tattoos</option>
           <option>Technology</option>
           <option>Travel</option>
           <option>Weddings</option>
           <option>Women’s Fashion</option>
           <option>Other</option>
        </select>


        {{! Project URL }}
        <label for="project_url" class="form__label" style="margin-top: 25px;">Add a link <span style="color: #999; font-size: 10px; margin-left: 8px;">( Optional )</span></label>
        <input class="form__input" type="text" placeholder="Enter a link" name="project_url" value="{{project.project_url}}" />


        {{! Project Description }}
        <label for="project_description" class="form__label" style="margin-top: 25px;">Write a Description <span style="color: #999; font-size: 10px; margin-left: 8px;">( Optional )</span></label>
        <textarea class="project-description__input" type="text" name="project_description" value="{{project.project_description}}">{{project.project_description}}</textarea>


        <div class="modal-footer">
           <span class="closeModalMeta btn__primary">Done</span>
        </div>

     </div>

  </div>
</form>
<p class="go-back back-btn" style="margin-top: 50px;">Cancel</p>

<!-- Loader Balls -->
<div id="autoLoader" class="loader_project">
   <div class='loader-container'>
      <div class='ball-wrapper'>
         <div class='ball-holder'>
            <div class='ball'></div>
         </div>
         <div class='shadow'></div>
      </div>

      <div class='ball-wrapper'>
         <div class='ball-holder'>
            <div class='ball'></div>
         </div>
         <div class='shadow'></div>
      </div>

      <div class='ball-wrapper'>
         <div class='ball-holder'>
            <div class='ball'></div>
         </div>
         <div class='shadow'></div>
      </div>
      <p id="autoText" class="loader_text">Thank you, please wait the computer is doing its thing.</p>
   </div>
</div>
