{{#if group}}
<form method="post" class="edit-project-form" action="/groups/edit/{{group._id}}" enctype="multipart/form-data">
   {{! Public or Private }}
   <div class="checkbox__wrapper">
      <label class="check__container">
         <input id="isPrivateCheck" class="form__input-checkbox editGroup {{#if group.is_private}}checked{{/if}}" type="checkbox">
         <span class="checkmark">Private Group</span>
      </label>
      <label class="check__container">
         <input id="isPublicCheck" class="form__input-checkbox editGroup {{#if group.is_private}}{{else}}checked{{/if}}" type="checkbox" checked>
         <span class="checkmark">Public Group</span>
      </label>
   </div>
   <br />
   <input id="checkbox" type="hidden" name="is_private" value="false">

   {{! Group Name }}
   <label for="group_name" class="form__label" style="margin-top: 25px;">Group Name <span style="color: #999; font-size: 10px; margin-left: 8px;">* Required *</span></label>
   <input class="form__input" type="text" placeholder="Let's name the group" name="group_name" value="{{group.group_name}}" required />

   {{! Group Image }}
   <label for="group_image" class="form__label">Change Image <span style="color: #999; font-size: 10px; margin-left: 8px;">( Optional )</span></label>
   <input class="form__input" type="file" name="group_image" value="{{group.group_image}}" />

   {{! Group Categories }}
   <label for="group_categories" class="form__label" style="margin-top: 25px;">Change Categories <span style="color: #999; font-size: 10px; margin-left: 8px;">( Optional )</span></label>
   <select data-placeholder="Change categories..." multiple class="chosen-select form__input" name="group_categories[]">
      <option value=""></option>
      {{#each categories}}
      <option>{{this.category}}</option>
      {{/each}}
   </select>

   <input type="hidden" name="user" value="{{user.username}}">
   <input type="hidden" name="id" value="{{user._id}}">

   <div class="modal-footer">
      <input id="microSubmit" type="submit" class="btn__secondary micro_submit" value="Submit" />
   </div>
</form>

<p class="go-back back-btn" style="margin-top: 50px;">Cancel</p>
{{/if}}
