<style>
#mainWelcome {
   padding: 0;
}
</style>
<div class="creatives">

 <header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
     <!--Banner Content-->
     <div id="banner-content">

         <div class="creatives_col-38">

             <div class="section-heading">
                 <h1>Turn Your Passion Into A Business.</h1>
                 <h2>Make money doing what you love and monetize your creativity on Hryzn.</h2>
             </div>

             <!--Call to Action-->
             {{#if user}}

             <a href="#pricing" class="setup_btn">Become A Creator</a>

             {{else}}

             <a href="#pricing" class="setup_btn">Become A Creator</a>

               <!-- {{#if errors}}
                  {{#each errors}}
                        <p style="color: #EB3656; font-weight: bold;">{{msg}}</p>
                  {{/each}}
               {{else}}
               {{#if error_msg}}
               <p style="color: #EB3656; font-weight: bold;">{{error_msg}}</p>
               {{/if}}
               {{/if}}
               {{#if thanks}}
               <h2 class="section-title">Thank you!</h2>
              {{else}}
               <form method="post" action="/creatives/early">
                  <input type="email" name="top_email" class="banner-input" placeholder="Enter your email for early insider access." required/>
                   <input type="submit" class="button" value="ENTER"/>
               </form>
               {{/if}} -->

             {{/if}}
             <!--End Call to Action-->

         </div>

     </div><!--End of Row-->
 </header>

 <!--Main Content Area-->
 <main id="content">

     <!--Introduction-->
     <section id="about" class="introduction scrollto">

         <div class="row clearfix">

             <div class="creatives_col-3">
                 <div class="section-heading">
                     <h3>YOUR SUCCESS</h3>
                     <h2 class="section-title">How Creatives Succeed With Hryzn</h2>
                     <p class="section-subtitle">
                        Hryzn is a blogging and social networking service where communities can share and connect through niche topics. Users can create personal sites to share media, customize their pages, and monetize their passion.
                     </p>
                 </div>

             </div>

             <div class="creatives_col-2-3">

                 <!--Icon Block-->
                 <div class="creatives_col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                     <!--Icon-->
                     <div class="icon">
                         <i class="fa fa-users fa-2x"></i>
                     </div>
                     <!--Icon Block Description-->
                     <div class="icon-block-description">
                         <h4>Your Community</h4>
                         <p>Join a hub of niches where your interests connect you with your community.</p>
                     </div>
                 </div>
                 <!--End of Icon Block-->

                 <!--Icon Block-->
                 <div class="creatives_col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                     <!--Icon-->
                     <div class="icon">
                         <i class="fa fa-bolt fa-2x"></i>
                     </div>
                     <!--Icon Block Description-->
                     <div class="icon-block-description">
                         <h4>Site Integrations</h4>
                         <p>Connect your exisiting platforms and integrate your business without skipping a beat.
                         </p>
                     </div>
                 </div>
                 <!--End of Icon Block-->

                 <!--Icon Block-->
                 <div class="creatives_col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                     <!--Icon-->
                     <div class="icon">
                         <i class="fa fa-tablet fa-2x"></i>
                     </div>
                     <!--Icon Block Description-->
                     <div class="icon-block-description">
                         <h4>Democratized Platform</h4>
                         <p>We give everyone a fair chance at success by decentralizing control, putting the power back into the people’s hands.</p>
                     </div>
                 </div>
                 <!--End of Icon Block-->

                 <!--Icon Block-->
                 <div class="creatives_col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                     <!--Icon-->
                     <div class="icon">
                         <i class="fa fa-dollar fa-2x"></i>
                     </div>
                     <!--Icon Block Description-->
                     <div class="icon-block-description">
                         <h4>Monetize Content</h4>
                         <p>Make an income doing what you love by utilizing our many ways to monetize your creativity.</p>
                     </div>
                 </div>
                 <!--End of Icon Block-->

             </div>

         </div>


     </section>
     <!--End of Introduction-->


     <!--Content Section-->
     <div id="services" class="scrollto clearfix">

         <div class="row no-padding-bottom clearfix">

             <!--Content of the Right Side-->
             <div class="creatives_col-2">
                 <div class="section-heading">
                     <h3>YOUR FOCUS</h3>
                     <h2 class="section-title">Focusing On What Matters Most</h2>
                     <p class="section-subtitle">
                        Hryzn is a place to connect with your people and take the step further into your business. If you're passionate about something, chances are your people are on Hryzn.
                        You can sell products or premium content such as limited editions or early releases. Also, you can collect tips and setup a recurring income stream with subscriptions.
                        Best part is that your posts rank for our search engine, so you pop up for what people are searching for.
                     </p>
                 </div>

                 {{#if user}}
                 <a href="#pricing" class="smoothscroll button">
                     START CREATING
                 </a>
                 {{else}}
                 <a href="#email" class="smoothscroll button">
                     START CREATING
                 </a>
                 {{/if}}
             </div>
             <!--End Content Right Side-->

             <div class="creatives_col-2 content-right-img">
                 <img src="/img/welcome/creatives-col-1.jpg" />
             </div>

         </div>


     </div>
     <!--End of Content Section-->

     <!--Testimonials-->
     <aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

         <div class="row clearfix">

             <div class="section-heading">
                 <h3>YOUR SOLUTION</h3>
                 <h2 class="section-title">What We Aim To Solve</h2>
             </div>

             <!--User Testimonial-->
             <blockquote class="creatives_col-3 testimonial classic">
                 <q>I wish there were more companies creating unique ways for me to find and engage with fans.</q>
             </blockquote>
             <!-- End of Testimonial-->

             <!--User Testimonial-->
             <blockquote class="creatives_col-3 testimonial classic">
                 <q>I'm looking for interesting ways to monetize my audience but I don't want to feel like a sellout. Cameo and Onlyfans are not for me.</q>
             </blockquote>
             <!-- End of Testimonial-->

             <!--User Testimonial-->
             <blockquote class="creatives_col-3 testimonial classic">
                 <q>Everybody seems to be making money but me, I don't know what else to do I feel hopeless.</q>
             </blockquote>
             <!-- End of Testimonial-->

         </div>

     </aside>
     <!--End of Testimonials-->

     <!--Clients-->
     <section id="clients" class="scrollto clearfix">
         <div class="row clearfix">

             <div class="creatives_col-2">

                 <div class="section-heading">
                     <h3>YOUR PEOPLE</h3>
                     <h2 class="section-title">Who Uses Hryzn</h2>
                     <p class="section-subtitle">
                        Hryzn is a platform for all types of creatives. It is a hub of niches that houses many different types of communities.
                        You can discover what you love and have your interests truly connect you with your people.
                     </p>
                 </div>

             </div>

             <div class="creatives_col-2">

                 <a  class="creatives_col-3">
                     <img src="/img/welcome/speech.png"/>
                     <div class="client-overlay"><span>Podcasts</span></div>
                 </a>
                 <a  class="creatives_col-3">
                     <img src="/img/welcome/video-camera.png"/>
                     <div class="client-overlay"><span>Videographers</span></div>
                 </a>
                 <a  class="creatives_col-3">
                     <img src="/img/welcome/paintbrush.png"/>
                     <div class="client-overlay"><span>Visual Artists</span></div>
                 </a>
                 <a  class="creatives_col-3">
                     <img src="/img/welcome/bass-guitar.png"/>
                     <div class="client-overlay"><span>Musicians</span></div>
                 </a>
                 <a  class="creatives_col-3">
                     <img src="/img/welcome/multiple-users-silhouette.png"/>
                     <div class="client-overlay"><span>Communities</span></div>
                 </a>
                 <a  class="creatives_col-3">
                     <img src="/img/welcome/writing.png"/>
                     <div class="client-overlay"><span>Writers</span></div>
                 </a>
                 <a  class="creatives_col-3">
                     <img src="/img/welcome/gamepad.png"/>
                     <div class="client-overlay"><span>Gamers</span></div>
                 </a>
                 <a  class="creatives_col-3">
                     <img src="/img/welcome/online-learning.png"/>
                     <div class="client-overlay"><span>Online Learning</span></div>
                 </a>

                 <a  class="creatives_col-3">
                     <img src="/img/welcome/influencer.png"/>
                     <div class="client-overlay"><span>Influencers</span></div>
                 </a>

             </div>

         </div>
     </section>
     <!--End of Clients-->

     <!--Pricing Tables-->
     <section id="pricing" class="secondary-color text-center scrollto clearfix " style="background: #f1f1f1;">
         <div class="row clearfix">

             <div class="section-heading">
                 <h3>YOUR CHOICE</h3>
                 <h2 class="section-title">More value, Less cost</h2>
             </div>

             <!--Pricing Block-->
             <div class="pricing-block creatives_col-3 wow fadeInUp" data-wow-delay="0.4s">
                 <div class="pricing-block-content">
                     <h3>Personal</h3>
                     <p class="pricing-sub">I like extra cash in my pocket</p>
                     <div class="pricing">
                         <div class="price"><span>%</span>14</div>
                         <p>For those who want a little extra.</p>
                         <p style="font-size: 12px;">Of monthly income</p>
                     </div>
                     <ul>
                         <li>Collect ad revenue</li>
                         <li>Recieve tips</li>
                     </ul>
                     {{#if premium_creator_account}}
                     <a class="button" href="/dashboard">Go To Dashboard</a>
                     {{else}}
                     <a class="button" {{#if user}}id="checkout-1"{{else}}href="/users/register?creator=true"{{/if}}>Start Today</a>
                     {{/if}}
                     {{#if user}}
                     <p style="font-size: 12px; line-height: 15px;">
                       &#42; This is an entirely free membership to upgrade to a creator personal account. It is necessary for us to
                       collect card information in order to payout what is owed to you.
                     </p>
                     {{/if}}
                 </div>
             </div>
             <!--End Pricing Block-->

             <!--Pricing Block-->
             <div class="pricing-block featured creatives_col-3 wow fadeInUp" data-wow-delay="0.6s">
                 <div class="pricing-block-content pop-block">
                     <h3>Hobby</h3>
                     <p class="pricing-sub">The most bang for your buck</p>
                     <div class="pricing">
                         <div class="price"><span>$</span>12 + 10%</div>
                         <p>For those serious about their craft.</p>
                         <p style="font-size: 12px;">Of monthly income</p>
                     </div>
                     <ul>
                        <li><strong>Everything in personal and...</strong></li>
                        <li>Sell premium content</li>
                        <li>Offer recurring subscription</li>
                     </ul>
                     {{#if premium_creator_account}}
                     <a class="button" href="/dashboard">Go To Dashboard</a>
                     {{else}}
                     <a class="button" {{#if user}}id="checkout-2"{{else}}href="/users/register?creator=true"{{/if}}>Start Today</a>
                     {{/if}}
                 </div>
             </div>
             <!--End Pricing Block-->

             <!--Pricing Block-->
             <div class="pricing-block creatives_col-3 wow fadeInUp" data-wow-delay="0.8s">
                 <div class="pricing-block-content">
                     <h3>Business</h3>
                     <p class="pricing-sub">Your future is in your hands</p>
                     <div class="pricing">
                         <div class="price"><span>$</span>20 + 6%</div>
                         <p>For those who aren't looking back.</p>
                         <p style="font-size: 12px;">Monthly</p>
                     </div>
                     <ul>
                        <li><strong>Everything in hobby and...</strong></li>
                        <li>Sell or affiliate products</li>
                     </ul>
                     {{#if premium_creator_account}}
                     <a class="button" href="/dashboard">Go To Dashboard</a>
                     {{else}}
                     <a class="button" {{#if user}}id="checkout-3"{{else}}href="/users/register?creator=true"{{/if}}>Start Today</a>
                     {{/if}}
                 </div>
             </div>
             <!--End Pricing Block-->

         </div>
     </section>
     <!--End of Pricing Tables-->

     <!--Call to Action-->
     <div id="email" class="bottom-cta">
       {{#if user}}

       <h2 class="section-title">Make money doing what you love today!</h2>

       {{else}}

       <h2 class="section-title">Make money doing what you love today!</h2>

         <!-- <h2 class="section-title">Get early insider access and additional benefits</h2>
         {{#if thanks}}
          <h2 class="section-title">Thank you!</h2>
         {{else}}
          <form method="post" action="/creatives/early">
            <input name="bottom_email" type="email" class="banner-input" placeholder="Enter your email for early insider access." required/>
            <input type="submit" class="button" value="ENTER" style="margin-top: 25px;" />
         </form>
         {{/if}} -->

        {{/if}}
     </div>
     <!--End Call to Action-->

 </main>
 <!--End Main Content Area-->


</div>
