{{! Water Loader }}
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="display: none;">
  <symbol id="wave">
    <path d="M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z"></path>
    <path d="M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z"></path>
    <path d="M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z"></path>
    <path d="M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z"></path>
  </symbol>
</svg>
<div class="loader_overlay">
   <div class="loader_wrapper">
      <div class="box">
        <div id="water" class="water">
          <svg viewBox="0 0 560 20" class="water_wave water_wave_back">
            <use xlink:href="#wave"></use>
          </svg>
          <svg viewBox="0 0 560 20" class="water_wave water_wave_front">
            <use xlink:href="#wave"></use>
          </svg>
        </div>
      </div>
      <p class="loader_text loader_text-1">Our robots are looking for the cool stuff.</p>
      <p class="loader_text loader_text-2">I hope you're having a nice day.</p>
      <p class="loader_text loader_text-3">Soon the computers will just take over.</p>
      <p class="loader_text loader_text-4">The things are doing the stuff.</p>
      <p class="loader_text loader_text-5">Your hair looks pretty.</p>
   </div>
</div>
{{! /Water Loader }}

<div id="flashMsg"></div>

{{#if projects}}
{{else}}
<div class="feed__container">
   <div class="feed__container-text">
      <h1 class="main__title">{{greeting}} {{user.username}},</h1>
      <p class="main__info feed__text">We see you're not following anyone, <a href="/explore"><strong>let's go explore.</strong></a></p>
   </div>
</div>
{{/if}}

<div class="explore_main index_feed_container">

   <div class="profile_index_feed">
      <div class="profile_index_info" style="background-image: url('https://ik.imagekit.io/w07am55tja/{{#if user.backgroundimage}}{{user.backgroundimage}}{{else}}hryzn-placeholder-01.jpg{{/if}}?tr=w-600')">
         <a href="/profile/{{user.username}}" class="profile_index_info_wrapper">
            <div class="profile_index_img_container">
               <img class="profile__img" src="https://ik.imagekit.io/w07am55tja/{{#if user.profileimage}}{{user.profileimage}}{{else}}hryzn-placeholder-01.jpg{{/if}}?tr=w-600" />
            </div>
            @{{user.username}}
         </a>
         <div class="bg_overlay"></div>
      </div>

      <div class="profile_index_sub_info_container">
         {{#if user.firstname}}{{else}}<a href="/settings"><div class="profile_missing_info_wrapper"><div class="missing_info_btn"><img class="topnav__icon" src="/icons/add-white.png" /></div><p class="profile_missing_info">Missing first name</p></div></a>{{/if}}
         {{#if user.lastname}}{{else}}<a href="/settings"><div class="profile_missing_info_wrapper"><div class="missing_info_btn"><img class="topnav__icon" src="/icons/add-white.png" /></div><p class="profile_missing_info">Missing last name</p></div></a>{{/if}}
         {{#if user.bio}}{{else}}<a href="/settings"><div class="profile_missing_info_wrapper"><div class="missing_info_btn"><img class="topnav__icon" src="/icons/add-white.png" /></div><p class="profile_missing_info">Missing bio</p></div></a>{{/if}}
         {{#if user.profileimage}}{{else}}<a href="/settings"><div class="profile_missing_info_wrapper"><div class="missing_info_btn"><img class="topnav__icon" src="/icons/add-white.png" /></div><p class="profile_missing_info">Missing profile image</p></div></a>{{/if}}
         {{#if user.backgroundimage}}{{else}}<a href="/settings"><div class="profile_missing_info_wrapper"><div class="missing_info_btn"><img class="topnav__icon" src="/icons/add-white.png" /></div><p class="profile_missing_info">Missing background header</p></div></a>{{/if}}
         {{#if user.music_link}}{{else}}<a href="/settings"><div class="profile_missing_info_wrapper"><div class="missing_info_btn"><img class="topnav__icon" src="/icons/add-white.png" /></div><p class="profile_missing_info">Missing favorite song</p></div></a>{{/if}}
      </div>

      <!-- {{#if user.interests}}
      <div class="profile_index_interests_container">
         {{#each user.interests}}
         <a href="/explore/{{this}}">{{this}}</a>
         {{/each}}
      </div>
      {{/if}} -->

      <div class="profile_index_sub_info_container">
         <a href="/p/create-project" class="profile_index_link"><img class="topnav__icon" src="/icons/create-icon.png" />Create</a>
         <a href="/explore" class="profile_index_link"><img class="topnav__icon" src="/icons/explore-black.png" />Explore</a>
         <a href="/messages" class="profile_index_link"><img class="topnav__icon" src="/icons/messages-envelope.png" />Messages</a>
         <a href="/groups" class="profile_index_link"><img class="topnav__icon" src="/icons/group-black.png" />Groups</a>

         <div class="semi-spacer"></div>

         <a href="/settings" class="profile_index_link">Settings</a>
         <a href="/blog/hryzn-tutorial---site-walk-through" class="profile_index_link">Help</a>
      </div>

   </div>

   <div class="following_index_feed">

   {{#if groups}}
      <section class="explore_groups_container">
         <div class="group_wrapper">
            {{#each groups}}
            {{#if this.is_private}}
            {{else}}
               <a href="/groups/{{this._id}}" class="group_bg" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('https://ik.imagekit.io/w07am55tja/{{this.group_image}}?tr=w-300')">
                  {{this.group_name}}
               </a>
            {{/if}}
            {{/each}}
         </div>
      </section>
   {{/if}}

   {{#if projects}}



   {{!---------- Index Feed ----------}}



   <div class="index_feed">

     <!-- <p class="top_results">{{greeting}} {{user.username}}</p>
     <hr class="top_results_underline" /> -->

      {{#each projects}}

         {{#if this.is_private}}
         {{! Check if the project is a private project, we do not want to show private projects }}
         {{else}}

            {{#if is_micro_post}}

            {{#if posted_to_group}}
               {{#each posted_to_group}}
                  {{#ifEquals this.group_is_private "true"}}
                     {{! Don't show projects in private groups }}
                  {{else}}
                  <div class="masonryItem ownProject" title="{{../project_title}}" >
                     <div class="project_avatar_left">
                        <a href="/profile/{{../project_owner}}">
                           <img class="project_avatar_img" src="https://ik.imagekit.io/w07am55tja/{{../project_owner_profile_image}}?tr=w-75" />
                        </a>
                     </div>

                     <div class="project_content_right">
                        <div style="flex-direction: row; justify-content: space-between; align-items: flex-start;">
                           <a class="micro_tag {{#if ../project_title}}micro_tag_w_title{{/if}}" href="/profile/{{../project_owner}}">@{{../project_owner}}</a>
                           {{#if ../private_collection_name}}<span style="margin-left: 15px;color: #555; font-weight: bold; font-size: 12px;">"{{../private_collection_name}}" (Private)</span>{{/if}}
                        </div>
                        <div class="micropost">
                           <div class="micropost_card {{#if ../micro_image}}card_is_micro_image{{else}}{{#if ../micro_audio}}card_is_micro_audio{{else}}{{#if ../micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                              <a href="/p/micro/{{../_id}}">
                                 {{#if ../project_title}}<p class="micro_title">{{../project_title}}</p>{{/if}}
                                 {{#if ../micro_body}}<p class="micro_body">{{{../micro_body}}}</p>{{/if}}
                              </a>

                              <a href="/p/micro/{{../_id}}">
                                 {{#if ../micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{../micro_image}}?tr=w-650" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                 {{#if ../micro_video}}
                                 <video  preload="auto" controls controlsList="nodownload" class="micro_video">
                                    <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_video}}" type="video/mp4">
                                    <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_video}}" type="video/ogg">
                                    <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_video}}" type="video/webm">
                                    Your browser does not support the video tag.
                                 </video>
                                 {{/if}}
                                 {{#if ../micro_audio}}
                                 {{#if ../thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{../thumbnail_image}}?tr=w-650" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                 <audio controls controlsList="nodownload" class="micro_audio">
                                    <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_audio}}" type="audio/ogg">
                                    <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_audio}}" type="audio/mpeg">
                                    <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_audio}}" type="audio/wav">
                                     Your browser does not support the audio element.
                                 </audio>
                                 {{/if}}
                              </a>
                           </div>
                           <div class="micro_action_btns">
                              {{#if ../../user}}
                                 {{#if ../../user_liked}}

                                 {{! Like / Unlike Project }}

                                 <div title="unlike">
                                    <input type="hidden" name="action" value="/p/details/micro/like/{{../_id}}">
                                    <input type="hidden" name="username" value="{{../../user.username}}">
                                    <input type="hidden" name="project_id" value="{{../_id}}">
                                    <input type="hidden" name="project_owner" value="{{../project_owner}}">
                                    <input type="hidden" name="og_path" value="" class="og_path"/>
                                    <button class="project_action_btn btn_p_submit" name="submit" type="submit">
                                       <a><i style="font-weight: bold" class="fa fa-heart"></i></a>
                                    </button>
                                 </div>

                                 {{else}}

                                 <div title="like">
                                    <input type="hidden" name="action" value="/p/details/micro/like/{{../_id}}">
                                    <input type="hidden" name="username" value="{{../../user.username}}">
                                    <input type="hidden" name="project_id" value="{{../_id}}">
                                    <input type="hidden" name="og_path" value="" class="og_path"/>
                                    <input type="hidden" name="project_owner" value="{{../project_owner}}">
                                    <button class="project_action_btn btn_p_submit" name="submit" type="submit">
                                       <a><i style="font-weight: bold" class="fa fa-heart-o"></i></a>
                                    </button>
                                 </div>

                                 {{/if}}

                              {{else}}

                              <button class="project_action_btn" name="submit" type="submit">
                                 <a><i style="font-weight: bold" class="fa fa-heart-o"></i></a>
                              </button>

                              {{/if}}

                              <button class="project_action_btn" name="submit" type="submit">
                                 <a {{#if ../../user}}class="detailsRepostModalBtn"{{/if}}>
                                    <i class="fa fa-retweet"></i>
                                    <input type="hidden" name="username" value="{{../../user.username}}">
                                    <input type="hidden" name="project_id" value="{{../_id}}">
                                    <input type="hidden" name="project_owner" value="{{../project_owner}}">
                                    <input type="hidden" name="user_reposted" value="{{../user_reposted}}">
                                 </a>
                              </button>


                              {{#if ../../user}}
                                 {{#if ../user_saved}}

                                 {{! Save / Unsave Project }}

                                 <div title="unsave">
                                    <input type="hidden" name="action" value="/p/details/micro/save/{{../_id}}">
                                    <input type="hidden" name="username" value="{{../../user.username}}">
                                    <input type="hidden" name="project_id" value="{{../_id}}">
                                    <input type="hidden" name="project_owner" value="{{../project_owner}}">
                                    <input type="hidden" name="og_path" value="" class="og_path"/>
                                    <button class="project_action_btn btn_p_submit" name="submit" type="submit">
                                       <a><i style="font-weight: bold" class="fa fa-bookmark"></i></a>
                                    </button>
                                 </div>

                                 {{else}}

                                 <div title="save">
                                    <input type="hidden" name="action" value="/p/details/micro/save/{{../_id}}">
                                    <input type="hidden" name="username" value="{{../../user.username}}">
                                    <input type="hidden" name="project_id" value="{{../_id}}">
                                    <input type="hidden" name="og_path" value="" class="og_path"/>
                                    <input type="hidden" name="project_owner" value="{{../project_owner}}">
                                    <button class="project_action_btn btn_p_submit" name="submit" type="submit">
                                       <a><i style="font-weight: bold" class="fa fa-bookmark-o"></i></a>
                                    </button>
                                 </div>

                                 {{/if}}

                              {{else}}

                              <button class="project_action_btn" name="submit" type="submit">
                                 <a><i style="font-weight: bold" class="fa fa-bookmark-o"></i></a>
                              </button>

                              {{/if}}

                              <button class="project_action_btn" name="submit" type="submit">
                                 <a {{#if ../../user}}class="msgModalBtn"{{/if}}>
                                    <i class="fa fa-paper-plane-o"></i>
                                 </a>
                              </button>
                           </div>
                           {{#if ../reposted_by}}<a href="/profile/{{../reposted_by}}" style="display: block;margin-top: 25px;color: #555; font-weight: bold; font-size: 12px;">Reposted by @{../reposted_by}}</a>{{/if}}
                        </div>
                     </div>
                  </div>
                  {{/ifEquals}}
               {{/each}}
            {{else}}
               <div class="masonryItem ownProject" title="{{project_title}}" >
                  <div class="project_avatar_left">
                     <a href="/profile/{{project_owner}}">
                        <img class="project_avatar_img" src="https://ik.imagekit.io/w07am55tja/{{project_owner_profile_image}}?tr=w-75" />
                     </a>
                  </div>

                  <div class="project_content_right">
                     <div style="flex-direction: row; justify-content: space-between; align-items: flex-start;">
                        <a class="micro_tag {{#if project_title}}micro_tag_w_title{{/if}}" href="/profile/{{project_owner}}">@{{project_owner}}</a>
                        {{#if private_collection_name}}<span style="margin-left: 15px;color: #555; font-weight: bold; font-size: 12px;">"{{private_collection_name}}" (Private)</span>{{/if}}
                     </div>
                     <div class="micropost">
                        <div class="micropost_card {{#if micro_image}}card_is_micro_image{{else}}{{#if micro_audio}}card_is_micro_audio{{else}}{{#if micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                           <a href="/p/micro/{{_id}}" style="width: 100%;">
                              {{#if project_title}}<p class="micro_title">{{project_title}}</p>{{/if}}
                              {{#if micro_body}}<p class="micro_body">{{{micro_body}}}</p>{{/if}}
                           </a>
                           <a href="/p/micro/{{_id}}" style="width: 100%;">
                              {{#if micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{micro_image}}?tr=w-650" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                              {{#if micro_video}}
                              <video  preload="auto" controls controlsList="nodownload" class="micro_video">
                                 <source src="https://ik.imagekit.io/w07am55tja/{{micro_video}}" type="video/mp4">
                                 <source src="https://ik.imagekit.io/w07am55tja/{{micro_video}}" type="video/ogg">
                                 <source src="https://ik.imagekit.io/w07am55tja/{{micro_video}}" type="video/webm">
                                 Your browser does not support the video tag.
                              </video>
                              {{/if}}
                              {{#if micro_audio}}
                              {{#if thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{thumbnail_image}}?tr=w-650" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                              <audio controls controlsList="nodownload" class="micro_audio">
                                 <source src="https://ik.imagekit.io/w07am55tja/{{micro_audio}}" type="audio/ogg">
                                 <source src="https://ik.imagekit.io/w07am55tja/{{micro_audio}}" type="audio/mpeg">
                                 <source src="https://ik.imagekit.io/w07am55tja/{{micro_audio}}" type="audio/wav">
                                  Your browser does not support the audio element.
                              </audio>
                              {{/if}}
                           </a>
                        </div>
                        <div class="micro_action_btns">
                           {{#if ../user}}
                              {{#if user_liked}}

                              {{! Like / Unlike Project }}

                              <div title="unlike">
                                 <input type="hidden" name="action" value="/p/details/micro/like/{{_id}}">
                                 <input type="hidden" name="username" value="{{../user.username}}">
                                 <input type="hidden" name="project_id" value="{{_id}}">
                                 <input type="hidden" name="project_owner" value="{{project_owner}}">
                                 <input type="hidden" name="og_path" value="" class="og_path"/>
                                 <button class="project_action_btn btn_p_submit" name="submit" type="submit">
                                    <a><i style="font-weight: bold" class="fa fa-heart"></i></a>
                                 </button>
                              </div>

                              {{else}}

                              <div title="like">
                                 <input type="hidden" name="action" value="/p/details/micro/like/{{_id}}">
                                 <input type="hidden" name="username" value="{{../user.username}}">
                                 <input type="hidden" name="project_id" value="{{_id}}">
                                 <input type="hidden" name="og_path" value="" class="og_path"/>
                                 <input type="hidden" name="project_owner" value="{{project_owner}}">
                                 <button class="project_action_btn btn_p_submit" name="submit" type="submit">
                                    <a><i style="font-weight: bold" class="fa fa-heart-o"></i></a>
                                 </button>
                              </div>


                              {{/if}}

                           {{else}}

                           <button class="project_action_btn" name="submit" type="submit">
                              <a><i style="font-weight: bold" class="fa fa-heart-o"></i></a>
                           </button>

                           {{/if}}

                           <button class="project_action_btn" name="submit" type="submit">
                              <a {{#if ../user}}class="detailsRepostModalBtn"{{/if}}>
                                 <i class="fa fa-retweet"></i>
                                 <input type="hidden" name="username" value="{{../user.username}}">
                                 <input type="hidden" name="project_id" value="{{_id}}">
                                 <input type="hidden" name="project_owner" value="{{project_owner}}">
                                 <input type="hidden" name="user_reposted" value="{{user_reposted}}">
                              </a>
                           </button>


                           {{#if ../user}}
                              {{#if user_saved}}

                              {{! Save / Unsave Project }}

                              <div title="unsave">
                                 <input type="hidden" name="action" value="/p/details/micro/save/{{_id}}">
                                 <input type="hidden" name="username" value="{{../user.username}}">
                                 <input type="hidden" name="project_id" value="{{_id}}">
                                 <input type="hidden" name="project_owner" value="{{project_owner}}">
                                 <input type="hidden" name="og_path" value="" class="og_path"/>
                                 <button class="project_action_btn btn_p_submit" name="submit" type="submit">
                                    <a><i style="font-weight: bold" class="fa fa-bookmark"></i></a>
                                 </button>
                              </div>

                              {{else}}

                              <div title="save">
                                 <input type="hidden" name="action" value="/p/details/micro/save/{{_id}}">
                                 <input type="hidden" name="username" value="{{../user.username}}">
                                 <input type="hidden" name="project_id" value="{{_id}}">
                                 <input type="hidden" name="og_path" value="" class="og_path"/>
                                 <input type="hidden" name="project_owner" value="{{project_owner}}">
                                 <button class="project_action_btn btn_p_submit" name="submit" type="submit">
                                    <a><i style="font-weight: bold" class="fa fa-bookmark-o"></i></a>
                                 </button>
                              </div>

                              {{/if}}

                           {{else}}

                           <button class="project_action_btn" name="submit" type="submit">
                              <a><i style="font-weight: bold" class="fa fa-bookmark-o"></i></a>
                           </button>

                           {{/if}}

                           <button class="project_action_btn" name="submit" type="submit">
                              <a {{#if ../user}}class="msgModalBtn"{{/if}}>
                                 <i class="fa fa-paper-plane-o"></i>
                                 <input type="hidden" name="username" value="{{../../user.username}}">
                                 <input type="hidden" name="project_id" value="{{../_id}}">
                                 <input type="hidden" name="project_owner" value="{{../project_owner}}">
                                 <input type="hidden" name="user_reposted" value="{{../user_reposted}}">
                              </a>
                           </button>
                        </div>
                        {{#if reposted_by}}<a href="/profile/{{reposted_by}}" style="display: block;margin-top: 25px;color: #555; font-weight: bold; font-size: 12px;">Reposted by @{{reposted_by}}</a>{{/if}}
                     </div>
                  </div>
               </div>
            {{/if}}

            {{else}}

               {{#if posted_to_group}}
                  {{#each posted_to_group}}
                     {{#ifEquals this.group_is_private "true"}}
                        {{! Don't show projects in private groups }}
                     {{else}}
                        <div class="masonryItem ownProject index_feed_blog_post" title="{{../project_title}}" >
                           <div class="project_avatar_left">
                              <a href="/profile/{{../project_owner}}">
                                 <img class="project_avatar_img" src="https://ik.imagekit.io/w07am55tja/{{../project_owner_profile_image}}?tr=w-75" />
                              </a>
                           </div>

                           <div class="project_content_right">
                              <div style="flex-direction: row; justify-content: space-between; align-items: flex-start;">
                                 <a class="micro_tag {{#if ../project_title}}micro_tag_w_title{{/if}}" href="/profile/{{../project_owner}}">@{{../project_owner}}</a>
                                 {{#if ../private_collection_name}}<span style="margin-left: 15px;color: #555; font-weight: bold; font-size: 12px;">"{{../private_collection_name}}" (Private)</span>{{/if}}
                              </div>
                              <div class="project_card">
                                 <a href="/p/details/{{../_id}}" class="project_link">
                                    <img src="https://ik.imagekit.io/w07am55tja/{{#if ../thumbnail_image}}{{../thumbnail_image}}{{else}}{{../project_image}}{{/if}}?tr=w-650" class="img-responsive" alt="{{../project_title}}" />
                                 </a>
                                 <div class="project_card_bottom">
                                    <div class="project_bottom_wrapper">
                                       <div class="bg_overlay"></div>
                                       <div class="project_bottom_details">
                                          <a href="/profile/{{../project_owner}}"><p class="project_owner">@{{../project_owner}}</p></a>
                                          <a href="/p/details/{{../_id}}" class="project_link">
                                             <p class="project_card_title">{{../project_title}}</p>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              {{#if ../reposted_by}}<a href="/profile/{{../reposted_by}}" style="display: block;margin-top: 25px;color: #555; font-weight: bold; font-size: 12px;">Reposted by @{{../reposted_by}}</a>{{/if}}
                           </div>
                        </div>
                     {{/ifEquals}}
                  {{/each}}
               {{else}}
                  <div class="masonryItem ownProject index_feed_blog_post" title="{{project_title}}" >
                     <div class="project_avatar_left">
                        <a href="/profile/{{project_owner}}">
                           <img class="project_avatar_img" src="https://ik.imagekit.io/w07am55tja/{{project_owner_profile_image}}?tr=w-75" />
                        </a>
                     </div>

                     <div class="project_content_right">
                        <div style="flex-direction: row; justify-content: space-between; align-items: flex-start;">
                           <a class="micro_tag {{#if project_title}}micro_tag_w_title{{/if}}" href="/profile/{{project_owner}}">@{{project_owner}}</a>
                           {{#if private_collection_name}}<span style="margin-left: 15px;color: #555; font-weight: bold; font-size: 12px;">"{{private_collection_name}}" (Private)</span>{{/if}}
                        </div>
                        <div class="project_card">
                           <a href="/p/details/{{_id}}" class="project_link">
                              <img src="https://ik.imagekit.io/w07am55tja/{{#if thumbnail_image}}{{thumbnail_image}}{{else}}{{project_image}}{{/if}}?tr=w-650" class="img-responsive" alt="{{project_title}}" />
                           </a>
                           <div class="project_card_bottom">
                              <div class="project_bottom_wrapper">
                                 <div class="bg_overlay"></div>
                                 <div class="project_bottom_details">
                                    <a href="/profile/{{project_owner}}"><p class="project_owner">@{{project_owner}}</p></a>
                                    <a href="/p/details/{{id}}" class="project_link">
                                       <p class="project_card_title">{{project_title}}</p>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        {{#if reposted_by}}<a href="/profile/{{reposted_by}}" style="display: block;margin-top: 25px;color: #555; font-weight: bold; font-size: 12px;">Reposted by @{{reposted_by}}</a>{{/if}}
                     </div>
                  </div>
               {{/if}}

            {{/if}}

         {{/if}}
      {{/each}}

   </div>

   {{/if}}

   </div>




    {{!---------- Suggested Index Feed ----------}}



     <div class="suggested_index_feed">

      <p class="suggested_results">Suggested</p>

      <div class="suggested_user_container">
         {{#if suggested_profiles}}
         {{#each suggested_profiles}}
         <a href="/profile/{{this.username}}" class="group_user">
            <div class="suggested_user" style="background-image: url('https://ik.imagekit.io/w07am55tja/{{#if this.backgroundimage}}{{this.backgroundimage}}{{else}}hryzn-placeholder-01.jpg{{/if}}?tr=w-300')">
               <div class="suggested_user_img_container">
                  <img class="profile__img" src="https://ik.imagekit.io/w07am55tja/{{#if this.profileimage}}{{this.profileimage}}{{else}}hryzn-placeholder-01.jpg{{/if}}?tr=w-100">
               </div>
               <small class="suggested_username">@{{this.username}}</small>
               <div class="suggested_view_btn">View</div>
               <div class="bg_overlay"></div>
            </div>
         </a>
         {{/each}}
         {{/if}}
      </div>


      {{#if suggested_projects}}

      <div class="index_feed">

        {{#each suggested_projects}}

           {{#if this.is_private}}
           {{! Check if the project is a private project, we do not want to show private projects }}
           {{else}}

              {{#if is_micro_post}}

              {{#if posted_to_group}}
                 {{#each posted_to_group}}
                    {{#ifEquals this.group_is_private "true"}}
                       {{! Don't show projects in private groups }}
                    {{else}}
                    <div class="masonryItem ownProject" title="{{../project_title}}" >
                       <div class="project_avatar_left">
                          <a href="/profile/{{../project_owner}}">
                             <img class="project_avatar_img" src="https://ik.imagekit.io/w07am55tja/{{../project_owner_profile_image}}?tr=w-75" />
                          </a>
                       </div>

                       <div class="project_content_right">
                          <div style="flex-direction: row; justify-content: space-between; align-items: flex-start;">
                             <a class="micro_tag {{#if ../project_title}}micro_tag_w_title{{/if}}" href="/profile/{{../project_owner}}">@{{../project_owner}}</a>
                             {{#if ../private_collection_name}}<span style="margin-left: 15px;color: #555; font-weight: bold; font-size: 12px;">"{{../private_collection_name}}" (Private)</span>{{/if}}
                          </div>
                          <div class="micropost">
                             <div class="micropost_card {{#if ../micro_image}}card_is_micro_image{{else}}{{#if ../micro_audio}}card_is_micro_audio{{else}}{{#if ../micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                                <a href="/p/micro/{{../_id}}">
                                   {{#if ../project_title}}<p class="micro_title">{{../project_title}}</p>{{/if}}
                                   {{#if ../micro_body}}<p class="micro_body">{{{../micro_body}}}</p>{{/if}}
                                </a>

                                <a href="/p/micro/{{../_id}}">
                                   {{#if ../micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{../micro_image}}?tr=w-650" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                   {{#if ../micro_video}}
                                   <video  preload="auto" controls controlsList="nodownload" class="micro_video">
                                      <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_video}}" type="video/mp4">
                                      <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_video}}" type="video/ogg">
                                      <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_video}}" type="video/webm">
                                      Your browser does not support the video tag.
                                   </video>
                                   {{/if}}
                                   {{#if ../micro_audio}}
                                   {{#if ../thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{../thumbnail_image}}?tr=w-650" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                   <audio controls controlsList="nodownload" class="micro_audio">
                                      <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_audio}}" type="audio/ogg">
                                      <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_audio}}" type="audio/mpeg">
                                      <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_audio}}" type="audio/wav">
                                       Your browser does not support the audio element.
                                   </audio>
                                   {{/if}}
                                </a>
                             </div>
                          </div>
                       </div>
                    </div>
                    {{/ifEquals}}
                 {{/each}}
              {{else}}
                 <div class="masonryItem ownProject" title="{{project_title}}" >
                    <div class="project_avatar_left">
                       <a href="/profile/{{project_owner}}">
                          <img class="project_avatar_img" src="https://ik.imagekit.io/w07am55tja/{{project_owner_profile_image}}?tr=w-75" />
                       </a>
                    </div>

                    <div class="project_content_right">
                       <div style="flex-direction: row; justify-content: space-between; align-items: flex-start;">
                          <a class="micro_tag {{#if project_title}}micro_tag_w_title{{/if}}" href="/profile/{{project_owner}}">@{{project_owner}}</a>
                          {{#if private_collection_name}}<span style="margin-left: 15px;color: #555; font-weight: bold; font-size: 12px;">"{{private_collection_name}}" (Private)</span>{{/if}}
                       </div>
                       <div class="micropost">
                          <div class="micropost_card {{#if micro_image}}card_is_micro_image{{else}}{{#if micro_audio}}card_is_micro_audio{{else}}{{#if micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                             <a href="/p/micro/{{_id}}" style="width: 100%;">
                                {{#if project_title}}<p class="micro_title">{{project_title}}</p>{{/if}}
                                {{#if micro_body}}<p class="micro_body">{{{micro_body}}}</p>{{/if}}
                             </a>
                             <a href="/p/micro/{{_id}}" style="width: 100%;">
                                {{#if micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{micro_image}}?tr=w-650" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                                {{#if micro_video}}
                                <video  preload="auto" controls controlsList="nodownload" class="micro_video">
                                   <source src="https://ik.imagekit.io/w07am55tja/{{micro_video}}" type="video/mp4">
                                   <source src="https://ik.imagekit.io/w07am55tja/{{micro_video}}" type="video/ogg">
                                   <source src="https://ik.imagekit.io/w07am55tja/{{micro_video}}" type="video/webm">
                                   Your browser does not support the video tag.
                                </video>
                                {{/if}}
                                {{#if micro_audio}}
                                {{#if thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{thumbnail_image}}?tr=w-650" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                                <audio controls controlsList="nodownload" class="micro_audio">
                                   <source src="https://ik.imagekit.io/w07am55tja/{{micro_audio}}" type="audio/ogg">
                                   <source src="https://ik.imagekit.io/w07am55tja/{{micro_audio}}" type="audio/mpeg">
                                   <source src="https://ik.imagekit.io/w07am55tja/{{micro_audio}}" type="audio/wav">
                                    Your browser does not support the audio element.
                                </audio>
                                {{/if}}
                             </a>
                          </div>
                        </div>
                    </div>
                 </div>
              {{/if}}

              {{else}}

                 {{#if posted_to_group}}
                    {{#each posted_to_group}}
                       {{#ifEquals this.group_is_private "true"}}
                          {{! Don't show projects in private groups }}
                       {{else}}
                          <div class="masonryItem ownProject index_feed_blog_post" title="{{../project_title}}" >
                             <div class="project_avatar_left">
                                <a href="/profile/{{../project_owner}}">
                                   <img class="project_avatar_img" src="https://ik.imagekit.io/w07am55tja/{{../project_owner_profile_image}}?tr=w-75" />
                                </a>
                             </div>

                             <div class="project_content_right">
                                <div style="flex-direction: row; justify-content: space-between; align-items: flex-start;">
                                   <a class="micro_tag {{#if ../project_title}}micro_tag_w_title{{/if}}" href="/profile/{{../project_owner}}">@{{../project_owner}}</a>
                                   {{#if ../private_collection_name}}<span style="margin-left: 15px;color: #555; font-weight: bold; font-size: 12px;">"{{../private_collection_name}}" (Private)</span>{{/if}}
                                </div>
                                <div class="project_card">
                                   <a href="/p/details/{{../_id}}" class="project_link">
                                      <img src="https://ik.imagekit.io/w07am55tja/{{#if ../thumbnail_image}}{{../thumbnail_image}}{{else}}{{../project_image}}{{/if}}?tr=w-650" class="img-responsive" alt="{{../project_title}}" />
                                   </a>
                                   <div class="project_card_bottom">
                                      <div class="project_bottom_wrapper">
                                         <div class="bg_overlay"></div>
                                         <div class="project_bottom_details">
                                            <a href="/profile/{{../project_owner}}"><p class="project_owner">@{{../project_owner}}</p></a>
                                            <a href="/p/details/{{../_id}}" class="project_link">
                                               <p class="project_card_title">{{../project_title}}</p>
                                            </a>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </div>
                       {{/ifEquals}}
                    {{/each}}
                 {{else}}
                    <div class="masonryItem ownProject index_feed_blog_post" title="{{project_title}}" >
                       <div class="project_avatar_left">
                          <a href="/profile/{{project_owner}}">
                             <img class="project_avatar_img" src="https://ik.imagekit.io/w07am55tja/{{project_owner_profile_image}}?tr=w-75" />
                          </a>
                       </div>

                       <div class="project_content_right">
                          <div style="flex-direction: row; justify-content: space-between; align-items: flex-start;">
                             <a class="micro_tag {{#if project_title}}micro_tag_w_title{{/if}}" href="/profile/{{project_owner}}">@{{project_owner}}</a>
                             {{#if private_collection_name}}<span style="margin-left: 15px;color: #555; font-weight: bold; font-size: 12px;">"{{private_collection_name}}" (Private)</span>{{/if}}
                          </div>
                          <div class="project_card">
                             <a href="/p/details/{{_id}}" class="project_link">
                                <img src="https://ik.imagekit.io/w07am55tja/{{#if thumbnail_image}}{{thumbnail_image}}{{else}}{{project_image}}{{/if}}?tr=w-650" class="img-responsive" alt="{{project_title}}" />
                             </a>
                             <div class="project_card_bottom">
                                <div class="project_bottom_wrapper">
                                   <div class="bg_overlay"></div>
                                   <div class="project_bottom_details">
                                      <a href="/profile/{{project_owner}}"><p class="project_owner">@{{project_owner}}</p></a>
                                      <a href="/p/details/{{id}}" class="project_link">
                                         <p class="project_card_title">{{project_title}}</p>
                                      </a>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 {{/if}}

              {{/if}}

           {{/if}}
        {{/each}}

      </div>

      {{/if}}

      {{#if suggested_groups}}
         <section class="explore_groups_container">
            <div class="group_wrapper">
               {{#each suggested_groups}}
               {{#if this.is_private}}
               {{else}}
                  <a href="/groups/{{this._id}}" class="group_bg" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('https://ik.imagekit.io/w07am55tja/{{this.group_image}}?tr=w-300')">
                     {{this.group_name}}
                  </a>
               {{/if}}
               {{/each}}
            </div>
         </section>
      {{/if}}



      {{!---------- Suggested Index Feed #2 ----------}}



      <div class="suggested_user_container">
         {{#if suggested_profiles_num2}}
         {{#each suggested_profiles_num2}}
         <a href="/profile/{{this.username}}" class="group_user">
            <div class="suggested_user" style="background-image: url('https://ik.imagekit.io/w07am55tja/{{#if this.backgroundimage}}{{this.backgroundimage}}{{else}}hryzn-placeholder-01.jpg{{/if}}?tr=w-300')">
               <div class="suggested_user_img_container">
                  <img class="profile__img" src="https://ik.imagekit.io/w07am55tja/{{#if this.profileimage}}{{this.profileimage}}{{else}}hryzn-placeholder-01.jpg{{/if}}?tr=w-100">
               </div>
               <small class="suggested_username">@{{this.username}}</small>
               <div class="suggested_view_btn">View</div>
               <div class="bg_overlay"></div>
            </div>
         </a>
         {{/each}}
         {{/if}}
      </div>

      {{#if suggested_projects_num2}}

      <div class="index_feed">

        {{#each suggested_projects_num2}}

           {{#if this.is_private}}
           {{! Check if the project is a private project, we do not want to show private projects }}
           {{else}}

              {{#if is_micro_post}}

              {{#if posted_to_group}}
                 {{#each posted_to_group}}
                    {{#ifEquals this.group_is_private "true"}}
                       {{! Don't show projects in private groups }}
                    {{else}}
                    <div class="masonryItem ownProject" title="{{../project_title}}" >
                       <div class="project_avatar_left">
                          <a href="/profile/{{../project_owner}}">
                             <img class="project_avatar_img" src="https://ik.imagekit.io/w07am55tja/{{../project_owner_profile_image}}?tr=w-75" />
                          </a>
                       </div>

                       <div class="project_content_right">
                          <div style="flex-direction: row; justify-content: space-between; align-items: flex-start;">
                             <a class="micro_tag {{#if ../project_title}}micro_tag_w_title{{/if}}" href="/profile/{{../project_owner}}">@{{../project_owner}}</a>
                             {{#if ../private_collection_name}}<span style="margin-left: 15px;color: #555; font-weight: bold; font-size: 12px;">"{{../private_collection_name}}" (Private)</span>{{/if}}
                          </div>
                          <div class="micropost">
                             <div class="micropost_card {{#if ../micro_image}}card_is_micro_image{{else}}{{#if ../micro_audio}}card_is_micro_audio{{else}}{{#if ../micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                                <a href="/p/micro/{{../_id}}">
                                   {{#if ../project_title}}<p class="micro_title">{{../project_title}}</p>{{/if}}
                                   {{#if ../micro_body}}<p class="micro_body">{{{../micro_body}}}</p>{{/if}}
                                </a>

                                <a href="/p/micro/{{../_id}}">
                                   {{#if ../micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{../micro_image}}?tr=w-650" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                   {{#if ../micro_video}}
                                   <video  preload="auto" controls controlsList="nodownload" class="micro_video">
                                      <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_video}}" type="video/mp4">
                                      <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_video}}" type="video/ogg">
                                      <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_video}}" type="video/webm">
                                      Your browser does not support the video tag.
                                   </video>
                                   {{/if}}
                                   {{#if ../micro_audio}}
                                   {{#if ../thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{../thumbnail_image}}?tr=w-650" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                   <audio controls controlsList="nodownload" class="micro_audio">
                                      <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_audio}}" type="audio/ogg">
                                      <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_audio}}" type="audio/mpeg">
                                      <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_audio}}" type="audio/wav">
                                       Your browser does not support the audio element.
                                   </audio>
                                   {{/if}}
                                </a>
                             </div>
                          </div>
                       </div>
                    </div>
                    {{/ifEquals}}
                 {{/each}}
              {{else}}
                 <div class="masonryItem ownProject" title="{{project_title}}" >
                    <div class="project_avatar_left">
                       <a href="/profile/{{project_owner}}">
                          <img class="project_avatar_img" src="https://ik.imagekit.io/w07am55tja/{{project_owner_profile_image}}?tr=w-75" />
                       </a>
                    </div>

                    <div class="project_content_right">
                       <div style="flex-direction: row; justify-content: space-between; align-items: flex-start;">
                          <a class="micro_tag {{#if project_title}}micro_tag_w_title{{/if}}" href="/profile/{{project_owner}}">@{{project_owner}}</a>
                          {{#if private_collection_name}}<span style="margin-left: 15px;color: #555; font-weight: bold; font-size: 12px;">"{{private_collection_name}}" (Private)</span>{{/if}}
                       </div>
                       <div class="micropost">
                          <div class="micropost_card {{#if micro_image}}card_is_micro_image{{else}}{{#if micro_audio}}card_is_micro_audio{{else}}{{#if micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                             <a href="/p/micro/{{_id}}" style="width: 100%;">
                                {{#if project_title}}<p class="micro_title">{{project_title}}</p>{{/if}}
                                {{#if micro_body}}<p class="micro_body">{{{micro_body}}}</p>{{/if}}
                             </a>
                             <a href="/p/micro/{{_id}}" style="width: 100%;">
                                {{#if micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{micro_image}}?tr=w-650" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                                {{#if micro_video}}
                                <video  preload="auto" controls controlsList="nodownload" class="micro_video">
                                   <source src="https://ik.imagekit.io/w07am55tja/{{micro_video}}" type="video/mp4">
                                   <source src="https://ik.imagekit.io/w07am55tja/{{micro_video}}" type="video/ogg">
                                   <source src="https://ik.imagekit.io/w07am55tja/{{micro_video}}" type="video/webm">
                                   Your browser does not support the video tag.
                                </video>
                                {{/if}}
                                {{#if micro_audio}}
                                {{#if thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{thumbnail_image}}?tr=w-650" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                                <audio controls controlsList="nodownload" class="micro_audio">
                                   <source src="https://ik.imagekit.io/w07am55tja/{{micro_audio}}" type="audio/ogg">
                                   <source src="https://ik.imagekit.io/w07am55tja/{{micro_audio}}" type="audio/mpeg">
                                   <source src="https://ik.imagekit.io/w07am55tja/{{micro_audio}}" type="audio/wav">
                                    Your browser does not support the audio element.
                                </audio>
                                {{/if}}
                             </a>
                          </div>
                       </div>
                    </div>
                 </div>
              {{/if}}

              {{else}}

                 {{#if posted_to_group}}
                    {{#each posted_to_group}}
                       {{#ifEquals this.group_is_private "true"}}
                          {{! Don't show projects in private groups }}
                       {{else}}
                          <div class="masonryItem ownProject index_feed_blog_post" title="{{../project_title}}" >
                             <div class="project_avatar_left">
                                <a href="/profile/{{../project_owner}}">
                                   <img class="project_avatar_img" src="https://ik.imagekit.io/w07am55tja/{{../project_owner_profile_image}}?tr=w-75" />
                                </a>
                             </div>

                             <div class="project_content_right">
                                <div style="flex-direction: row; justify-content: space-between; align-items: flex-start;">
                                   <a class="micro_tag {{#if ../project_title}}micro_tag_w_title{{/if}}" href="/profile/{{../project_owner}}">@{{../project_owner}}</a>
                                   {{#if ../private_collection_name}}<span style="margin-left: 15px;color: #555; font-weight: bold; font-size: 12px;">"{{../private_collection_name}}" (Private)</span>{{/if}}
                                </div>
                                <div class="project_card">
                                   <a href="/p/details/{{../_id}}" class="project_link">
                                      <img src="https://ik.imagekit.io/w07am55tja/{{#if ../thumbnail_image}}{{../thumbnail_image}}{{else}}{{../project_image}}{{/if}}?tr=w-650" class="img-responsive" alt="{{../project_title}}" />
                                   </a>
                                   <div class="project_card_bottom">
                                      <div class="project_bottom_wrapper">
                                         <div class="bg_overlay"></div>
                                         <div class="project_bottom_details">
                                            <a href="/profile/{{../project_owner}}"><p class="project_owner">@{{../project_owner}}</p></a>
                                            <a href="/p/details/{{../_id}}" class="project_link">
                                               <p class="project_card_title">{{../project_title}}</p>
                                            </a>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                                {{#if ../reposted_by}}<a href="/profile/{{../reposted_by}}" style="display: block;margin-top: 25px;color: #555; font-weight: bold; font-size: 12px;">Reposted by @{{../reposted_by}}</a>{{/if}}
                             </div>
                          </div>
                       {{/ifEquals}}
                    {{/each}}
                 {{else}}
                    <div class="masonryItem ownProject index_feed_blog_post" title="{{project_title}}" >
                       <div class="project_avatar_left">
                          <a href="/profile/{{project_owner}}">
                             <img class="project_avatar_img" src="https://ik.imagekit.io/w07am55tja/{{project_owner_profile_image}}?tr=w-75" />
                          </a>
                       </div>

                       <div class="project_content_right">
                          <div style="flex-direction: row; justify-content: space-between; align-items: flex-start;">
                             <a class="micro_tag {{#if project_title}}micro_tag_w_title{{/if}}" href="/profile/{{project_owner}}">@{{project_owner}}</a>
                             {{#if private_collection_name}}<span style="margin-left: 15px;color: #555; font-weight: bold; font-size: 12px;">"{{private_collection_name}}" (Private)</span>{{/if}}
                          </div>
                          <div class="project_card">
                             <a href="/p/details/{{_id}}" class="project_link">
                                <img src="https://ik.imagekit.io/w07am55tja/{{#if thumbnail_image}}{{thumbnail_image}}{{else}}{{project_image}}{{/if}}?tr=w-650" class="img-responsive" alt="{{project_title}}" />
                             </a>
                             <div class="project_card_bottom">
                                <div class="project_bottom_wrapper">
                                   <div class="bg_overlay"></div>
                                   <div class="project_bottom_details">
                                      <a href="/profile/{{project_owner}}"><p class="project_owner">@{{project_owner}}</p></a>
                                      <a href="/p/details/{{id}}" class="project_link">
                                         <p class="project_card_title">{{project_title}}</p>
                                      </a>
                                   </div>
                                </div>
                             </div>
                          </div>
                          {{#if reposted_by}}<a href="/profile/{{reposted_by}}" style="display: block;margin-top: 25px;color: #555; font-weight: bold; font-size: 12px;">Reposted by @{{reposted_by}}</a>{{/if}}
                       </div>
                    </div>
                 {{/if}}

              {{/if}}

           {{/if}}
        {{/each}}

      </div>

      {{/if}}

      {{#if suggested_groups_num2}}
         <section class="explore_groups_container">
            <div class="group_wrapper">
               {{#each suggested_groups_num2}}
               {{#if this.is_private}}
               {{else}}
                  <a href="/groups/{{this._id}}" class="group_bg" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('https://ik.imagekit.io/w07am55tja/{{this.group_image}}?tr=w-300')">
                     {{this.group_name}}
                  </a>
               {{/if}}
               {{/each}}
            </div>
         </section>
      {{/if}}



      {{!---------- Suggested Index Feed #3 ----------}}



      <div class="suggested_user_container">
         {{#if suggested_profiles_num3}}
         {{#each suggested_profiles_num3}}
         <a href="/profile/{{this.username}}" class="group_user">
            <div class="suggested_user" style="background-image: url('https://ik.imagekit.io/w07am55tja/{{#if this.backgroundimage}}{{this.backgroundimage}}{{else}}hryzn-placeholder-01.jpg{{/if}}?tr=w-300')">
               <div class="suggested_user_img_container">
                  <img class="profile__img" src="https://ik.imagekit.io/w07am55tja/{{#if this.profileimage}}{{this.profileimage}}{{else}}hryzn-placeholder-01.jpg{{/if}}?tr=w-100">
               </div>
               <small class="suggested_username">@{{this.username}}</small>
               <div class="suggested_view_btn">View</div>
               <div class="bg_overlay"></div>
            </div>
         </a>
         {{/each}}
         {{/if}}
      </div>

      {{#if suggested_projects_num3}}

      <div class="index_feed">

        {{#each suggested_projects_num3}}

           {{#if this.is_private}}
           {{! Check if the project is a private project, we do not want to show private projects }}
           {{else}}

              {{#if is_micro_post}}

              {{#if posted_to_group}}
                 {{#each posted_to_group}}
                    {{#ifEquals this.group_is_private "true"}}
                       {{! Don't show projects in private groups }}
                    {{else}}
                    <div class="masonryItem ownProject" title="{{../project_title}}" >
                       <div class="project_avatar_left">
                          <a href="/profile/{{../project_owner}}">
                             <img class="project_avatar_img" src="https://ik.imagekit.io/w07am55tja/{{../project_owner_profile_image}}?tr=w-75" />
                          </a>
                       </div>

                       <div class="project_content_right">
                          <div style="flex-direction: row; justify-content: space-between; align-items: flex-start;">
                             <a class="micro_tag {{#if ../project_title}}micro_tag_w_title{{/if}}" href="/profile/{{../project_owner}}">@{{../project_owner}}</a>
                             {{#if ../private_collection_name}}<span style="margin-left: 15px;color: #555; font-weight: bold; font-size: 12px;">"{{../private_collection_name}}" (Private)</span>{{/if}}
                          </div>
                          <div class="micropost">
                             <div class="micropost_card {{#if ../micro_image}}card_is_micro_image{{else}}{{#if ../micro_audio}}card_is_micro_audio{{else}}{{#if ../micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                                <a href="/p/micro/{{../_id}}">
                                   {{#if ../project_title}}<p class="micro_title">{{../project_title}}</p>{{/if}}
                                   {{#if ../micro_body}}<p class="micro_body">{{{../micro_body}}}</p>{{/if}}
                                </a>

                                <a href="/p/micro/{{../_id}}">
                                   {{#if ../micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{../micro_image}}?tr=w-650" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                   {{#if ../micro_video}}
                                   <video  preload="auto" controls controlsList="nodownload" class="micro_video">
                                      <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_video}}" type="video/mp4">
                                      <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_video}}" type="video/ogg">
                                      <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_video}}" type="video/webm">
                                      Your browser does not support the video tag.
                                   </video>
                                   {{/if}}
                                   {{#if ../micro_audio}}
                                   {{#if ../thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{../thumbnail_image}}?tr=w-650" class="img-responsive" alt="{{../micro_body}}" />{{/if}}
                                   <audio controls controlsList="nodownload" class="micro_audio">
                                      <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_audio}}" type="audio/ogg">
                                      <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_audio}}" type="audio/mpeg">
                                      <source src="https://ik.imagekit.io/w07am55tja/{{project.micro_audio}}" type="audio/wav">
                                       Your browser does not support the audio element.
                                   </audio>
                                   {{/if}}
                                </a>
                             </div>
                          </div>
                       </div>
                    </div>
                    {{/ifEquals}}
                 {{/each}}
              {{else}}
                 <div class="masonryItem ownProject" title="{{project_title}}" >
                    <div class="project_avatar_left">
                       <a href="/profile/{{project_owner}}">
                          <img class="project_avatar_img" src="https://ik.imagekit.io/w07am55tja/{{project_owner_profile_image}}?tr=w-75" />
                       </a>
                    </div>

                    <div class="project_content_right">
                       <div style="flex-direction: row; justify-content: space-between; align-items: flex-start;">
                          <a class="micro_tag {{#if project_title}}micro_tag_w_title{{/if}}" href="/profile/{{project_owner}}">@{{project_owner}}</a>
                          {{#if private_collection_name}}<span style="margin-left: 15px;color: #555; font-weight: bold; font-size: 12px;">"{{private_collection_name}}" (Private)</span>{{/if}}
                       </div>
                       <div class="micropost">
                          <div class="micropost_card {{#if micro_image}}card_is_micro_image{{else}}{{#if micro_audio}}card_is_micro_audio{{else}}{{#if micro_video}}card_is_micro_video{{else}}card_is_micro_text{{/if}}{{/if}}{{/if}}">
                             <a href="/p/micro/{{_id}}" style="width: 100%;">
                                {{#if project_title}}<p class="micro_title">{{project_title}}</p>{{/if}}
                                {{#if micro_body}}<p class="micro_body">{{{micro_body}}}</p>{{/if}}
                             </a>
                             <a href="/p/micro/{{_id}}" style="width: 100%;">
                                {{#if micro_image}}<img src="https://ik.imagekit.io/w07am55tja/{{micro_image}}?tr=w-650" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                                {{#if micro_video}}
                                <video  preload="auto" controls controlsList="nodownload" class="micro_video">
                                   <source src="https://ik.imagekit.io/w07am55tja/{{micro_video}}" type="video/mp4">
                                   <source src="https://ik.imagekit.io/w07am55tja/{{micro_video}}" type="video/ogg">
                                   <source src="https://ik.imagekit.io/w07am55tja/{{micro_video}}" type="video/webm">
                                   Your browser does not support the video tag.
                                </video>
                                {{/if}}
                                {{#if micro_audio}}
                                {{#if thumbnail_image}}<img src="https://ik.imagekit.io/w07am55tja/{{thumbnail_image}}?tr=w-650" class="img-responsive" alt="{{micro_body}}" />{{/if}}
                                <audio controls controlsList="nodownload" class="micro_audio">
                                   <source src="https://ik.imagekit.io/w07am55tja/{{micro_audio}}" type="audio/ogg">
                                   <source src="https://ik.imagekit.io/w07am55tja/{{micro_audio}}" type="audio/mpeg">
                                   <source src="https://ik.imagekit.io/w07am55tja/{{micro_audio}}" type="audio/wav">
                                    Your browser does not support the audio element.
                                </audio>
                                {{/if}}
                             </a>
                          </div>
                       </div>
                    </div>
                 </div>
              {{/if}}

              {{else}}

                 {{#if posted_to_group}}
                    {{#each posted_to_group}}
                       {{#ifEquals this.group_is_private "true"}}
                          {{! Don't show projects in private groups }}
                       {{else}}
                          <div class="masonryItem ownProject index_feed_blog_post" title="{{../project_title}}" >
                             <div class="project_avatar_left">
                                <a href="/profile/{{../project_owner}}">
                                   <img class="project_avatar_img" src="https://ik.imagekit.io/w07am55tja/{{../project_owner_profile_image}}?tr=w-75" />
                                </a>
                             </div>

                             <div class="project_content_right">
                                <div style="flex-direction: row; justify-content: space-between; align-items: flex-start;">
                                   <a class="micro_tag {{#if ../project_title}}micro_tag_w_title{{/if}}" href="/profile/{{../project_owner}}">@{{../project_owner}}</a>
                                   {{#if ../private_collection_name}}<span style="margin-left: 15px;color: #555; font-weight: bold; font-size: 12px;">"{{../private_collection_name}}" (Private)</span>{{/if}}
                                </div>
                                <div class="project_card">
                                   <a href="/p/details/{{../_id}}" class="project_link">
                                      <img src="https://ik.imagekit.io/w07am55tja/{{#if ../thumbnail_image}}{{../thumbnail_image}}{{else}}{{../project_image}}{{/if}}?tr=w-650" class="img-responsive" alt="{{../project_title}}" />
                                   </a>
                                   <div class="project_card_bottom">
                                      <div class="project_bottom_wrapper">
                                         <div class="bg_overlay"></div>
                                         <div class="project_bottom_details">
                                            <a href="/profile/{{../project_owner}}"><p class="project_owner">@{{../project_owner}}</p></a>
                                            <a href="/p/details/{{../_id}}" class="project_link">
                                               <p class="project_card_title">{{../project_title}}</p>
                                            </a>
                                         </div>
                                      </div>
                                   </div>
                                </div>
                                {{#if ../reposted_by}}<a href="/profile/{{../reposted_by}}" style="display: block;margin-top: 25px;color: #555; font-weight: bold; font-size: 12px;">Reposted by @{{../reposted_by}}</a>{{/if}}
                             </div>
                          </div>
                       {{/ifEquals}}
                    {{/each}}
                 {{else}}
                    <div class="masonryItem ownProject index_feed_blog_post" title="{{project_title}}" >
                       <div class="project_avatar_left">
                          <a href="/profile/{{project_owner}}">
                             <img class="project_avatar_img" src="https://ik.imagekit.io/w07am55tja/{{project_owner_profile_image}}?tr=w-75" />
                          </a>
                       </div>

                       <div class="project_content_right">
                          <div style="flex-direction: row; justify-content: space-between; align-items: flex-start;">
                             <a class="micro_tag {{#if project_title}}micro_tag_w_title{{/if}}" href="/profile/{{project_owner}}">@{{project_owner}}</a>
                             {{#if private_collection_name}}<span style="margin-left: 15px;color: #555; font-weight: bold; font-size: 12px;">"{{private_collection_name}}" (Private)</span>{{/if}}
                          </div>
                          <div class="project_card">
                             <a href="/p/details/{{_id}}" class="project_link">
                                <img src="https://ik.imagekit.io/w07am55tja/{{#if thumbnail_image}}{{thumbnail_image}}{{else}}{{project_image}}{{/if}}?tr=w-650" class="img-responsive" alt="{{project_title}}" />
                             </a>
                             <div class="project_card_bottom">
                                <div class="project_bottom_wrapper">
                                   <div class="bg_overlay"></div>
                                   <div class="project_bottom_details">
                                      <a href="/profile/{{project_owner}}"><p class="project_owner">@{{project_owner}}</p></a>
                                      <a href="/p/details/{{id}}" class="project_link">
                                         <p class="project_card_title">{{project_title}}</p>
                                      </a>
                                   </div>
                                </div>
                             </div>
                          </div>
                          {{#if reposted_by}}<a href="/profile/{{reposted_by}}" style="display: block;margin-top: 25px;color: #555; font-weight: bold; font-size: 12px;">Reposted by @{{reposted_by}}</a>{{/if}}
                       </div>
                    </div>
                 {{/if}}

              {{/if}}

           {{/if}}
        {{/each}}

      </div>

      {{/if}}

      {{#if suggested_groups_num3}}
         <section class="explore_groups_container">
            <div class="group_wrapper">
               {{#each suggested_groups_num3}}
               {{#if this.is_private}}
               {{else}}
                  <a href="/groups/{{this._id}}" class="group_bg" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('https://ik.imagekit.io/w07am55tja/{{this.group_image}}?tr=w-300')">
                     {{this.group_name}}
                  </a>
               {{/if}}
               {{/each}}
            </div>
         </section>
      {{/if}}

   </div>

</div>

<div class="detailsRepostModal modalBackground">
   <div class="modal-content">

   <div class="modal-header ">
   <p>Where would you like to repost to?</p>
   </div>

   <form id="repostForm" title="repost" method="post" action="/p/details/micro/repost/{{project._id}}">
      <input id="repostUsername" type="hidden" name="username" value="{{user.username}}">
      <input id="repostProjectId" type="hidden" name="project_id" value="{{project.id}}">
      <input id="repostProjectOwner" type="hidden" name="project_owner" value="{{project.project_owner}}">
      <input type="hidden" name="og_path" value="" class="og_path"/>
      <select data-placeholder="Repost to..." class="chosen-select form__input" name="repost_to">
         <option value=""></option>
         <option value="followers">Followers</option>
         {{#each user.groups}}
         <option value="{{this.group_id}}">Your Group "{{this.group_name}}"</option>
         {{/each}}
      </select>
      <div class="modal-footer">
         <input class="btn__secondary repost_submit" type="submit" value="Repost"/>
         <span class="closeModal btn__primary">Cancel</span>
      </div>
   </form>

   <form id="unrepostForm" title="unrepost" method="post">
      <input id="unrepostUsername" type="hidden" name="username" value="">
      <input id="unrepostProjectId" type="hidden" name="project_id" value="">
      <input type="hidden" name="og_path" value="" class="og_path"/>
      <input class="btn__secondary unrepost_btn" type="submit" value="I'm actually trying to unrepost this"/>
   </form>

   </div>

</div>

{{! Message Post Modal }}
<div id="msgPop" class="project__settingsNav">
   <div class="msgPop_wrapper">
      <a href="javascript:void(0)" id="msgPopClose">&times;</a>

      <p>Type in one of your follower's username</p>

      <form autocomplete="off">
        <input id="msgContentInput" type="hidden" name="message" value=``>
        <div class="user_autocomplete">
          <input class="user_autocomplete_input" type="text" name="send_to_user" placeholder="Send to...">
        </div>
        <input type="submit" class="user_autocomplete_btn" value="Send">
      </form>

      <!-- {{#each user.followers}}
      <a class="follower__profile user_autocomplete_self">
         @{{this}}
      </a>
      {{/each}} -->
   </div>
</div>

<script>
function user_autocomplete(inp, arr) {
  /*the user_autocomplete function takes two arguments,
  the text field element and an array of possible user_autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "user_autocomplete_list");
      a.setAttribute("class", "user_autocomplete_items");
      /*append the DIV element as a child of the user_autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the user_autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of user_autocompleted values,
              (or any other open lists of user_autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "user_autocomplete_list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "user_autocomplete_active":*/
    x[currentFocus].classList.add("user_autocomplete_active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all user_autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("user_autocomplete_active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all user_autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("user_autocomplete_items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

var user_followers = [];

{{#if user.followers}}
{{#each user.followers}}
user_followers.push(`{{{this}}}`)
{{/each}}
{{/if}}

/*initiate the user_autocomplete function on the "user_autocomplete_input" element, and pass along the user_followers array as possible user_autocomplete values:*/
user_autocomplete(document.getElementsByClassName("user_autocomplete_input")[0], user_followers);
</script>
