<div class="about-main__container" style="background: url('/img/site/background.jpg'); background-size: cover; background-repeat: no-repeat;">

   <div class="contact__container">

   <div class="form-container-2">
      {{#if form_submitted}}
         <h3 class="landing-title-faded">Thank you for your feedback. <a href="/">Click here to go back.</a></h3>
      {{else}}
      <h3 class="landing-title-faded">We like conversation.</h3>
      <form method="post" action="/about/contact">
         <input class="form__input" type="text" placeholder="Enter full name" name="contact_name" value="{{contact_name}}" required />
            <input class="form__input" type="email" placeholder="Enter email address" name="contact_email" value="{{contact_email}}" required autocapitalize="none" />
            <input class="form__input" type="text" placeholder="Enter subject" name="contact_subject" value="{{contact_subject}}" required />
            <textarea class="form__textarea" type="text" placeholder="Enter message" name="contact_message" value="{{contact_message}}" required></textarea>
            <button class="form__sign-up-button" name="submit" type="submit">SEND</button>
        </div>
      </form>
      {{/if}}
   </div>

   </div>
</div>

</div>
