<div class="create_loader loader_overlay">
   <div class="loader_wrapper">
      <div class="loader"></div>
   </div>
</div>

<form method="post" class="edit-project-form" action="/blog/create-post" enctype="multipart/form-data">
   <div class="form__container">

      <input type="hidden" name="_x_" value="$2a$10$BJn0b4OzBarDigcTUl0kejbffkejbfvxSI.JrlLKeSsOi8oKqBAK" />
      <input type="hidden" name="_c_" value="{{csrf_web_token}}" />
      <input type="hidden" name="orange_blossom" value="" />

      <div class="modalBtnMeta project_meta_btn">
         <img src="/icons/settings-black.png" class="main-topnav__icon" />
      </div>


      {{! Public or Private checkbox }}
      <div class="checkbox__wrapper">
         <label class="check__container">
            <input id="isPrivateCheck" class="form__input-checkbox {{#if project.is_draft}}checked{{/if}}" type="checkbox">
            <span class="checkmark">Private Post</span>
         </label>
         <label class="check__container">
            <input id="isPublicCheck" class="form__input-checkbox {{#if project.is_draft}}{{else}}checked{{/if}}" type="checkbox" checked>
            <span class="checkmark">Public Post</span>
         </label>
      </div>
      <br />
      <p class="form__input-small" id="changeText">A public post can be viewed by anyone</p>
      <input id="checkbox" type="hidden" name="is_private" value="{{post.is_draft}}" />


      {{! Post Title }}
      <input class="form__input project_title_input" type="text" placeholder="Enter a title" name="post_title" value="{{post.post_title}}" required autocapitalize="none" />


      {{! Post Notes }}
      <div id="editor" name="editor"  placeholder="Make it good, you got this. Have fun!"></div>
      <input id="projectNotes" name="post_notes" type="hidden">


      <input type="hidden" name="user_id" value="{{user._id}}">
      <p id="wordCount"></p>

      <input id="checkbox" type="hidden" name="is_private" value="false">
      <input type="hidden" name="admin" value="{{user.username}}">
      <input type="hidden" name="id" value="{{user._id}}">
      <div class="create_btns">
         <button class="form__sign-up-button project_submit edit-project__form-btn" name="submit" type="submit">Create</button>
         <button class="form__sign-up-button draft_btn project_submit edit-project__form-btn" name="submit" type="submit">Save as Draft</button>
      </div>
  </div>

  {{! Post Meta Modal }}
  <div class="popModalMeta modalBackground">
     <div class="modal-content">

        {{#if error_msg}}
        <div class="error__msg-3">
           <p>{{error_msg}}</p>
           <p class="error__exit">&times;</p>
        </div>
        {{/if}}

        {{#if errors}}
           {{#each errors}}
              <div class="error__msg-3">
                 <p>{{msg}}</p>
                 <p class="error__exit">&times;</p>
              </div>
           {{/each}}
        {{/if}}


        {{! Post Image }}
        <label for="post_image" class="form__label">Add Post Image <span class="form_span_descriptor">* Required *</span></label>
        <input class="form__input" type="file" name="post_image" value="{{post.post_image}}" />


        {{! Post Categories }}
        <label for="post_categories" class="form__label" style="margin-top: 25px;">Add Post Categories</label>
        <select data-placeholder="Add categories..." multiple class="chosen-select form__input" name="post_categories[]">
           <option value=""></option>
           <option>Growth Strategies</option>
           <option>Marketing</option>
           <option>Content Strategy</option>
           <option>Writer Spotlight</option>
           <option>Starting</option>
           <option>Managing</option>
           <option>Hryzn</option>
           <option>How-To</option>
           <option>Stories</option>
           <option>Entertainment</option>
        </select>


        {{! Post Description }}
        <label for="post_description" class="form__label" style="margin-top: 25px;">Write a Description</label>
        <textarea class="project-description__input" type="text" name="post_description" value="{{post.post_description}}">{{post.post_description}}</textarea>


        <div class="modal-footer">
           <span class="closeModalMeta btn__primary">Done</span>
        </div>

     </div>

  </div>
</form>
<p class="go-back back-btn" style="margin-top: 50px;">Cancel</p>

<!-- Loader Balls -->
<div class="loader_project">
   <div class='loader-container'>
      <div class='ball-wrapper'>
         <div class='ball-holder'>
            <div class='ball'></div>
         </div>
         <div class='shadow'></div>
      </div>

      <div class='ball-wrapper'>
         <div class='ball-holder'>
            <div class='ball'></div>
         </div>
         <div class='shadow'></div>
      </div>

      <div class='ball-wrapper'>
         <div class='ball-holder'>
            <div class='ball'></div>
         </div>
         <div class='shadow'></div>
      </div>
      <p class="loader_text">Thank you, please wait the computer is doing its thing.</p>
   </div>
</div>
