<div class="create_loader loader_overlay">
   <div class="loader_wrapper">
      <div class="loader"></div>
   </div>
</div>

<div class="hero__img-container">
   <img class="hero__img" src="https://s3.amazonaws.com/hryzn-app-static-assets/{{post.post_image}}" />
   <div class="hero__overlay"></div>
</div>


{{#if errors_2}}
{{#each errors_2}}

<div class="error__msg-3">
   <p>{{msg}}</p>
   <p class="error__exit">&times;</p>
</div>

{{/each}}
{{/if}}


{{! Project Form }}
<form method="post" class="edit-project-form" action="/blog/edit-post/{{post._id}}" enctype="multipart/form-data">


   {{! Public or Private checkbox }}
   <div class="checkbox__wrapper">
      <label class="check__container">
         <input id="isPrivateCheck" class="form__input-checkbox {{#if project.is_draft}}checked{{/if}}" type="checkbox">
         <span class="checkmark">Private Post</span>
      </label>
      <label class="check__container">
         <input id="isPublicCheck" class="form__input-checkbox {{#if project.is_draft}}{{else}}checked{{/if}}" type="checkbox" checked>
         <span class="checkmark">Public Post</span>
      </label>
   </div>
   <br />
   <p class="form__input-small" id="changeText">A public post can be viewed by anyone</p>
   <input id="checkbox" type="hidden" name="is_private" value="{{post.is_draft}}" />


   {{! Post Title }}
   <label for="post_title" class="form__label" style="margin-top: 25px;">Post Title</label>
   <input class="form__input" type="text" placeholder="Enter post title" name="post_title" value="{{post.post_title}}" required autocapitalize="none" />


   {{! Post Image }}
   <label for="post_image" class="form__label">Change Post Image</label>
   <input class="form__input" type="file" name="post_image" value="{{post.post_image}}" />


   {{! Post Categories }}
   <label for="post_categories" class="form__label" style="margin-top: 25px;">Change Post Categories</label>
   <select data-placeholder="Change categories..." multiple class="chosen-select form__input" name="post_categories[]">
      <option value=""></option>
      <option>Growth Strategies</option>
      <option>Marketing</option>
      <option>Content Strategy</option>
      <option>Writer Spotlight</option>
      <option>Starting</option>
      <option>Managing</option>
      <option>Hryzn</option>
      <option>How-To</option>
      <option>Stories</option>
      <option>Entertainment</option>
   </select>


   {{! Post Description }}
   <label for="post_description" class="form__label" style="margin-top: 25px;">Write a Description</label>
   <textarea class="project-description__input" type="text" name="post_description" value="{{post.post_description}}">{{post.post_description}}</textarea>


   {{! Project Notes }}
   <div id="editor" name="editor"  placeholder="Hi {{user.username}}, here's a notepad to write some extra stuff down. You have up to 1000 words, have fun!"></div>
   <input id="projectNotes" name="post_notes" type="hidden">


   <input type="hidden" name="user_id" value="{{user._id}}">
   <p id="wordCount"></p>


   {{! Submit }}
   <button class="form_submit_btn project_submit edit-project__form-btn" name="submit" type="submit">Save</button>


</form>

<p class="go-back back-btn" style="margin-top: 50px;">Cancel</p>

<!-- Loader Balls -->
<div class="loader_project">
   <div class='loader-container'>
      <div class='ball-wrapper'>
         <div class='ball-holder'>
            <div class='ball'></div>
         </div>
         <div class='shadow'></div>
      </div>

      <div class='ball-wrapper'>
         <div class='ball-holder'>
            <div class='ball'></div>
         </div>
         <div class='shadow'></div>
      </div>

      <div class='ball-wrapper'>
         <div class='ball-holder'>
            <div class='ball'></div>
         </div>
         <div class='shadow'></div>
      </div>
      <p class="loader_text">Thank you, please wait the computer is doing its thing.</p>
   </div>
</div>
