<section class="blog_section">

  <div class="blog_detail_main_container">

    <h1 class="post_title">{{post.post_title}}</h1>

   <div class="post_detail_img_container">
      <div class="post_detail_img_wrapper">
         <img src="https://ik.imagekit.io/w07am55tja/{{post.post_image}}?tr=w-1920" class="img-responsive" alt="{{post.post_title}}" />
      </div>
   </div>

   <div class="blog_text_container">

      <div class="post_data_container">
         <div class="post_data_one">
            <p>@{{post.post_owner}}</p>
            <p>{{post.post_date}}</p>
         </div>
         {{#if hryznAdmin}}
         <div class="post_data_two">
            <a href="/blog/edit-post/{{post._id}}">Edit</a>
            <a class="modalBtn" href="#">Delete</a>
         </div>
         {{/if}}
      </div>

      <div class="post_detail_notes">
         {{{post.post_notes}}}
      </div>

      <ul class="post_detail_cat_container">
         <a href="/blog"><li>All Posts</li></a>
         {{#each post.post_categories}}
         <a href="/blog/category/{{this}}"><li>{{this}}</li></a>
         {{/each}}
      </ul>
   </div>

   <div class="most_recent_posts_container">
      {{#if most_recent_posts}}
      {{#each most_recent_posts}}
      <a href="/blog/{{post_slug}}">
         <div class="most_recent_post_card">
            <div class="most_recent_img_container">
               <img src="https://ik.imagekit.io/w07am55tja/{{post_image}}?tr=w-600" class="img-responsive" alt="{{post_title}}" />
            </div>

            <div class="post_info_container">
               <p class="post_date">{{post_date}}</p>
               <h3 class="post_title">{{post_title}}</h3>
               <div class="post_btn">view</div>
            </div>
         </div>
      </a>
      {{/each}}
      {{/if}}
   </div>

 </div>

</section>
