<div class="landing-main__container">
   {{#if error_msg}}
   <div class="error__msg-2">
      <p>{{error_msg}}</p>
      <p class="error__exit">&times;</p>
   </div>
   {{/if}}

   {{#if errors}}
      {{#each errors}}
         <div class="error__msg-2">
            <p>{{msg}}</p>
            <p class="error__exit">&times;</p>
         </div>
      {{/each}}
   {{/if}}

   {{#if error}}
      {{#each error}}
         <div class="error__msg-2">
            <p>{{this}}</p>
            <p class="error__exit">&times;</p>
         </div>
      {{/each}}
   {{/if}}

   {{#if success_msg}}
   <div class="success__msg-2">
      <p>{{success_msg}}</p>
      <p class="error__exit">&times;</p>
   </div>
   {{/if}}
   <div class="form-container-2 auth_form">
      <h3 class="landing-title-faded">Sign Up</h3>
      <p style="margin-top: 15px;">Hi there, Hryzn is currently private as we're still opening up. Only those with an invitation are granted exclusive access.
      If you would like to request access, feel free to <a href="/about/contact" style="text-decoration: underline!important">contact us.</a></p>
      <form method="post" action="/users/register" enctype="multipart/form-data">
         <div class="container">
            <div class="form_row">
               <div class="col-lg-6">
                  <input class="form__input" type="text" placeholder="Enter username" name="username" value="{{username}}" required autocapitalize="none" />
               </div>

               <div class="col-lg-6">
                  <input class="form__input" type="email" placeholder="Enter email address" name="email" value="{{email}}" required autocapitalize="none" />
               </div>
            </div>
            <input class="form__input" type="password" placeholder="Enter password" name="password" value="{{password}}" required autocapitalize="none" />
            <input class="form__input" type="password" placeholder="Confirm password" name="password2" value="{{password2}}" required autocapitalize="none" />

            <input class="form__input" type="text" placeholder="Enter invitation code" name="access_code" value="{{access_code}}" autocapitalize="none" />
            <input class="form__input" type="hidden" name="creator_account" value="{{creator_account}}"/>

            <fieldset class="register_dob">
               <legend>Date Of Birth</legend>
               <div class="field-inline-block">
                  <label>DD</label>
                  <input type="text" pattern="[0-9]*" maxlength="2" size="2" class="date-field" name="dob_day"/>
               </div>
               /
               <div class="field-inline-block">
                  <label>MM</label>
                  <input type="text" pattern="[0-9]*" maxlength="2" size="2" class="date-field" name="dob_month" />
               </div>
               /
               <div class="field-inline-block">
                  <label>YYYY</label>
                  <input type="text" pattern="[0-9]*" maxlength="4" size="4" class="date-field date-field--year" name="dob_year" />
               </div>

               <div class="dob_tooltip_container">
                  <div class="dob_tooltip">
                     <small class="dob_small">Why date of birth&quest;</small>
                     <span class="dob_tooltiptext">
                        You must be at least 13 years old to have a Hryzn account. This information helps ensure that underage people aren’t using Hryzn,
                        while providing a safe, age-appropriate experience for the Hryzn community.
                     </span>
                  </div>
               </div>
            </fieldset>

            <div class="form_row auth_btn">
             <button class="form__sign-up-button login_page_btn project_submit" name="submit" type="submit">Sign Up</button>
             <a class="form__href login_page_secondary" href="/users/login">Login</a>
            </div>
            <small class="small_tos">By clicking Sign Up, you agree to our <a href="/about/terms">Terms</a>. Learn how we ensure quality user experience in our <a href="/about/privacy">Privacy Policy</a>,
            and how we use cookies and similar technology in our <a href="/about/cookies">Cookies Policy</a></small>
        </div>
      </form>
   </div>
</div>

<!-- Loader Balls -->
<div id="autoLoader" class="loader_project">
   <div class='loader-container'>
      <div class='ball-wrapper'>
         <div class='ball-holder'>
            <div class='ball'></div>
         </div>
         <div class='shadow'></div>
      </div>

      <div class='ball-wrapper'>
         <div class='ball-holder'>
            <div class='ball'></div>
         </div>
         <div class='shadow'></div>
      </div>

      <div class='ball-wrapper'>
         <div class='ball-holder'>
            <div class='ball'></div>
         </div>
         <div class='shadow'></div>
      </div>
      <p id="autoText" class="loader_text">Thank you, please wait the computer is doing its thing.</p>
   </div>
</div>
